In [34]:
import pandas as pd
import numpy as np

In [51]:
LEAGUE_ID = 78

START_SEASON = 2014
END_SEASON = 2023

In [77]:
lines_df = None

for season in range(START_SEASON, END_SEASON):
    if lines_df is None:
        lines_df = pd.read_csv(f"./lines/{LEAGUE_ID}/{season}.csv")
    else:
        lines_df = pd.concat([lines_df, pd.read_csv(f"./lines/{LEAGUE_ID}/{season}.csv")])
        
display(lines_df)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,D1,22/08/14,Bayern Munich,Wolfsburg,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,23/08/14,Dortmund,Leverkusen,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,23/08/14,Ein Frankfurt,Freiburg,1,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,23/08/14,FC Koln,Hamburg,0,0,D,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,23/08/14,Hannover,Schalke 04,2,1,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,D1,25/02/2023,RB Leipzig,Ein Frankfurt,2,1,H,2,0,H,...,2.07,-0.75,1.80,2.14,1.82,2.10,1.83,2.15,1.80,2.08
194,D1,25/02/2023,Werder Bremen,Bochum,3,0,H,2,0,H,...,2.12,-0.50,1.92,2.01,1.93,1.99,1.95,2.03,1.91,1.96
195,D1,25/02/2023,Schalke 04,Stuttgart,2,1,H,2,0,H,...,1.76,0.25,1.87,2.06,1.79,2.15,1.92,2.15,1.86,2.01
196,D1,26/02/2023,Freiburg,Leverkusen,1,1,D,1,0,H,...,2.05,-0.25,2.08,1.82,2.09,1.85,2.15,1.89,2.03,1.83
197,D1,26/02/2023,Bayern Munich,Union Berlin,3,0,H,3,0,H,...,2.19,-1.25,1.94,1.96,1.93,2.00,1.97,2.03,1.90,1.96

In [78]:
unique_values = lines_df.HomeTeam.unique().astype(str)
print(f"There are {lines_df.HomeTeam.nunique()} different teams. Check your database to modify it's names in order to correctly update sportsbook info. The unique teams are:")
print(np.sort(unique_values[unique_values != 'nan']))

There are 27 different teams. Check your database to modify it's names in order to correctly update sportsbook info. The unique teams are:
['Augsburg' 'Bayern Munich' 'Bielefeld' 'Bochum' 'Darmstadt' 'Dortmund'
 'Ein Frankfurt' 'FC Koln' 'Fortuna Dusseldorf' 'Freiburg'
 'Greuther Furth' 'Hamburg' 'Hannover' 'Hertha' 'Hoffenheim' 'Ingolstadt'
 'Leverkusen' "M'gladbach" 'Mainz' 'Nurnberg' 'Paderborn' 'RB Leipzig'
 'Schalke 04' 'Stuttgart' 'Union Berlin' 'Werder Bremen' 'Wolfsburg']

In [79]:
print('Columns:')
print(lines_df.columns.tolist())

Columns:
['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA', 'Time', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA']

In [82]:
selected_columns = ['Date', 'HomeTeam', 'AwayTeam', 'PSH', 'PSD', 'PSA', 'P>2.5', 'P<2.5', 'AHh', 'PAHH', 'PAHA']
filtered_lines_df = lines_df.loc[:, selected_columns].rename({'P<2.5': 'UNDER_2.5_ODDS', 'P>2.5': 'OVER_2.5_ODDS', 'PSH': 'HOME_ODDS', 'PSD': 'DRAW_ODDS', 'PSA': 'AWAY_ODDS', 'AHh': 'HANDICAP'}, axis=1)
filtered_lines_df['HANDICAP_ODDS'] = (filtered_lines_df['PAHH'] + filtered_lines_df['PAHA']) / 2
filtered_lines_df.drop(['PAHH', 'PAHA'], axis=1, inplace=True)
filtered_lines_df['HANDICAP'] = filtered_lines_df['HANDICAP'].abs()
display(filtered_lines_df)

,Date,HomeTeam,AwayTeam,HOME_ODDS,DRAW_ODDS,AWAY_ODDS,OVER_2.5_ODDS,UNDER_2.5_ODDS,HANDICAP,HANDICAP_ODDS
0,22/08/14,Bayern Munich,Wolfsburg,1.28,6.47,12.00,NaN,NaN,NaN,NaN
1,23/08/14,Dortmund,Leverkusen,1.63,4.39,5.56,NaN,NaN,NaN,NaN
2,23/08/14,Ein Frankfurt,Freiburg,2.04,3.63,3.93,NaN,NaN,NaN,NaN
3,23/08/14,FC Koln,Hamburg,2.04,3.67,3.89,NaN,NaN,NaN,NaN
4,23/08/14,Hannover,Schalke 04,3.15,3.58,2.37,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
193,25/02/2023,RB Leipzig,Ein Frankfurt,1.73,4.25,4.74,1.71,2.25,0.75,1.965
194,25/02/2023,Werder Bremen,Bochum,2.04,3.78,3.72,1.79,2.13,0.50,1.960
195,25/02/2023,Schalke 04,Stuttgart,3.05,3.46,2.47,2.07,1.85,0.25,1.975
196,26/02/2023,Freiburg,Leverkusen,2.24,3.66,3.30,1.85,2.07,0.25,1.960
197,26/02/2023,Bayern Munich,Union Berlin,1.34,5.68,9.74,1.60,2.48,1.50,1.960