In [30]:
import pandas as pd
import numpy as np
from config import conn_host, conn_database, conn_user, conn_password
import mysql.connector
from IPython.display import clear_output
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [137]:
LEAGUE_ID = 39

START_SEASON = 2014
END_SEASON = 2023

In [138]:
def connect_to_db():
    return mysql.connector.connect(host=conn_host, 
                                     database=conn_database,
                                     user=conn_user,
                                     password=conn_password)

def execute_query(query, read_only = True):
    resp = None
    try:
        db = connect_to_db()
        if read_only:
            resp = pd.read_sql_query(query, db)
        else:
            mycursor = db.cursor()
            mycursor.execute(query)

            db.commit()
    except Exception as e:
        print(e)
    db.close()
    return resp

def execute_multiple_queries(queries):
    try:
        db = connect_to_db()
        mycursor = db.cursor()
        for query in queries:
            mycursor.execute(query)

        db.commit()
        db.close()
    except Exception as e:
        print(e)

In [139]:
execute_query("ALTER TABLE matches " +
              "ADD home_odds FLOAT NULL," +
              "ADD away_odds FLOAT NULL," +
              "ADD draw_odds FLOAT NULL;")
execute_query("ALTER TABLE matches " +
              "ADD over_odds FLOAT NULL," +
              "ADD under_odds FLOAT NULL;")
execute_query("ALTER TABLE matches " +
              "ADD handicap_size FLOAT NULL," +
              "ADD handicap_odds FLOAT NULL;")

Execution failed on sql 'ALTER TABLE matches ADD home_odds FLOAT NULL,ADD away_odds FLOAT NULL,ADD draw_odds FLOAT NULL;': 1060 (42S21): Duplicate column name 'home_odds'
Execution failed on sql 'ALTER TABLE matches ADD over_odds FLOAT NULL,ADD under_odds FLOAT NULL;': 1060 (42S21): Duplicate column name 'over_odds'
Execution failed on sql 'ALTER TABLE matches ADD handicap_size FLOAT NULL,ADD handicap_odds FLOAT NULL;': 1060 (42S21): Duplicate column name 'handicap_size'

In [140]:
teams = execute_query("SELECT * FROM teams")
display(teams)

        id          name
0       33    Man United
1       34     Newcastle
2       35   Bournemouth
3       36        Fulham
4       37  Huddersfield
..     ...           ...
415  12277      Ipatinga
416  13173    Chivas USA
417  13974    Santa Cruz
418  16489     Austin FC
419  18310     Charlotte

[420 rows x 2 columns]

In [141]:
lines_df = None

for season in range(START_SEASON, END_SEASON):
    if season == START_SEASON:
        lines_df = pd.read_csv(f"./lines/{LEAGUE_ID}/{season}.csv")
    else:
        lines_df = pd.concat([lines_df, pd.read_csv(f"./lines/{LEAGUE_ID}/{season}.csv")])
        
display(lines_df)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,16/08/14,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,16/08/14,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,16/08/14,QPR,Hull,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,16/08/14,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,E0,25/02/2023,Bournemouth,Man City,1.0,4.0,A,0.0,3.0,A,...,2.35,1.50,1.99,1.94,2.07,1.86,2.12,1.95,2.01,1.88
237,E0,25/02/2023,Crystal Palace,Liverpool,0.0,0.0,D,0.0,0.0,D,...,2.06,0.75,2.04,1.89,2.02,1.90,2.13,1.95,2.00,1.88
238,E0,26/02/2023,Tottenham,Chelsea,2.0,0.0,H,0.0,0.0,D,...,1.80,0.00,2.16,1.78,2.16,1.80,2.20,1.86,2.10,1.80
239,E0,01/03/2023,Arsenal,Everton,4.0,0.0,H,2.0,0.0,H,...,2.00,-1.50,2.01,1.92,1.98,1.94,2.01,1.98,1.96,1.92
240,E0,01/03/2023,Liverpool,Wolves,2.0,0.0,H,0.0,0.0,D,...,2.10,-1.00,1.87,2.06,1.87,2.06,1.89,2.10,1.85,2.03

In [142]:
unique_values = lines_df.HomeTeam.unique().astype(str)
print(f"There are {lines_df.HomeTeam.nunique()} different teams. Check your database to modify it's names in order to correctly update sportsbook info. The unique teams are:")
print(np.sort(unique_values[unique_values != 'nan']))

There are 33 different teams. Check your database to modify it's names in order to correctly update sportsbook info. The unique teams are:
['Arsenal' 'Aston Villa' 'Bournemouth' 'Brentford' 'Brighton' 'Burnley'
 'Cardiff' 'Chelsea' 'Crystal Palace' 'Everton' 'Fulham' 'Huddersfield'
 'Hull' 'Leeds' 'Leicester' 'Liverpool' 'Man City' 'Man United'
 'Middlesbrough' 'Newcastle' 'Norwich' "Nott'm Forest" 'QPR'
 'Sheffield United' 'Southampton' 'Stoke' 'Sunderland' 'Swansea'
 'Tottenham' 'Watford' 'West Brom' 'West Ham' 'Wolves']

In [143]:
print('Columns:')
print(lines_df.columns.tolist())

Columns:
['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA', 'Time', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA']

In [144]:
def convert_to_date(date):
    date_format = '%d/%m/%Y' if len(date.split('/')[-1]) == 4 else '%d/%m/%y'
    return datetime.strptime(date, date_format).strftime('%d/%m/%Y')

selected_columns = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'PSH', 'PSD', 'PSA', 'P>2.5', 'P<2.5', 'AHh', 'PAHH', 'PAHA']
filtered_lines_df = lines_df.loc[:, selected_columns].rename({'FTHG': 'HOME_SCORE', 'FTAG': 'AWAY_SCORE', 'P<2.5': 'UNDER_2.5_ODDS', 'P>2.5': 'OVER_2.5_ODDS', 'PSH': 'HOME_ODDS', 'PSD': 'DRAW_ODDS', 'PSA': 'AWAY_ODDS', 'AHh': 'HANDICAP'}, axis=1)
filtered_lines_df['HANDICAP_ODDS'] = (filtered_lines_df['PAHH'] + filtered_lines_df['PAHA']) / 2
filtered_lines_df.drop(['PAHH', 'PAHA'], axis=1, inplace=True)
filtered_lines_df['HANDICAP'] = filtered_lines_df['HANDICAP'].abs()
filtered_lines_df = filtered_lines_df[filtered_lines_df['Date'].notna()]
filtered_lines_df['Date'] = pd.to_datetime(filtered_lines_df['Date'].apply(lambda x: convert_to_date(x)), format='%d/%m/%Y') 
display(filtered_lines_df)

,Date,HomeTeam,AwayTeam,HOME_SCORE,AWAY_SCORE,HOME_ODDS,DRAW_ODDS,AWAY_ODDS,OVER_2.5_ODDS,UNDER_2.5_ODDS,HANDICAP,HANDICAP_ODDS
0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,1.26,6.45,14.01,NaN,NaN,NaN,NaN
1,2014-08-16,Leicester,Everton,2.0,2.0,3.14,3.38,2.46,NaN,NaN,NaN,NaN
2,2014-08-16,Man United,Swansea,1.0,2.0,1.37,5.10,10.60,NaN,NaN,NaN,NaN
3,2014-08-16,QPR,Hull,0.0,1.0,2.48,3.26,3.22,NaN,NaN,NaN,NaN
4,2014-08-16,Stoke,Aston Villa,0.0,1.0,1.95,3.47,4.55,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
236,2023-02-25,Bournemouth,Man City,1.0,4.0,9.67,5.74,1.30,1.59,2.47,1.50,1.950
237,2023-02-25,Crystal Palace,Liverpool,0.0,0.0,4.86,3.99,1.76,1.83,2.07,0.75,1.960
238,2023-02-26,Tottenham,Chelsea,2.0,0.0,2.59,3.36,2.96,2.08,1.84,0.00,1.970
239,2023-03-01,Arsenal,Everton,4.0,0.0,1.38,5.01,9.10,1.86,2.04,1.25,1.960
240,2023-03-01,Liverpool,Wolves,2.0,0.0,1.50,4.63,6.68,1.75,2.16,1.00,1.965

In [145]:
def get_team_id(team):
    return teams[teams['name'].str.lower() == team.lower()].reset_index(drop=True).loc[0, 'id']

filtered_lines_df['HOME_ID'] = filtered_lines_df.HomeTeam.apply(lambda x: get_team_id(x))
filtered_lines_df['AWAY_ID'] = filtered_lines_df.AwayTeam.apply(lambda x: get_team_id(x))
display(filtered_lines_df)

,Date,HomeTeam,AwayTeam,HOME_SCORE,AWAY_SCORE,HOME_ODDS,DRAW_ODDS,AWAY_ODDS,OVER_2.5_ODDS,UNDER_2.5_ODDS,HANDICAP,HANDICAP_ODDS,HOME_ID,AWAY_ID
0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,1.26,6.45,14.01,NaN,NaN,NaN,NaN,42,52
1,2014-08-16,Leicester,Everton,2.0,2.0,3.14,3.38,2.46,NaN,NaN,NaN,NaN,46,45
2,2014-08-16,Man United,Swansea,1.0,2.0,1.37,5.10,10.60,NaN,NaN,NaN,NaN,33,76
3,2014-08-16,QPR,Hull,0.0,1.0,2.48,3.26,3.22,NaN,NaN,NaN,NaN,72,64
4,2014-08-16,Stoke,Aston Villa,0.0,1.0,1.95,3.47,4.55,NaN,NaN,NaN,NaN,75,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,2023-02-25,Bournemouth,Man City,1.0,4.0,9.67,5.74,1.30,1.59,2.47,1.50,1.950,35,50
237,2023-02-25,Crystal Palace,Liverpool,0.0,0.0,4.86,3.99,1.76,1.83,2.07,0.75,1.960,52,40
238,2023-02-26,Tottenham,Chelsea,2.0,0.0,2.59,3.36,2.96,2.08,1.84,0.00,1.970,47,49
239,2023-03-01,Arsenal,Everton,4.0,0.0,1.38,5.01,9.10,1.86,2.04,1.25,1.960,42,45
240,2023-03-01,Liverpool,Wolves,2.0,0.0,1.50,4.63,6.68,1.75,2.16,1.00,1.965,40,39

In [146]:
game_errors = []
update_queries = []

for index, row in filtered_lines_df.iterrows():
    try:
        date_minus_one_day = row['Date'] - timedelta(days=1)
        date_plus_one_day = row['Date'] + timedelta(days=1)
        game_id = execute_query(f"SELECT id from matches WHERE (DATE_FORMAT(date,'%d/%m/%Y') = '{row['Date'].strftime('%d/%m/%Y')}' OR DATE_FORMAT(date,'%d/%m/%Y') = '{date_minus_one_day.strftime('%d/%m/%Y')}' OR DATE_FORMAT(date,'%d/%m/%Y') = '{date_plus_one_day.strftime('%d/%m/%Y')}') AND home_id = {row['HOME_ID']} AND away_id = {row['AWAY_ID']}").iloc[0]['id']
        if not np.isnan(row['HOME_ODDS']) and not np.isnan(row['AWAY_ODDS']) and not np.isnan(row['DRAW_ODDS']): update_queries.append(f"UPDATE matches SET home_odds = {row['HOME_ODDS']}, away_odds = {row['AWAY_ODDS']}, draw_odds = {row['DRAW_ODDS']} WHERE id = {game_id}")
        if not np.isnan(row['OVER_2.5_ODDS']) and not np.isnan(row['UNDER_2.5_ODDS']): update_queries.append(f"UPDATE matches SET over_odds = {row['OVER_2.5_ODDS']}, under_odds = {row['UNDER_2.5_ODDS']} WHERE id = {game_id}")
        if not np.isnan(row['HANDICAP_ODDS']) and not np.isnan(row['HANDICAP']): update_queries.append(f"UPDATE matches SET handicap_size = {row['HANDICAP']}, handicap_odds = {row['HANDICAP_ODDS']} WHERE id = {game_id}")
    except Exception as e:
        new_item = dict()
        new_item['error'] = e
        new_item['match'] = row
        game_errors.append(new_item)
    clear_output(wait=True)
    print(f"{index}/{len(filtered_lines_df)}")

240/3281

In [147]:
if len(game_errors) == 0:
    print('There were no errors while reading games from the Football Co Data csvs.')
else:
    print('The following games had an error while trying to read games from the Football Co Data csvs:')
    for item in game_errors:
        print(f"\n{item['match']['Date']}: {item['match']['HomeTeam']}({item['match']['HOME_ID']}) {item['match']['HOME_SCORE']} x {item['match']['AWAY_SCORE']} {item['match']['AWAY_ID']}({item['match']['AwayTeam']})")
        print(f"ERROR: {item['error']}")

The following games had an error while trying to read games from the Football Co Data csvs:

2023-01-12 00:00:00: Fulham(36) 2.0 x 1.0 49(Chelsea)
ERROR: single positional indexer is out-of-bounds

2023-01-18 00:00:00: Crystal Palace(52) 1.0 x 1.0 33(Man United)
ERROR: single positional indexer is out-of-bounds

2023-01-19 00:00:00: Man City(50) 4.0 x 2.0 47(Tottenham)
ERROR: single positional indexer is out-of-bounds

2023-02-08 00:00:00: Man United(33) 2.0 x 2.0 63(Leeds)
ERROR: single positional indexer is out-of-bounds

2023-02-15 00:00:00: Arsenal(42) 1.0 x 3.0 50(Man City)
ERROR: single positional indexer is out-of-bounds

2023-03-01 00:00:00: Arsenal(42) 4.0 x 0.0 45(Everton)
ERROR: single positional indexer is out-of-bounds

2023-03-01 00:00:00: Liverpool(40) 2.0 x 0.0 39(Wolves)
ERROR: single positional indexer is out-of-bounds

In [148]:
for q in update_queries:
    print(q)

UPDATE matches SET home_odds = 1.26, away_odds = 14.01, draw_odds = 6.45 WHERE id = 192683
UPDATE matches SET home_odds = 3.14, away_odds = 2.46, draw_odds = 3.38 WHERE id = 192678
UPDATE matches SET home_odds = 1.37, away_odds = 10.6, draw_odds = 5.1 WHERE id = 192677
UPDATE matches SET home_odds = 2.48, away_odds = 3.22, draw_odds = 3.26 WHERE id = 192679
UPDATE matches SET home_odds = 1.95, away_odds = 4.55, draw_odds = 3.47 WHERE id = 192680
UPDATE matches SET home_odds = 2.21, away_odds = 3.73, draw_odds = 3.34 WHERE id = 192681
UPDATE matches SET home_odds = 3.96, away_odds = 2.06, draw_odds = 3.55 WHERE id = 192682
UPDATE matches SET home_odds = 1.35, away_odds = 10.3, draw_odds = 5.48 WHERE id = 192684
UPDATE matches SET home_odds = 5.8, away_odds = 1.63, draw_odds = 4.28 WHERE id = 192685
UPDATE matches SET home_odds = 9.77, away_odds = 1.41, draw_odds = 4.81 WHERE id = 192686
UPDATE matches SET home_odds = 2.56, away_odds = 3.01, draw_odds = 3.36 WHERE id = 192687
UPDATE matches SET home_odds = 1.21, away_odds = 17.7, draw_odds = 7.28 WHERE id = 192688
UPDATE matches SET home_odds = 2.44, away_odds = 3.3, draw_odds = 3.25 WHERE id = 192689
UPDATE matches SET home_odds = 2.72, away_odds = 2.76, draw_odds = 3.45 WHERE id = 192692
UPDATE matches SET home_odds = 1.86, away_odds = 4.62, draw_odds = 3.76 WHERE id = 192690
UPDATE matches SET home_odds = 1.64, away_odds = 5.98, draw_odds = 4.13 WHERE id = 192691
UPDATE matches SET home_odds = 2.48, away_odds = 3.31, draw_odds = 3.18 WHERE id = 192693
UPDATE matches SET home_odds = 4.95, away_odds = 1.79, draw_odds = 3.93 WHERE id = 192695
UPDATE matches SET home_odds = 1.49, away_odds = 7.5, draw_odds = 4.64 WHERE id = 192694
UPDATE matches SET home_odds = 1.83, away_odds = 4.43, draw_odds = 4.05 WHERE id = 192696
UPDATE matches SET home_odds = 6.11, away_odds = 1.62, draw_odds = 4.18 WHERE id = 192697
UPDATE matches SET home_odds = 3.79, away_odds = 2.19, draw_odds = 3.33 WHERE id = 192703
UPDATE matches SET home_odds = 1.2, away_odds = 17.95, draw_odds = 7.8 WHERE id = 192698
UPDATE matches SET home_odds = 1.74, away_odds = 5.58, draw_odds = 3.78 WHERE id = 192699
UPDATE matches SET home_odds = 2.43, away_odds = 3.35, draw_odds = 3.23 WHERE id = 192700
UPDATE matches SET home_odds = 1.88, away_odds = 4.67, draw_odds = 3.66 WHERE id = 192701
UPDATE matches SET home_odds = 2.8, away_odds = 2.69, draw_odds = 3.43 WHERE id = 192702
UPDATE matches SET home_odds = 2.33, away_odds = 3.63, draw_odds = 3.16 WHERE id = 192704
UPDATE matches SET home_odds = 4.54, away_odds = 1.87, draw_odds = 3.8 WHERE id = 192706
UPDATE matches SET home_odds = 2.69, away_odds = 2.77, draw_odds = 3.48 WHERE id = 192705
UPDATE matches SET home_odds = 3.03, away_odds = 2.48, draw_odds = 3.48 WHERE id = 192707
UPDATE matches SET home_odds = 1.32, away_odds = 12.04, draw_odds = 5.62 WHERE id = 192708
UPDATE matches SET home_odds = 2.23, away_odds = 3.66, draw_odds = 3.35 WHERE id = 192709
UPDATE matches SET home_odds = 1.3, away_odds = 11.85, draw_odds = 5.92 WHERE id = 192714
UPDATE matches SET home_odds = 1.79, away_odds = 5.06, draw_odds = 3.78 WHERE id = 192710
UPDATE matches SET home_odds = 2.1, away_odds = 4.07, draw_odds = 3.35 WHERE id = 192711
UPDATE matches SET home_odds = 3.71, away_odds = 2.15, draw_odds = 3.5 WHERE id = 192712
UPDATE matches SET home_odds = 3.57, away_odds = 2.21, draw_odds = 3.48 WHERE id = 192713
UPDATE matches SET home_odds = 1.27, away_odds = 13.29, draw_odds = 6.33 WHERE id = 192715
UPDATE matches SET home_odds = 2.15, away_odds = 3.91, draw_odds = 3.33 WHERE id = 192716
UPDATE matches SET home_odds = 4.71, away_odds = 1.88, draw_odds = 3.63 WHERE id = 192718
UPDATE matches SET home_odds = 2.49, away_odds = 3.12, draw_odds = 3.36 WHERE id = 192719
UPDATE matches SET home_odds = 2.14, away_odds = 3.86, draw_odds = 3.4 WHERE id = 192720
UPDATE matches SET home_odds = 2.77, away_odds = 2.91, draw_odds = 3.15 WHERE id = 192717
UPDATE matches SET home_odds = 2.46, away_odds = 3.18, draw_odds = 3.34 WHERE id = 192721
UPDATE matches SET home_odds = 4.56, away_odds = 1.84, draw_odds = 3.89 WHERE id = 192722
UPDATE matches SET home_odds = 1.39, away_odds = 9.52, draw_odds = 5.09 WHERE id = 192725
UPDATE matches SET home_odds = 5.64, away_odds = 1.65, draw_odds = 4.23 WHERE id = 192723
UPDATE matches SET home_odds = 2.39, away_odds = 3.12, draw_odds = 3.56 WHERE id = 192726
UPDATE matches SET home_odds = 1.53, away_odds = 7.25, draw_odds = 4.39 WHERE id = 192724
UPDATE matches SET home_odds = 1.8, away_odds = 4.87, draw_odds = 3.86 WHERE id = 192734
UPDATE matches SET home_odds = 1.22, away_odds = 16.5, draw_odds = 7.05 WHERE id = 192728
UPDATE matches SET home_odds = 2.64, away_odds = 2.9, draw_odds = 3.37 WHERE id = 192729
UPDATE matches SET home_odds = 6.79, away_odds = 1.56, draw_odds = 4.32 WHERE id = 192730
UPDATE matches SET home_odds = 1.96, away_odds = 4.04, draw_odds = 3.81 WHERE id = 192727
UPDATE matches SET home_odds = 1.39, away_odds = 8.41, draw_odds = 5.44 WHERE id = 192731
UPDATE matches SET home_odds = 1.47, away_odds = 8.14, draw_odds = 4.63 WHERE id = 192732
UPDATE matches SET home_odds = 2.96, away_odds = 2.69, draw_odds = 3.23 WHERE id = 192733
UPDATE matches SET home_odds = 2.01, away_odds = 4.29, draw_odds = 3.46 WHERE id = 192735
UPDATE matches SET home_odds = 2.13, away_odds = 3.86, draw_odds = 3.42 WHERE id = 192736
UPDATE matches SET home_odds = 8.05, away_odds = 1.48, draw_odds = 4.57 WHERE id = 192742
UPDATE matches SET home_odds = 2.12, away_odds = 3.89, draw_odds = 3.44 WHERE id = 192737
UPDATE matches SET home_odds = 1.79, away_odds = 5.16, draw_odds = 3.72 WHERE id = 192738
UPDATE matches SET home_odds = 1.46, away_odds = 7.95, draw_odds = 4.78 WHERE id = 192739
UPDATE matches SET home_odds = 2.55, away_odds = 3.14, draw_odds = 3.23 WHERE id = 192740
UPDATE matches SET home_odds = 1.92, away_odds = 4.44, draw_odds = 3.65 WHERE id = 192741
UPDATE matches SET home_odds = 1.67, away_odds = 5.64, draw_odds = 4.1 WHERE id = 192745
UPDATE matches SET home_odds = 1.66, away_odds = 5.62, draw_odds = 4.19 WHERE id = 192743
UPDATE matches SET home_odds = 2.16, away_odds = 3.73, draw_odds = 3.45 WHERE id = 192744
UPDATE matches SET home_odds = 1.91, away_odds = 4.56, draw_odds = 3.61 WHERE id = 192746
UPDATE matches SET home_odds = 1.44, away_odds = 8.39, draw_odds = 4.87 WHERE id = 192748
UPDATE matches SET home_odds = 2.83, away_odds = 2.7, draw_odds = 3.37 WHERE id = 192749
UPDATE matches SET home_odds = 8.5, away_odds = 1.45, draw_odds = 4.68 WHERE id = 192750
UPDATE matches SET home_odds = 1.56, away_odds = 6.76, draw_odds = 4.29 WHERE id = 192751
UPDATE matches SET home_odds = 1.47, away_odds = 7.77, draw_odds = 4.79 WHERE id = 192747
UPDATE matches SET home_odds = 2.25, away_odds = 3.31, draw_odds = 3.59 WHERE id = 192753
UPDATE matches SET home_odds = 1.59, away_odds = 6.79, draw_odds = 4.12 WHERE id = 192752
UPDATE matches SET home_odds = 6.52, away_odds = 1.58, draw_odds = 4.3 WHERE id = 192754
UPDATE matches SET home_odds = 2.55, away_odds = 3.07, draw_odds = 3.31 WHERE id = 192755
UPDATE matches SET home_odds = 5.05, away_odds = 1.75, draw_odds = 3.97 WHERE id = 192756
UPDATE matches SET home_odds = 1.44, away_odds = 8.29, draw_odds = 4.84 WHERE id = 192758
UPDATE matches SET home_odds = 1.65, away_odds = 5.94, draw_odds = 4.1 WHERE id = 192759
UPDATE matches SET home_odds = 5.21, away_odds = 1.74, draw_odds = 3.95 WHERE id = 192760
UPDATE matches SET home_odds = 1.92, away_odds = 4.37, draw_odds = 3.72 WHERE id = 192762
UPDATE matches SET home_odds = 1.89, away_odds = 4.65, draw_odds = 3.62 WHERE id = 192761
UPDATE matches SET home_odds = 6.66, away_odds = 1.52, draw_odds = 4.71 WHERE id = 192757
UPDATE matches SET home_odds = 4.49, away_odds = 1.87, draw_odds = 3.81 WHERE id = 192763
UPDATE matches SET home_odds = 2.92, away_odds = 2.55, draw_odds = 3.5 WHERE id = 192765
UPDATE matches SET home_odds = 1.76, away_odds = 5.03, draw_odds = 3.93 WHERE id = 192764
UPDATE matches SET home_odds = 2.33, away_odds = 3.45, draw_odds = 3.32 WHERE id = 192766
UPDATE matches SET home_odds = 1.28, away_odds = 13.23, draw_odds = 6.21 WHERE id = 192768
UPDATE matches SET home_odds = 1.19, away_odds = 19.99, draw_odds = 7.8 WHERE id = 192769
UPDATE matches SET home_odds = 1.74, away_odds = 5.39, draw_odds = 3.85 WHERE id = 192770
UPDATE matches SET home_odds = 4.01, away_odds = 2.03, draw_odds = 3.61 WHERE id = 192771
UPDATE matches SET home_odds = 2.35, away_odds = 3.27, draw_odds = 3.46 WHERE id = 192772
UPDATE matches SET home_odds = 3.77, away_odds = 2.05, draw_odds = 3.74 WHERE id = 192767
UPDATE matches SET home_odds = 2.42, away_odds = 3.22, draw_odds = 3.37 WHERE id = 192773
UPDATE matches SET home_odds = 3.89, away_odds = 2.08, draw_odds = 3.53 WHERE id = 192775
UPDATE matches SET home_odds = 1.9, away_odds = 4.33, draw_odds = 3.81 WHERE id = 192774
UPDATE matches SET home_odds = 2.08, away_odds = 3.96, draw_odds = 3.48 WHERE id = 192776
UPDATE matches SET home_odds = 2.52, away_odds = 3.07, draw_odds = 3.36 WHERE id = 192778
UPDATE matches SET home_odds = 3.36, away_odds = 2.31, draw_odds = 3.46 WHERE id = 192777
UPDATE matches SET home_odds = 1.3, away_odds = 12.0, draw_odds = 5.87 WHERE id = 192779
UPDATE matches SET home_odds = 7.14, away_odds = 1.5, draw_odds = 4.73 WHERE id = 192782
UPDATE matches SET home_odds = 1.44, away_odds = 8.54, draw_odds = 4.83 WHERE id = 192780
UPDATE matches SET home_odds = 1.75, away_odds = 5.52, draw_odds = 3.73 WHERE id = 192781
UPDATE matches SET home_odds = 4.07, away_odds = 2.05, draw_odds = 3.48 WHERE id = 192783
UPDATE matches SET home_odds = 3.59, away_odds = 2.19, draw_odds = 3.5 WHERE id = 192786
UPDATE matches SET home_odds = 1.69, away_odds = 5.81, draw_odds = 3.91 WHERE id = 192784
UPDATE matches SET home_odds = 2.26, away_odds = 3.47, draw_odds = 3.45 WHERE id = 192785
UPDATE matches SET home_odds = 2.16, away_odds = 3.51, draw_odds = 3.67 WHERE id = 192793
UPDATE matches SET home_odds = 1.24, away_odds = 15.21, draw_odds = 6.64 WHERE id = 192787
UPDATE matches SET home_odds = 1.85, away_odds = 4.59, draw_odds = 3.82 WHERE id = 192788
UPDATE matches SET home_odds = 2.1, away_odds = 3.87, draw_odds = 3.51 WHERE id = 192789
UPDATE matches SET home_odds = 1.39, away_odds = 8.85, draw_odds = 5.36 WHERE id = 192790
UPDATE matches SET home_odds = 1.85, away_odds = 4.75, draw_odds = 3.71 WHERE id = 192791
UPDATE matches SET home_odds = 1.68, away_odds = 5.9, draw_odds = 3.89 WHERE id = 192792
UPDATE matches SET home_odds = 4.65, away_odds = 1.86, draw_odds = 3.74 WHERE id = 192794
UPDATE matches SET home_odds = 3.72, away_odds = 2.16, draw_odds = 3.46 WHERE id = 192795
UPDATE matches SET home_odds = 5.54, away_odds = 1.74, draw_odds = 3.79 WHERE id = 192796
UPDATE matches SET home_odds = 2.15, away_odds = 3.85, draw_odds = 3.38 WHERE id = 192798
UPDATE matches SET home_odds = 1.74, away_odds = 5.31, draw_odds = 3.91 WHERE id = 192799
UPDATE matches SET home_odds = 1.33, away_odds = 10.75, draw_odds = 5.65 WHERE id = 192800
UPDATE matches SET home_odds = 2.32, away_odds = 3.38, draw_odds = 3.41 WHERE id = 192801
UPDATE matches SET home_odds = 10.2, away_odds = 1.38, draw_odds = 5.12 WHERE id = 192804
UPDATE matches SET home_odds = 1.81, away_odds = 5.04, draw_odds = 3.73 WHERE id = 192802
UPDATE matches SET home_odds = 4.68, away_odds = 1.86, draw_odds = 3.7 WHERE id = 192797
UPDATE matches SET home_odds = 2.12, away_odds = 3.76, draw_odds = 3.54 WHERE id = 192803
UPDATE matches SET home_odds = 3.08, away_odds = 2.44, draw_odds = 3.5 WHERE id = 192805
UPDATE matches SET home_odds = 2.24, away_odds = 3.39, draw_odds = 3.58 WHERE id = 192806
UPDATE matches SET home_odds = 2.87, away_odds = 2.72, draw_odds = 3.29 WHERE id = 192807
UPDATE matches SET home_odds = 2.08, away_odds = 4.05, draw_odds = 3.42 WHERE id = 192811
UPDATE matches SET home_odds = 3.8, away_odds = 2.09, draw_odds = 3.58 WHERE id = 192808
UPDATE matches SET home_odds = 1.44, away_odds = 8.65, draw_odds = 4.7 WHERE id = 192809
UPDATE matches SET home_odds = 1.72, away_odds = 5.38, draw_odds = 3.96 WHERE id = 192810
UPDATE matches SET home_odds = 2.54, away_odds = 3.06, draw_odds = 3.33 WHERE id = 192812
UPDATE matches SET home_odds = 1.78, away_odds = 5.02, draw_odds = 3.86 WHERE id = 192813
UPDATE matches SET home_odds = 1.44, away_odds = 8.02, draw_odds = 4.93 WHERE id = 192814
UPDATE matches SET home_odds = 1.5, away_odds = 7.8, draw_odds = 4.41 WHERE id = 192815
UPDATE matches SET home_odds = 7.23, away_odds = 1.5, draw_odds = 4.67 WHERE id = 192816
UPDATE matches SET home_odds = 2.4, away_odds = 3.33, draw_odds = 3.29 WHERE id = 192818
UPDATE matches SET home_odds = 1.52, away_odds = 7.25, draw_odds = 4.46 WHERE id = 192819
UPDATE matches SET home_odds = 1.52, away_odds = 6.68, draw_odds = 4.75 WHERE id = 192823
UPDATE matches SET home_odds = 6.88, away_odds = 1.55, draw_odds = 4.37 WHERE id = 192817
UPDATE matches SET home_odds = 2.08, away_odds = 4.1, draw_odds = 3.38 WHERE id = 192820
UPDATE matches SET home_odds = 4.2, away_odds = 2.02, draw_odds = 3.48 WHERE id = 192821
UPDATE matches SET home_odds = 1.62, away_odds = 6.13, draw_odds = 4.19 WHERE id = 192822
UPDATE matches SET home_odds = 2.37, away_odds = 3.28, draw_odds = 3.4 WHERE id = 192825
UPDATE matches SET home_odds = 2.42, away_odds = 3.17, draw_odds = 3.43 WHERE id = 192824
UPDATE matches SET home_odds = 2.8, away_odds = 2.68, draw_odds = 3.45 WHERE id = 192826
UPDATE matches SET home_odds = 1.45, away_odds = 7.88, draw_odds = 4.95 WHERE id = 192833
UPDATE matches SET home_odds = 5.55, away_odds = 1.74, draw_odds = 3.8 WHERE id = 192827
UPDATE matches SET home_odds = 1.18, away_odds = 20.96, draw_odds = 7.92 WHERE id = 192828
UPDATE matches SET home_odds = 2.57, away_odds = 3.06, draw_odds = 3.29 WHERE id = 192829
UPDATE matches SET home_odds = 6.77, away_odds = 1.51, draw_odds = 4.74 WHERE id = 192830
UPDATE matches SET home_odds = 2.98, away_odds = 2.55, draw_odds = 3.41 WHERE id = 192831
UPDATE matches SET home_odds = 2.14, away_odds = 3.92, draw_odds = 3.37 WHERE id = 192832
UPDATE matches SET home_odds = 1.83, away_odds = 4.55, draw_odds = 3.94 WHERE id = 192834
UPDATE matches SET home_odds = 2.5, away_odds = 3.02, draw_odds = 3.47 WHERE id = 192835
UPDATE matches SET home_odds = 1.47, away_odds = 7.9, draw_odds = 4.65 WHERE id = 192836
UPDATE matches SET home_odds = 6.25, away_odds = 1.61, draw_odds = 4.2 WHERE id = 192838
UPDATE matches SET home_odds = 3.08, away_odds = 2.53, draw_odds = 3.33 WHERE id = 192839
UPDATE matches SET home_odds = 1.31, away_odds = 12.44, draw_odds = 5.7 WHERE id = 192837
UPDATE matches SET home_odds = 2.48, away_odds = 3.13, draw_odds = 3.37 WHERE id = 192840
UPDATE matches SET home_odds = 2.47, away_odds = 3.06, draw_odds = 3.46 WHERE id = 192841
UPDATE matches SET home_odds = 1.49, away_odds = 7.52, draw_odds = 4.63 WHERE id = 192842
UPDATE matches SET home_odds = 1.72, away_odds = 5.2, draw_odds = 4.03 WHERE id = 192843
UPDATE matches SET home_odds = 2.78, away_odds = 2.62, draw_odds = 3.59 WHERE id = 192845
UPDATE matches SET home_odds = 2.1, away_odds = 3.97, draw_odds = 3.44 WHERE id = 192844
UPDATE matches SET home_odds = 6.21, away_odds = 1.62, draw_odds = 4.1 WHERE id = 192846
UPDATE matches SET home_odds = 1.28, away_odds = 12.51, draw_odds = 6.4 WHERE id = 192856
UPDATE matches SET home_odds = 4.8, away_odds = 1.79, draw_odds = 3.97 WHERE id = 192848
UPDATE matches SET home_odds = 1.35, away_odds = 10.33, draw_odds = 5.56 WHERE id = 192847
UPDATE matches SET home_odds = 3.66, away_odds = 2.21, draw_odds = 3.4 WHERE id = 192849
UPDATE matches SET home_odds = 1.83, away_odds = 5.03, draw_odds = 3.65 WHERE id = 192850
UPDATE matches SET home_odds = 3.75, away_odds = 2.12, draw_odds = 3.55 WHERE id = 192851
UPDATE matches SET home_odds = 1.38, away_odds = 9.25, draw_odds = 5.28 WHERE id = 192852
UPDATE matches SET home_odds = 2.06, away_odds = 4.22, draw_odds = 3.37 WHERE id = 192853
UPDATE matches SET home_odds = 1.77, away_odds = 5.32, draw_odds = 3.74 WHERE id = 192854
UPDATE matches SET home_odds = 6.65, away_odds = 1.55, draw_odds = 4.45 WHERE id = 192855
UPDATE matches SET home_odds = 2.33, away_odds = 3.5, draw_odds = 3.26 WHERE id = 192859
UPDATE matches SET home_odds = 2.28, away_odds = 3.5, draw_odds = 3.38 WHERE id = 192860
UPDATE matches SET home_odds = 1.16, away_odds = 22.5, draw_odds = 8.55 WHERE id = 192861
UPDATE matches SET home_odds = 2.98, away_odds = 2.55, draw_odds = 3.42 WHERE id = 192865
UPDATE matches SET home_odds = 2.47, away_odds = 3.15, draw_odds = 3.34 WHERE id = 192862
UPDATE matches SET home_odds = 4.83, away_odds = 1.85, draw_odds = 3.65 WHERE id = 192858
UPDATE matches SET home_odds = 1.9, away_odds = 4.78, draw_odds = 3.51 WHERE id = 192863
UPDATE matches SET home_odds = 3.25, away_odds = 2.29, draw_odds = 3.62 WHERE id = 192857
UPDATE matches SET home_odds = 3.53, away_odds = 2.17, draw_odds = 3.64 WHERE id = 192864
UPDATE matches SET home_odds = 1.71, away_odds = 5.55, draw_odds = 3.91 WHERE id = 192866
UPDATE matches SET home_odds = 2.43, away_odds = 3.33, draw_odds = 3.24 WHERE id = 192868
UPDATE matches SET home_odds = 3.44, away_odds = 2.3, draw_odds = 3.39 WHERE id = 192869
UPDATE matches SET home_odds = 1.42, away_odds = 8.38, draw_odds = 5.04 WHERE id = 192870
UPDATE matches SET home_odds = 1.25, away_odds = 13.85, draw_odds = 6.87 WHERE id = 192871
UPDATE matches SET home_odds = 1.83, away_odds = 4.88, draw_odds = 3.74 WHERE id = 192872
UPDATE matches SET home_odds = 3.02, away_odds = 2.51, draw_odds = 3.44 WHERE id = 192873
UPDATE matches SET home_odds = 2.91, away_odds = 2.6, draw_odds = 3.42 WHERE id = 192874
UPDATE matches SET home_odds = 4.12, away_odds = 2.03, draw_odds = 3.5 WHERE id = 192867
UPDATE matches SET home_odds = 4.86, away_odds = 1.79, draw_odds = 3.92 WHERE id = 192876
UPDATE matches SET home_odds = 1.88, away_odds = 4.56, draw_odds = 3.71 WHERE id = 192875
UPDATE matches SET home_odds = 2.16, away_odds = 3.7, draw_odds = 3.47 WHERE id = 192878
UPDATE matches SET home_odds = 1.2, away_odds = 17.8, draw_odds = 7.5 WHERE id = 192879
UPDATE matches SET home_odds = 3.69, away_odds = 2.19, draw_odds = 3.42 WHERE id = 192884
UPDATE matches SET home_odds = 4.52, away_odds = 1.86, draw_odds = 3.81 WHERE id = 192880
UPDATE matches SET home_odds = 2.18, away_odds = 3.89, draw_odds = 3.29 WHERE id = 192881
UPDATE matches SET home_odds = 4.58, away_odds = 1.91, draw_odds = 3.59 WHERE id = 192877
UPDATE matches SET home_odds = 2.24, away_odds = 3.55, draw_odds = 3.42 WHERE id = 192882
UPDATE matches SET home_odds = 2.04, away_odds = 4.4, draw_odds = 3.32 WHERE id = 192883
UPDATE matches SET home_odds = 1.47, away_odds = 8.17, draw_odds = 4.58 WHERE id = 192885
UPDATE matches SET home_odds = 1.85, away_odds = 4.8, draw_odds = 3.7 WHERE id = 192886
UPDATE matches SET home_odds = 4.88, away_odds = 1.88, draw_odds = 3.55 WHERE id = 192887
UPDATE matches SET home_odds = 2.57, away_odds = 3.13, draw_odds = 3.22 WHERE id = 192888
UPDATE matches SET home_odds = 2.61, away_odds = 3.02, draw_odds = 3.27 WHERE id = 192889
UPDATE matches SET home_odds = 3.32, away_odds = 2.38, draw_odds = 3.36 WHERE id = 192893
UPDATE matches SET home_odds = 6.29, away_odds = 1.62, draw_odds = 4.13 WHERE id = 192890
UPDATE matches SET home_odds = 7.17, away_odds = 1.56, draw_odds = 4.15 WHERE id = 192891
UPDATE matches SET home_odds = 1.59, away_odds = 6.4, draw_odds = 4.26 WHERE id = 192892
UPDATE matches SET home_odds = 1.8, away_odds = 4.57, draw_odds = 4.06 WHERE id = 192895
UPDATE matches SET home_odds = 1.79, away_odds = 5.4, draw_odds = 3.62 WHERE id = 192894
UPDATE matches SET home_odds = 1.85, away_odds = 4.84, draw_odds = 3.67 WHERE id = 192896
UPDATE matches SET home_odds = 2.16, away_odds = 3.66, draw_odds = 3.52 WHERE id = 192904
UPDATE matches SET home_odds = 2.8, away_odds = 2.82, draw_odds = 3.24 WHERE id = 192898

UPDATE matches SET home_odds = 4.15, away_odds = 2.02, draw_odds = 3.51 WHERE id = 193013
UPDATE matches SET home_odds = 2.35, away_odds = 3.44, draw_odds = 3.29 WHERE id = 193016
UPDATE matches SET home_odds = 3.66, away_odds = 2.2, draw_odds = 3.39 WHERE id = 193015
UPDATE matches SET home_odds = 4.15, away_odds = 2.04, draw_odds = 3.44 WHERE id = 193005
UPDATE matches SET home_odds = 5.58, away_odds = 1.69, draw_odds = 3.98 WHERE id = 192946
UPDATE matches SET home_odds = 2.78, away_odds = 2.79, draw_odds = 3.32 WHERE id = 193018
UPDATE matches SET home_odds = 1.97, away_odds = 4.18, draw_odds = 3.64 WHERE id = 193017
UPDATE matches SET home_odds = 1.38, away_odds = 9.56, draw_odds = 5.2 WHERE id = 193019
UPDATE matches SET home_odds = 1.38, away_odds = 10.35, draw_odds = 5.23 WHERE id = 193023
UPDATE matches SET home_odds = 4.04, away_odds = 2.08, draw_odds = 3.44 WHERE id = 193020
UPDATE matches SET home_odds = 2.28, away_odds = 3.45, draw_odds = 3.43 WHERE id = 193021
UPDATE matches SET home_odds = 2.29, away_odds = 3.39, draw_odds = 3.45 WHERE id = 193022
UPDATE matches SET home_odds = 1.35, away_odds = 10.82, draw_odds = 5.32 WHERE id = 193024
UPDATE matches SET home_odds = 3.69, away_odds = 2.07, draw_odds = 3.81 WHERE id = 193025
UPDATE matches SET home_odds = 5.52, away_odds = 1.72, draw_odds = 3.9 WHERE id = 193026
UPDATE matches SET home_odds = 1.91, away_odds = 4.45, draw_odds = 3.69 WHERE id = 193028
UPDATE matches SET home_odds = 4.66, away_odds = 1.88, draw_odds = 3.66 WHERE id = 193033
UPDATE matches SET home_odds = 1.79, away_odds = 5.06, draw_odds = 3.8 WHERE id = 193027
UPDATE matches SET home_odds = 1.93, away_odds = 4.5, draw_odds = 3.58 WHERE id = 193029
UPDATE matches SET home_odds = 2.62, away_odds = 2.94, draw_odds = 3.35 WHERE id = 193030
UPDATE matches SET home_odds = 2.5, away_odds = 3.09, draw_odds = 3.36 WHERE id = 193031
UPDATE matches SET home_odds = 2.9, away_odds = 2.59, draw_odds = 3.45 WHERE id = 193032
UPDATE matches SET home_odds = 2.1, away_odds = 3.96, draw_odds = 3.44 WHERE id = 193035
UPDATE matches SET home_odds = 1.23, away_odds = 13.75, draw_odds = 7.4 WHERE id = 193034
UPDATE matches SET home_odds = 1.31, away_odds = 11.5, draw_odds = 5.93 WHERE id = 193036
UPDATE matches SET home_odds = 2.61, away_odds = 2.92, draw_odds = 3.39 WHERE id = 193038
UPDATE matches SET home_odds = 1.49, away_odds = 7.23, draw_odds = 4.76 WHERE id = 193043
UPDATE matches SET home_odds = 3.01, away_odds = 2.45, draw_odds = 3.57 WHERE id = 193039
UPDATE matches SET home_odds = 1.76, away_odds = 5.25, draw_odds = 3.83 WHERE id = 193037
UPDATE matches SET home_odds = 2.83, away_odds = 2.75, draw_odds = 3.3 WHERE id = 193040
UPDATE matches SET home_odds = 1.79, away_odds = 4.72, draw_odds = 3.99 WHERE id = 193041
UPDATE matches SET home_odds = 2.99, away_odds = 2.51, draw_odds = 3.5 WHERE id = 193042
UPDATE matches SET home_odds = 2.5, away_odds = 3.02, draw_odds = 3.46 WHERE id = 193045
UPDATE matches SET home_odds = 5.03, away_odds = 1.71, draw_odds = 4.23 WHERE id = 193044
UPDATE matches SET home_odds = 4.21, away_odds = 2.0, draw_odds = 3.54 WHERE id = 193046
UPDATE matches SET home_odds = 1.32, away_odds = 12.31, draw_odds = 5.46 WHERE id = 193006
UPDATE matches SET home_odds = 1.43, away_odds = 8.53, draw_odds = 4.91 WHERE id = 193047
UPDATE matches SET home_odds = 2.12, away_odds = 3.65, draw_odds = 3.67 WHERE id = 193048
UPDATE matches SET home_odds = 1.36, away_odds = 10.43, draw_odds = 5.33 WHERE id = 193049
UPDATE matches SET home_odds = 2.21, away_odds = 3.38, draw_odds = 3.7 WHERE id = 193050
UPDATE matches SET home_odds = 2.31, away_odds = 3.12, draw_odds = 3.72 WHERE id = 193051
UPDATE matches SET home_odds = 3.22, away_odds = 2.27, draw_odds = 3.71 WHERE id = 193052
UPDATE matches SET home_odds = 1.57, away_odds = 6.02, draw_odds = 4.57 WHERE id = 193053
UPDATE matches SET home_odds = 1.6, away_odds = 5.59, draw_odds = 4.62 WHERE id = 193054
UPDATE matches SET home_odds = 1.79, away_odds = 4.69, draw_odds = 4.0 WHERE id = 193055
UPDATE matches SET home_odds = 3.51, away_odds = 2.15, draw_odds = 3.7 WHERE id = 193056
UPDATE matches SET home_odds = 1.95, away_odds = 4.27, draw_odds = 3.65 WHERE id = 192298
UPDATE matches SET home_odds = 1.39, away_odds = 10.39, draw_odds = 4.92 WHERE id = 192302
UPDATE matches SET home_odds = 1.7, away_odds = 5.62, draw_odds = 3.95 WHERE id = 192301
UPDATE matches SET home_odds = 1.99, away_odds = 4.34, draw_odds = 3.48 WHERE id = 192300
UPDATE matches SET home_odds = 1.65, away_odds = 5.9, draw_odds = 4.09 WHERE id = 192297
UPDATE matches SET home_odds = 2.52, away_odds = 3.08, draw_odds = 3.35 WHERE id = 192299
UPDATE matches SET home_odds = 1.31, away_odds = 12.0, draw_odds = 5.75 WHERE id = 192304
UPDATE matches SET home_odds = 2.88, away_odds = 2.69, draw_odds = 3.33 WHERE id = 192303
UPDATE matches SET home_odds = 3.48, away_odds = 2.25, draw_odds = 3.46 WHERE id = 192305
UPDATE matches SET home_odds = 5.75, away_odds = 1.68, draw_odds = 3.98 WHERE id = 192306
UPDATE matches SET home_odds = 5.66, away_odds = 1.72, draw_odds = 3.83 WHERE id = 192307
UPDATE matches SET home_odds = 1.98, away_odds = 4.21, draw_odds = 3.6 WHERE id = 192308
UPDATE matches SET home_odds = 2.52, away_odds = 3.08, draw_odds = 3.35 WHERE id = 192311
UPDATE matches SET home_odds = 1.94, away_odds = 4.3, draw_odds = 3.66 WHERE id = 192310
UPDATE matches SET home_odds = 1.79, away_odds = 5.09, draw_odds = 3.75 WHERE id = 192312
UPDATE matches SET home_odds = 2.25, away_odds = 3.54, draw_odds = 3.41 WHERE id = 192313
UPDATE matches SET home_odds = 2.25, away_odds = 3.42, draw_odds = 3.52 WHERE id = 192309
UPDATE matches SET home_odds = 5.34, away_odds = 1.72, draw_odds = 3.97 WHERE id = 192314
UPDATE matches SET home_odds = 2.08, away_odds = 3.87, draw_odds = 3.56 WHERE id = 192315
UPDATE matches SET home_odds = 1.44, away_odds = 8.6, draw_odds = 4.74 WHERE id = 192316
UPDATE matches SET home_odds = 1.85, away_odds = 4.89, draw_odds = 3.63 WHERE id = 192318
UPDATE matches SET home_odds = 2.69, away_odds = 2.75, draw_odds = 3.52 WHERE id = 192322
UPDATE matches SET home_odds = 1.39, away_odds = 9.62, draw_odds = 5.15 WHERE id = 192317
UPDATE matches SET home_odds = 2.34, away_odds = 3.37, draw_odds = 3.39 WHERE id = 192320
UPDATE matches SET home_odds = 3.79, away_odds = 2.14, draw_odds = 3.45 WHERE id = 192321
UPDATE matches SET home_odds = 2.43, away_odds = 3.15, draw_odds = 3.44 WHERE id = 192319
UPDATE matches SET home_odds = 4.85, away_odds = 1.76, draw_odds = 4.08 WHERE id = 192324
UPDATE matches SET home_odds = 2.76, away_odds = 2.78, draw_odds = 3.36 WHERE id = 192325
UPDATE matches SET home_odds = 6.25, away_odds = 1.65, draw_odds = 3.93 WHERE id = 192323
UPDATE matches SET home_odds = 1.74, away_odds = 5.12, draw_odds = 4.0 WHERE id = 192326
UPDATE matches SET home_odds = 1.93, away_odds = 4.62, draw_odds = 3.51 WHERE id = 192330
UPDATE matches SET home_odds = 2.15, away_odds = 3.57, draw_odds = 3.63 WHERE id = 192329
UPDATE matches SET home_odds = 1.37, away_odds = 10.17, draw_odds = 5.26 WHERE id = 192328
UPDATE matches SET home_odds = 1.36, away_odds = 10.21, draw_odds = 5.28 WHERE id = 192333
UPDATE matches SET home_odds = 1.19, away_odds = 17.75, draw_odds = 8.0 WHERE id = 192331
UPDATE matches SET home_odds = 6.13, away_odds = 1.61, draw_odds = 4.21 WHERE id = 192327
UPDATE matches SET home_odds = 1.95, away_odds = 4.5, draw_odds = 3.5 WHERE id = 192332
UPDATE matches SET home_odds = 1.97, away_odds = 4.09, draw_odds = 3.72 WHERE id = 192334
UPDATE matches SET home_odds = 2.05, away_odds = 4.0, draw_odds = 3.54 WHERE id = 192335
UPDATE matches SET home_odds = 3.55, away_odds = 2.23, draw_odds = 3.45 WHERE id = 192336
UPDATE matches SET home_odds = 1.28, away_odds = 13.0, draw_odds = 6.12 WHERE id = 192341
UPDATE matches SET home_odds = 5.75, away_odds = 1.65, draw_odds = 4.16 WHERE id = 192339
UPDATE matches SET home_odds = 4.11, away_odds = 2.01, draw_odds = 3.57 WHERE id = 192337
UPDATE matches SET home_odds = 1.94, away_odds = 4.56, draw_odds = 3.49 WHERE id = 192343
UPDATE matches SET home_odds = 2.36, away_odds = 3.23, draw_odds = 3.48 WHERE id = 192338
UPDATE matches SET home_odds = 2.75, away_odds = 2.8, draw_odds = 3.34 WHERE id = 192342
UPDATE matches SET home_odds = 3.21, away_odds = 2.49, draw_odds = 3.26 WHERE id = 192340
UPDATE matches SET home_odds = 1.86, away_odds = 4.62, draw_odds = 3.74 WHERE id = 192345
UPDATE matches SET home_odds = 4.32, away_odds = 1.94, draw_odds = 3.65 WHERE id = 192344
UPDATE matches SET home_odds = 2.23, away_odds = 3.48, draw_odds = 3.53 WHERE id = 192346
UPDATE matches SET home_odds = 2.32, away_odds = 3.57, draw_odds = 3.23 WHERE id = 192352
UPDATE matches SET home_odds = 1.71, away_odds = 5.35, draw_odds = 3.99 WHERE id = 192350
UPDATE matches SET home_odds = 2.45, away_odds = 3.06, draw_odds = 3.51 WHERE id = 192347
UPDATE matches SET home_odds = 1.27, away_odds = 12.78, draw_odds = 6.45 WHERE id = 192353
UPDATE matches SET home_odds = 2.54, away_odds = 3.04, draw_odds = 3.36 WHERE id = 192351
UPDATE matches SET home_odds = 2.47, away_odds = 3.1, draw_odds = 3.41 WHERE id = 192349
UPDATE matches SET home_odds = 2.3, away_odds = 3.4, draw_odds = 3.44 WHERE id = 192348
UPDATE matches SET home_odds = 1.68, away_odds = 5.81, draw_odds = 3.94 WHERE id = 192356
UPDATE matches SET home_odds = 3.22, away_odds = 2.46, draw_odds = 3.3 WHERE id = 192355
UPDATE matches SET home_odds = 1.99, away_odds = 4.15, draw_odds = 3.61 WHERE id = 192354
UPDATE matches SET home_odds = 4.55, away_odds = 1.83, draw_odds = 3.97 WHERE id = 192358
UPDATE matches SET home_odds = 1.53, away_odds = 7.48, draw_odds = 4.28 WHERE id = 192359
UPDATE matches SET home_odds = 1.23, away_odds = 16.7, draw_odds = 6.9 WHERE id = 192362
UPDATE matches SET home_odds = 5.98, away_odds = 1.63, draw_odds = 4.16 WHERE id = 192364
UPDATE matches SET home_odds = 2.04, away_odds = 4.07, draw_odds = 3.51 WHERE id = 192363
UPDATE matches SET home_odds = 2.47, away_odds = 3.06, draw_odds = 3.46 WHERE id = 192360
UPDATE matches SET home_odds = 4.03, away_odds = 1.96, draw_odds = 3.82 WHERE id = 192357
UPDATE matches SET home_odds = 2.22, away_odds = 3.49, draw_odds = 3.54 WHERE id = 192361
UPDATE matches SET home_odds = 2.49, away_odds = 3.12, draw_odds = 3.36 WHERE id = 192365
UPDATE matches SET home_odds = 3.06, away_odds = 2.51, draw_odds = 3.39 WHERE id = 192366
UPDATE matches SET home_odds = 2.5, away_odds = 3.11, draw_odds = 3.34 WHERE id = 192370
UPDATE matches SET home_odds = 2.13, away_odds = 3.72, draw_odds = 3.54 WHERE id = 192371
UPDATE matches SET home_odds = 1.83, away_odds = 4.84, draw_odds = 3.76 WHERE id = 192373
UPDATE matches SET home_odds = 1.84, away_odds = 4.93, draw_odds = 3.65 WHERE id = 192367
UPDATE matches SET home_odds = 1.24, away_odds = 13.8, draw_odds = 6.9 WHERE id = 192369
UPDATE matches SET home_odds = 2.26, away_odds = 3.31, draw_odds = 3.63 WHERE id = 192368
UPDATE matches SET home_odds = 3.13, away_odds = 2.43, draw_odds = 3.46 WHERE id = 192372
UPDATE matches SET home_odds = 2.06, away_odds = 3.81, draw_odds = 3.67 WHERE id = 192375
UPDATE matches SET home_odds = 2.75, away_odds = 2.75, draw_odds = 3.42 WHERE id = 192374
UPDATE matches SET home_odds = 2.72, away_odds = 2.84, draw_odds = 3.33 WHERE id = 192376
UPDATE matches SET home_odds = 1.34, away_odds = 11.0, draw_odds = 5.41 WHERE id = 192378
UPDATE matches SET home_odds = 2.01, away_odds = 3.99, draw_odds = 3.67 WHERE id = 192383
UPDATE matches SET home_odds = 3.23, away_odds = 2.4, draw_odds = 3.4 WHERE id = 192381
UPDATE matches SET home_odds = 1.34, away_odds = 10.6, draw_odds = 5.58 WHERE id = 192379
UPDATE matches SET home_odds = 1.76, away_odds = 5.1, draw_odds = 3.88 WHERE id = 192380
UPDATE matches SET home_odds = 2.48, away_odds = 2.99, draw_odds = 3.54 WHERE id = 192377
UPDATE matches SET home_odds = 6.29, away_odds = 1.59, draw_odds = 4.31 WHERE id = 192384
UPDATE matches SET home_odds = 2.08, away_odds = 4.07, draw_odds = 3.42 WHERE id = 192382
UPDATE matches SET home_odds = 2.58, away_odds = 2.93, draw_odds = 3.44 WHERE id = 192385
UPDATE matches SET home_odds = 2.08, away_odds = 4.06, draw_odds = 3.41 WHERE id = 192386
UPDATE matches SET home_odds = 1.43, away_odds = 8.2, draw_odds = 5.07 WHERE id = 192392
UPDATE matches SET home_odds = 3.09, away_odds = 2.59, draw_odds = 3.22 WHERE id = 192389
UPDATE matches SET home_odds = 2.21, away_odds = 3.48, draw_odds = 3.56 WHERE id = 192388
UPDATE matches SET home_odds = 2.02, away_odds = 4.18, draw_odds = 3.49 WHERE id = 192391
UPDATE matches SET home_odds = 2.1, away_odds = 4.03, draw_odds = 3.38 WHERE id = 192390
UPDATE matches SET home_odds = 3.91, away_odds = 2.01, draw_odds = 3.74 WHERE id = 192387
UPDATE matches SET home_odds = 3.58, away_odds = 2.23, draw_odds = 3.42 WHERE id = 192395
UPDATE matches SET home_odds = 2.08, away_odds = 3.87, draw_odds = 3.56 WHERE id = 192396
UPDATE matches SET home_odds = 2.59, away_odds = 2.93, draw_odds = 3.41 WHERE id = 192394
UPDATE matches SET home_odds = 2.57, away_odds = 2.96, draw_odds = 3.41 WHERE id = 192393
UPDATE matches SET home_odds = 2.07, away_odds = 3.92, draw_odds = 3.54 WHERE id = 192397
UPDATE matches SET home_odds = 4.02, away_odds = 2.08, draw_odds = 3.46 WHERE id = 192400
UPDATE matches SET home_odds = 1.3, away_odds = 11.03, draw_odds = 6.22 WHERE id = 192401
UPDATE matches SET home_odds = 2.39, away_odds = 3.24, draw_odds = 3.43 WHERE id = 192402
UPDATE matches SET home_odds = 5.05, away_odds = 1.76, draw_odds = 3.93 WHERE id = 192398
UPDATE matches SET home_odds = 2.6, away_odds = 2.94, draw_odds = 3.38 WHERE id = 192403
UPDATE matches SET home_odds = 2.84, away_odds = 2.7, draw_odds = 3.36 WHERE id = 192399
UPDATE matches SET home_odds = 1.49, away_odds = 7.5, draw_odds = 4.61 WHERE id = 192404
UPDATE matches SET home_odds = 1.55, away_odds = 6.88, draw_odds = 4.37 WHERE id = 192405
UPDATE matches SET home_odds = 1.43, away_odds = 9.0, draw_odds = 4.8 WHERE id = 192406
UPDATE matches SET home_odds = 2.18, away_odds = 3.57, draw_odds = 3.56 WHERE id = 192407
UPDATE matches SET home_odds = 1.88, away_odds = 4.43, draw_odds = 3.79 WHERE id = 192411
UPDATE matches SET home_odds = 1.34, away_odds = 12.05, draw_odds = 5.25 WHERE id = 192412
UPDATE matches SET home_odds = 2.46, away_odds = 3.06, draw_odds = 3.47 WHERE id = 192410
UPDATE matches SET home_odds = 3.96, away_odds = 2.07, draw_odds = 3.51 WHERE id = 192413
UPDATE matches SET home_odds = 4.79, away_odds = 1.82, draw_odds = 3.81 WHERE id = 192409
UPDATE matches SET home_odds = 2.58, away_odds = 2.89, draw_odds = 3.49 WHERE id = 192408
UPDATE matches SET home_odds = 1.7, away_odds = 5.21, draw_odds = 4.18 WHERE id = 192416
UPDATE matches SET home_odds = 8.15, away_odds = 1.44, draw_odds = 4.93 WHERE id = 192414
UPDATE matches SET home_odds = 1.68, away_odds = 5.73, draw_odds = 3.99 WHERE id = 192415
UPDATE matches SET home_odds = 1.43, away_odds = 8.78, draw_odds = 4.86 WHERE id = 192422
UPDATE matches SET home_odds = 1.57, away_odds = 6.8, draw_odds = 4.2 WHERE id = 192419
UPDATE matches SET home_odds = 1.67, away_odds = 5.56, draw_odds = 4.15 WHERE id = 192424
UPDATE matches SET home_odds = 2.85, away_odds = 2.58, draw_odds = 3.55 WHERE id = 192421
UPDATE matches SET home_odds = 1.61, away_odds = 6.5, draw_odds = 4.06 WHERE id = 192423
UPDATE matches SET home_odds = 1.91, away_odds = 4.6, draw_odds = 3.59 WHERE id = 192420
UPDATE matches SET home_odds = 4.14, away_odds = 2.07, draw_odds = 3.38 WHERE id = 192417
UPDATE matches SET home_odds = 6.68, away_odds = 1.57, draw_odds = 4.29 WHERE id = 192418
UPDATE matches SET home_odds = 1.55, away_odds = 6.78, draw_odds = 4.43 WHERE id = 192425
UPDATE matches SET home_odds = 1.56, away_odds = 6.77, draw_odds = 4.31 WHERE id = 192426
UPDATE matches SET home_odds = 2.77, away_odds = 2.85, draw_odds = 3.25 WHERE id = 192431
UPDATE matches SET home_odds = 2.95, away_odds = 2.51, draw_odds = 3.53 WHERE id = 192427
UPDATE matches SET home_odds = 1.69, away_odds = 5.53, draw_odds = 4.04 WHERE id = 192428
UPDATE matches SET home_odds = 3.26, away_odds = 2.36, draw_odds = 3.45 WHERE id = 192432
UPDATE matches SET home_odds = 1.58, away_odds = 6.28, draw_odds = 4.4 WHERE id = 192429
UPDATE matches SET home_odds = 3.16, away_odds = 2.51, draw_odds = 3.28 WHERE id = 192430
UPDATE matches SET home_odds = 1.48, away_odds = 7.95, draw_odds = 4.55 WHERE id = 192436
UPDATE matches SET home_odds = 5.62, away_odds = 1.63, draw_odds = 4.34 WHERE id = 192435
UPDATE matches SET home_odds = 2.58, away_odds = 2.89, draw_odds = 3.49 WHERE id = 192433
UPDATE matches SET home_odds = 2.1, away_odds = 3.98, draw_odds = 3.41 WHERE id = 192434
UPDATE matches SET home_odds = 1.28, away_odds = 13.53, draw_odds = 6.14 WHERE id = 192441
UPDATE matches SET home_odds = 1.38, away_odds = 9.75, draw_odds = 5.23 WHERE id = 192444
UPDATE matches SET home_odds = 1.43, away_odds = 9.06, draw_odds = 4.7 WHERE id = 192443
UPDATE matches SET home_odds = 1.52, away_odds = 7.57, draw_odds = 4.37 WHERE id = 192438
UPDATE matches SET home_odds = 5.25, away_odds = 1.71, draw_odds = 4.06 WHERE id = 192437
UPDATE matches SET home_odds = 2.68, away_odds = 2.8, draw_odds = 3.44 WHERE id = 192439
UPDATE matches SET home_odds = 2.16, away_odds = 3.7, draw_odds = 3.48 WHERE id = 192440
UPDATE matches SET home_odds = 4.75, away_odds = 1.85, draw_odds = 3.69 WHERE id = 192442
UPDATE matches SET home_odds = 5.75, away_odds = 1.62, draw_odds = 4.35 WHERE id = 192445
UPDATE matches SET home_odds = 2.06, away_odds = 3.88, draw_odds = 3.63 WHERE id = 192446
UPDATE matches SET home_odds = 3.46, away_odds = 2.29, draw_odds = 3.39 WHERE id = 192452
UPDATE matches SET home_odds = 2.55, away_odds = 3.06, draw_odds = 3.32 WHERE id = 192448
UPDATE matches SET home_odds = 1.32, away_odds = 10.9, draw_odds = 5.9 WHERE id = 192450
UPDATE matches SET home_odds = 2.92, away_odds = 2.52, draw_odds = 3.56 WHERE id = 192447
UPDATE matches SET home_odds = 2.86, away_odds = 2.71, draw_odds = 3.31 WHERE id = 192451
UPDATE matches SET home_odds = 2.63, away_odds = 2.94, draw_odds = 3.33 WHERE id = 192449
UPDATE matches SET home_odds = 6.24, away_odds = 1.6, draw_odds = 4.24 WHERE id = 192453
UPDATE matches SET home_odds = 1.45, away_odds = 9.0, draw_odds = 4.59 WHERE id = 192455
UPDATE matches SET home_odds = 1.39, away_odds = 9.0, draw_odds = 5.32 WHERE id = 192454
UPDATE matches SET home_odds = 3.11, away_odds = 2.38, draw_odds = 3.59 WHERE id = 192456
UPDATE matches SET home_odds = 1.32, away_odds = 11.8, draw_odds = 5.69 WHERE id = 192461
UPDATE matches SET home_odds = 2.07, away_odds = 3.65, draw_odds = 3.8 WHERE id = 192459
UPDATE matches SET home_odds = 1.47, away_odds = 8.45, draw_odds = 4.5 WHERE id = 192460
UPDATE matches SET home_odds = 2.03, away_odds = 4.02, draw_odds = 3.58 WHERE id = 192463
UPDATE matches SET home_odds = 2.66, away_odds = 2.83, draw_odds = 3.44 WHERE id = 192462
UPDATE matches SET home_odds = 2.51, away_odds = 3.14, draw_odds = 3.3 WHERE id = 192458
UPDATE matches SET home_odds = 2.64, away_odds = 2.98, draw_odds = 3.27 WHERE id = 192457
UPDATE matches SET home_odds = 2.1, away_odds = 3.92, draw_odds = 3.46 WHERE id = 192465
UPDATE matches SET home_odds = 4.14, away_odds = 2.01, draw_odds = 3.55 WHERE id = 192464
UPDATE matches SET home_odds = 2.38, away_odds = 3.12, draw_odds = 3.58 WHERE id = 192466
UPDATE matches SET home_odds = 2.66, away_odds = 2.94, draw_odds = 3.29 WHERE id = 192474
UPDATE matches SET home_odds = 2.48, away_odds = 3.06, draw_odds = 3.45 WHERE id = 192468
UPDATE matches SET home_odds = 1.52, away_odds = 7.14, draw_odds = 4.52 WHERE id = 192472
UPDATE matches SET home_odds = 1.95, away_odds = 4.0, draw_odds = 3.87 WHERE id = 192469
UPDATE matches SET home_odds = 1.21, away_odds = 16.0, draw_odds = 7.65 WHERE id = 192471
UPDATE matches SET home_odds = 3.37, away_odds = 2.25, draw_odds = 3.58 WHERE id = 192475

UPDATE matches SET home_odds = 1.45, away_odds = 8.42, draw_odds = 4.71 WHERE id = 192541
UPDATE matches SET home_odds = 1.61, away_odds = 6.14, draw_odds = 4.26 WHERE id = 192537
UPDATE matches SET home_odds = 2.22, away_odds = 3.71, draw_odds = 3.33 WHERE id = 192543
UPDATE matches SET home_odds = 1.77, away_odds = 5.33, draw_odds = 3.74 WHERE id = 192544
UPDATE matches SET home_odds = 2.66, away_odds = 2.88, draw_odds = 3.36 WHERE id = 192539
UPDATE matches SET home_odds = 2.26, away_odds = 3.67, draw_odds = 3.28 WHERE id = 192538
UPDATE matches SET home_odds = 1.51, away_odds = 7.73, draw_odds = 4.39 WHERE id = 192542
UPDATE matches SET home_odds = 3.84, away_odds = 2.08, draw_odds = 3.58 WHERE id = 192545
UPDATE matches SET home_odds = 2.1, away_odds = 4.04, draw_odds = 3.37 WHERE id = 192546
UPDATE matches SET home_odds = 2.07, away_odds = 4.06, draw_odds = 3.44 WHERE id = 192549
UPDATE matches SET home_odds = 1.46, away_odds = 7.95, draw_odds = 4.79 WHERE id = 192553
UPDATE matches SET home_odds = 2.24, away_odds = 3.71, draw_odds = 3.28 WHERE id = 192550
UPDATE matches SET home_odds = 1.52, away_odds = 7.65, draw_odds = 4.33 WHERE id = 192551
UPDATE matches SET home_odds = 2.43, away_odds = 3.16, draw_odds = 3.42 WHERE id = 192552
UPDATE matches SET home_odds = 5.1, away_odds = 1.79, draw_odds = 3.74 WHERE id = 192547
UPDATE matches SET home_odds = 3.24, away_odds = 2.47, draw_odds = 3.26 WHERE id = 192548
UPDATE matches SET home_odds = 1.71, away_odds = 5.08, draw_odds = 4.16 WHERE id = 192554
UPDATE matches SET home_odds = 4.89, away_odds = 1.86, draw_odds = 3.59 WHERE id = 192555
UPDATE matches SET home_odds = 2.06, away_odds = 3.82, draw_odds = 3.66 WHERE id = 192556
UPDATE matches SET home_odds = 1.57, away_odds = 6.32, draw_odds = 4.42 WHERE id = 192561
UPDATE matches SET home_odds = 2.9, away_odds = 2.65, draw_odds = 3.37 WHERE id = 192560
UPDATE matches SET home_odds = 1.69, away_odds = 6.16, draw_odds = 3.74 WHERE id = 192558
UPDATE matches SET home_odds = 2.45, away_odds = 3.22, draw_odds = 3.31 WHERE id = 192559
UPDATE matches SET home_odds = 2.84, away_odds = 2.87, draw_odds = 3.13 WHERE id = 192562
UPDATE matches SET home_odds = 1.85, away_odds = 4.7, draw_odds = 3.75 WHERE id = 192557
UPDATE matches SET home_odds = 1.48, away_odds = 8.27, draw_odds = 4.5 WHERE id = 192564
UPDATE matches SET home_odds = 3.32, away_odds = 2.39, draw_odds = 3.32 WHERE id = 192563
UPDATE matches SET home_odds = 4.44, away_odds = 1.91, draw_odds = 3.69 WHERE id = 192569
UPDATE matches SET home_odds = 2.91, away_odds = 2.68, draw_odds = 3.3 WHERE id = 192570
UPDATE matches SET home_odds = 1.73, away_odds = 5.5, draw_odds = 3.84 WHERE id = 192571
UPDATE matches SET home_odds = 5.31, away_odds = 1.7, draw_odds = 4.08 WHERE id = 192567
UPDATE matches SET home_odds = 2.48, away_odds = 3.13, draw_odds = 3.36 WHERE id = 192568
UPDATE matches SET home_odds = 1.37, away_odds = 10.28, draw_odds = 5.21 WHERE id = 192572
UPDATE matches SET home_odds = 2.64, away_odds = 2.81, draw_odds = 3.5 WHERE id = 192575
UPDATE matches SET home_odds = 1.66, away_odds = 6.21, draw_odds = 3.92 WHERE id = 192576
UPDATE matches SET home_odds = 2.03, away_odds = 4.1, draw_odds = 3.53 WHERE id = 192574
UPDATE matches SET home_odds = 4.03, away_odds = 2.01, draw_odds = 3.64 WHERE id = 192573
UPDATE matches SET home_odds = 1.52, away_odds = 7.28, draw_odds = 4.44 WHERE id = 192581
UPDATE matches SET home_odds = 1.71, away_odds = 5.17, draw_odds = 4.11 WHERE id = 192583
UPDATE matches SET home_odds = 1.22, away_odds = 16.27, draw_odds = 7.08 WHERE id = 192578
UPDATE matches SET home_odds = 2.74, away_odds = 2.77, draw_odds = 3.4 WHERE id = 192579
UPDATE matches SET home_odds = 1.63, away_odds = 6.29, draw_odds = 4.04 WHERE id = 192582
UPDATE matches SET home_odds = 2.04, away_odds = 4.13, draw_odds = 3.47 WHERE id = 192580
UPDATE matches SET home_odds = 2.39, away_odds = 3.13, draw_odds = 3.54 WHERE id = 192577
UPDATE matches SET home_odds = 3.01, away_odds = 2.58, draw_odds = 3.33 WHERE id = 192584
UPDATE matches SET home_odds = 3.71, away_odds = 2.15, draw_odds = 3.5 WHERE id = 192585
UPDATE matches SET home_odds = 4.24, away_odds = 2.03, draw_odds = 3.42 WHERE id = 192586
UPDATE matches SET home_odds = 1.96, away_odds = 4.47, draw_odds = 3.49 WHERE id = 192589
UPDATE matches SET home_odds = 6.0, away_odds = 1.63, draw_odds = 4.2 WHERE id = 192587
UPDATE matches SET home_odds = 2.73, away_odds = 2.91, draw_odds = 3.22 WHERE id = 192588
UPDATE matches SET home_odds = 7.27, away_odds = 1.52, draw_odds = 4.41 WHERE id = 192590
UPDATE matches SET home_odds = 1.62, away_odds = 5.92, draw_odds = 4.29 WHERE id = 192591
UPDATE matches SET home_odds = 1.76, away_odds = 5.1, draw_odds = 3.9 WHERE id = 192601
UPDATE matches SET home_odds = 2.96, away_odds = 2.6, draw_odds = 3.35 WHERE id = 192598
UPDATE matches SET home_odds = 2.67, away_odds = 2.69, draw_odds = 3.64 WHERE id = 192597
UPDATE matches SET home_odds = 1.73, away_odds = 5.55, draw_odds = 3.81 WHERE id = 192602
UPDATE matches SET home_odds = 2.4, away_odds = 3.36, draw_odds = 3.27 WHERE id = 192600
UPDATE matches SET home_odds = 2.31, away_odds = 3.6, draw_odds = 3.24 WHERE id = 192599
UPDATE matches SET home_odds = 1.86, away_odds = 4.61, draw_odds = 3.75 WHERE id = 192606
UPDATE matches SET home_odds = 2.13, away_odds = 3.85, draw_odds = 3.43 WHERE id = 192604
UPDATE matches SET home_odds = 2.71, away_odds = 2.88, draw_odds = 3.29 WHERE id = 192603
UPDATE matches SET home_odds = 1.56, away_odds = 6.57, draw_odds = 4.41 WHERE id = 192605
UPDATE matches SET home_odds = 1.36, away_odds = 9.82, draw_odds = 5.4 WHERE id = 192612
UPDATE matches SET home_odds = 6.46, away_odds = 1.6, draw_odds = 4.12 WHERE id = 192607
UPDATE matches SET home_odds = 3.7, away_odds = 2.1, draw_odds = 3.65 WHERE id = 192609
UPDATE matches SET home_odds = 2.49, away_odds = 3.01, draw_odds = 3.5 WHERE id = 192614
UPDATE matches SET home_odds = 2.19, away_odds = 3.7, draw_odds = 3.41 WHERE id = 192610
UPDATE matches SET home_odds = 2.17, away_odds = 3.8, draw_odds = 3.39 WHERE id = 192611
UPDATE matches SET home_odds = 2.11, away_odds = 4.0, draw_odds = 3.36 WHERE id = 192613
UPDATE matches SET home_odds = 1.95, away_odds = 4.29, draw_odds = 3.65 WHERE id = 192608
UPDATE matches SET home_odds = 2.27, away_odds = 3.56, draw_odds = 3.35 WHERE id = 192615
UPDATE matches SET home_odds = 2.11, away_odds = 3.89, draw_odds = 3.47 WHERE id = 192616
UPDATE matches SET home_odds = 3.64, away_odds = 2.19, draw_odds = 3.47 WHERE id = 192618
UPDATE matches SET home_odds = 2.13, away_odds = 3.95, draw_odds = 3.36 WHERE id = 192622
UPDATE matches SET home_odds = 1.35, away_odds = 10.72, draw_odds = 5.42 WHERE id = 192623
UPDATE matches SET home_odds = 1.58, away_odds = 6.56, draw_odds = 4.23 WHERE id = 192621
UPDATE matches SET home_odds = 3.96, away_odds = 2.08, draw_odds = 3.5 WHERE id = 192619
UPDATE matches SET home_odds = 3.47, away_odds = 2.28, draw_odds = 3.41 WHERE id = 192620
UPDATE matches SET home_odds = 3.9, away_odds = 2.01, draw_odds = 3.77 WHERE id = 192617
UPDATE matches SET home_odds = 1.61, away_odds = 6.11, draw_odds = 4.28 WHERE id = 192625
UPDATE matches SET home_odds = 3.51, away_odds = 2.23, draw_odds = 3.5 WHERE id = 192624
UPDATE matches SET home_odds = 1.92, away_odds = 4.44, draw_odds = 3.65 WHERE id = 192626
UPDATE matches SET home_odds = 2.89, away_odds = 2.59, draw_odds = 3.48 WHERE id = 192637
UPDATE matches SET home_odds = 2.72, away_odds = 2.7, draw_odds = 3.54 WHERE id = 192632
UPDATE matches SET home_odds = 2.66, away_odds = 2.85, draw_odds = 3.39 WHERE id = 192629
UPDATE matches SET home_odds = 1.26, away_odds = 14.88, draw_odds = 6.35 WHERE id = 192628
UPDATE matches SET home_odds = 2.28, away_odds = 3.4, draw_odds = 3.47 WHERE id = 192630
UPDATE matches SET home_odds = 2.33, away_odds = 3.35, draw_odds = 3.41 WHERE id = 192627
UPDATE matches SET home_odds = 2.36, away_odds = 3.49, draw_odds = 3.23 WHERE id = 192631
UPDATE matches SET home_odds = 1.36, away_odds = 9.56, draw_odds = 5.52 WHERE id = 192635
UPDATE matches SET home_odds = 3.71, away_odds = 2.14, draw_odds = 3.52 WHERE id = 192633
UPDATE matches SET home_odds = 1.92, away_odds = 4.3, draw_odds = 3.75 WHERE id = 192634
UPDATE matches SET home_odds = 4.81, away_odds = 1.83, draw_odds = 3.74 WHERE id = 192636
UPDATE matches SET home_odds = 6.29, away_odds = 1.57, draw_odds = 4.44 WHERE id = 192565
UPDATE matches SET home_odds = 1.7, away_odds = 5.22, draw_odds = 4.13 WHERE id = 192566
UPDATE matches SET home_odds = 1.54, away_odds = 7.45, draw_odds = 4.25 WHERE id = 192593
UPDATE matches SET home_odds = 1.56, away_odds = 6.74, draw_odds = 4.37 WHERE id = 192592
UPDATE matches SET home_odds = 1.25, away_odds = 14.75, draw_odds = 6.45 WHERE id = 192594
UPDATE matches SET home_odds = 6.61, away_odds = 1.58, draw_odds = 4.2 WHERE id = 192641
UPDATE matches SET home_odds = 3.09, away_odds = 2.39, draw_odds = 3.6 WHERE id = 192639
UPDATE matches SET home_odds = 1.57, away_odds = 6.05, draw_odds = 4.58 WHERE id = 192640
UPDATE matches SET home_odds = 1.31, away_odds = 11.67, draw_odds = 5.91 WHERE id = 192638
UPDATE matches SET home_odds = 1.74, away_odds = 5.54, draw_odds = 3.79 WHERE id = 192643
UPDATE matches SET home_odds = 4.89, away_odds = 1.76, draw_odds = 4.02 WHERE id = 192642
UPDATE matches SET home_odds = 1.24, away_odds = 15.4, draw_odds = 6.82 WHERE id = 192644
UPDATE matches SET home_odds = 1.27, away_odds = 13.26, draw_odds = 6.28 WHERE id = 192652
UPDATE matches SET home_odds = 2.0, away_odds = 3.89, draw_odds = 3.8 WHERE id = 192648
UPDATE matches SET home_odds = 2.03, away_odds = 4.08, draw_odds = 3.54 WHERE id = 192649
UPDATE matches SET home_odds = 2.75, away_odds = 2.83, draw_odds = 3.3 WHERE id = 192650
UPDATE matches SET home_odds = 1.74, away_odds = 5.23, draw_odds = 3.95 WHERE id = 192647
UPDATE matches SET home_odds = 4.06, away_odds = 2.05, draw_odds = 3.49 WHERE id = 192651
UPDATE matches SET home_odds = 2.07, away_odds = 4.04, draw_odds = 3.45 WHERE id = 192654
UPDATE matches SET home_odds = 2.73, away_odds = 2.75, draw_odds = 3.44 WHERE id = 192655
UPDATE matches SET home_odds = 3.15, away_odds = 2.37, draw_odds = 3.56 WHERE id = 192653
UPDATE matches SET home_odds = 2.72, away_odds = 2.69, draw_odds = 3.56 WHERE id = 192656
UPDATE matches SET home_odds = 5.39, away_odds = 1.68, draw_odds = 4.17 WHERE id = 192659
UPDATE matches SET home_odds = 1.96, away_odds = 4.38, draw_odds = 3.54 WHERE id = 192662
UPDATE matches SET home_odds = 2.07, away_odds = 3.93, draw_odds = 3.53 WHERE id = 192660
UPDATE matches SET home_odds = 1.91, away_odds = 4.07, draw_odds = 3.98 WHERE id = 192663
UPDATE matches SET home_odds = 4.59, away_odds = 1.88, draw_odds = 3.68 WHERE id = 192657
UPDATE matches SET home_odds = 3.02, away_odds = 2.45, draw_odds = 3.55 WHERE id = 192658
UPDATE matches SET home_odds = 1.43, away_odds = 8.34, draw_odds = 4.96 WHERE id = 192661
UPDATE matches SET home_odds = 1.54, away_odds = 6.48, draw_odds = 4.65 WHERE id = 192666
UPDATE matches SET home_odds = 2.54, away_odds = 2.92, draw_odds = 3.53 WHERE id = 192665
UPDATE matches SET home_odds = 2.03, away_odds = 3.88, draw_odds = 3.71 WHERE id = 192664
UPDATE matches SET home_odds = 3.01, away_odds = 2.46, draw_odds = 3.56 WHERE id = 192645
UPDATE matches SET home_odds = 2.02, away_odds = 3.76, draw_odds = 3.86 WHERE id = 192596
UPDATE matches SET home_odds = 1.85, away_odds = 4.6, draw_odds = 3.82 WHERE id = 192646
UPDATE matches SET home_odds = 1.75, away_odds = 5.05, draw_odds = 4.0 WHERE id = 192595
UPDATE matches SET home_odds = 1.17, away_odds = 18.0, draw_odds = 9.35 WHERE id = 192667
UPDATE matches SET home_odds = 2.33, away_odds = 3.07, draw_odds = 3.76 WHERE id = 192669
UPDATE matches SET home_odds = 1.75, away_odds = 4.58, draw_odds = 4.33 WHERE id = 192672
UPDATE matches SET home_odds = 4.54, away_odds = 1.79, draw_odds = 4.16 WHERE id = 192674
UPDATE matches SET home_odds = 1.34, away_odds = 9.9, draw_odds = 5.69 WHERE id = 192668
UPDATE matches SET home_odds = 3.48, away_odds = 2.12, draw_odds = 3.82 WHERE id = 192675
UPDATE matches SET home_odds = 6.46, away_odds = 1.52, draw_odds = 4.79 WHERE id = 192671
UPDATE matches SET home_odds = 2.03, away_odds = 3.78, draw_odds = 3.8 WHERE id = 192673
UPDATE matches SET home_odds = 2.42, away_odds = 2.97, draw_odds = 3.7 WHERE id = 192670
UPDATE matches SET home_odds = 1.67, away_odds = 5.61, draw_odds = 4.13 WHERE id = 192676
UPDATE matches SET home_odds = 2.47, away_odds = 3.19, draw_odds = 3.32 WHERE id = 17691
UPDATE matches SET home_odds = 2.06, away_odds = 4.32, draw_odds = 3.29 WHERE id = 17692
UPDATE matches SET home_odds = 3.25, away_odds = 2.37, draw_odds = 3.43 WHERE id = 17693
UPDATE matches SET home_odds = 4.43, away_odds = 1.95, draw_odds = 3.55 WHERE id = 17696
UPDATE matches SET home_odds = 1.27, away_odds = 13.15, draw_odds = 6.48 WHERE id = 17690
UPDATE matches SET home_odds = 2.33, away_odds = 3.53, draw_odds = 3.24 WHERE id = 17694
UPDATE matches SET home_odds = 1.88, away_odds = 4.64, draw_odds = 3.68 WHERE id = 17695
UPDATE matches SET home_odds = 2.41, away_odds = 3.1, draw_odds = 3.53 WHERE id = 17688
UPDATE matches SET home_odds = 4.7, away_odds = 1.88, draw_odds = 3.62 WHERE id = 17689
UPDATE matches SET home_odds = 1.68, away_odds = 5.48, draw_odds = 4.16 WHERE id = 17687
UPDATE matches SET home_odds = 1.54, away_odds = 7.19, draw_odds = 4.33 WHERE id = 17686
UPDATE matches SET home_odds = 7.12, away_odds = 1.56, draw_odds = 4.2 WHERE id = 17680
UPDATE matches SET home_odds = 2.92, away_odds = 2.5, draw_odds = 3.6 WHERE id = 17679
UPDATE matches SET home_odds = 5.47, away_odds = 1.71, draw_odds = 3.96 WHERE id = 17685
UPDATE matches SET home_odds = 1.78, away_odds = 5.5, draw_odds = 3.61 WHERE id = 17681
UPDATE matches SET home_odds = 1.47, away_odds = 7.82, draw_odds = 4.78 WHERE id = 17682
UPDATE matches SET home_odds = 5.44, away_odds = 1.76, draw_odds = 3.74 WHERE id = 17683
UPDATE matches SET home_odds = 3.11, away_odds = 2.6, draw_odds = 3.19 WHERE id = 17684
UPDATE matches SET home_odds = 2.61, away_odds = 3.06, draw_odds = 3.22 WHERE id = 17678
UPDATE matches SET home_odds = 1.98, away_odds = 4.02, draw_odds = 3.75 WHERE id = 17677
UPDATE matches SET home_odds = 1.26, away_odds = 14.35, draw_odds = 6.35 WHERE id = 17670
UPDATE matches SET home_odds = 2.33, away_odds = 3.39, draw_odds = 3.38 WHERE id = 17671
UPDATE matches SET home_odds = 1.74, away_odds = 5.55, draw_odds = 3.79 WHERE id = 17672
UPDATE matches SET home_odds = 8.35, away_odds = 1.46, draw_odds = 4.6 WHERE id = 17669
UPDATE matches SET home_odds = 1.71, away_odds = 5.57, draw_odds = 3.88 WHERE id = 17673
UPDATE matches SET home_odds = 1.61, away_odds = 6.63, draw_odds = 4.03 WHERE id = 17674
UPDATE matches SET home_odds = 2.36, away_odds = 3.17, draw_odds = 3.56 WHERE id = 17676
UPDATE matches SET home_odds = 5.47, away_odds = 1.72, draw_odds = 3.91 WHERE id = 17675
UPDATE matches SET home_odds = 1.3, away_odds = 10.91, draw_odds = 6.3 WHERE id = 17667
UPDATE matches SET home_odds = 2.6, away_odds = 3.2, draw_odds = 3.09 WHERE id = 17668
UPDATE matches SET home_odds = 1.6, away_odds = 6.15, draw_odds = 4.35 WHERE id = 17660
UPDATE matches SET home_odds = 2.05, away_odds = 4.33, draw_odds = 3.31 WHERE id = 17661
UPDATE matches SET home_odds = 2.44, away_odds = 3.36, draw_odds = 3.21 WHERE id = 17662
UPDATE matches SET home_odds = 1.7, away_odds = 5.54, draw_odds = 3.97 WHERE id = 17659
UPDATE matches SET home_odds = 2.38, away_odds = 3.35, draw_odds = 3.31 WHERE id = 17666
UPDATE matches SET home_odds = 2.31, away_odds = 3.65, draw_odds = 3.2 WHERE id = 17663
UPDATE matches SET home_odds = 4.34, away_odds = 1.89, draw_odds = 3.82 WHERE id = 17664
UPDATE matches SET home_odds = 1.9, away_odds = 4.62, draw_odds = 3.6 WHERE id = 17665
UPDATE matches SET home_odds = 5.77, away_odds = 1.65, draw_odds = 4.17 WHERE id = 17658
UPDATE matches SET home_odds = 3.75, away_odds = 2.1, draw_odds = 3.6 WHERE id = 17657
UPDATE matches SET home_odds = 2.28, away_odds = 3.4, draw_odds = 3.49 WHERE id = 17656
UPDATE matches SET home_odds = 1.65, away_odds = 6.19, draw_odds = 3.99 WHERE id = 17651
UPDATE matches SET home_odds = 6.03, away_odds = 1.6, draw_odds = 4.2 WHERE id = 17652
UPDATE matches SET home_odds = 1.46, away_odds = 8.87, draw_odds = 4.49 WHERE id = 17653
UPDATE matches SET home_odds = 1.28, away_odds = 12.78, draw_odds = 6.24 WHERE id = 17654
UPDATE matches SET home_odds = 2.9, away_odds = 2.76, draw_odds = 3.19 WHERE id = 17655
UPDATE matches SET home_odds = 2.09, away_odds = 4.08, draw_odds = 3.37 WHERE id = 17648
UPDATE matches SET home_odds = 1.68, away_odds = 6.17, draw_odds = 3.84 WHERE id = 17649
UPDATE matches SET home_odds = 1.35, away_odds = 10.26, draw_odds = 5.52 WHERE id = 17647
UPDATE matches SET home_odds = 5.8, away_odds = 1.65, draw_odds = 4.12 WHERE id = 17650
UPDATE matches SET home_odds = 2.35, away_odds = 3.21, draw_odds = 3.53 WHERE id = 17639
UPDATE matches SET home_odds = 3.79, away_odds = 2.1, draw_odds = 3.57 WHERE id = 17640
UPDATE matches SET home_odds = 1.23, away_odds = 15.54, draw_odds = 7.0 WHERE id = 17641
UPDATE matches SET home_odds = 1.74, away_odds = 5.39, draw_odds = 3.86 WHERE id = 17646
UPDATE matches SET home_odds = 3.73, away_odds = 2.15, draw_odds = 3.48 WHERE id = 17642
UPDATE matches SET home_odds = 2.34, away_odds = 3.4, draw_odds = 3.35 WHERE id = 17643
UPDATE matches SET home_odds = 2.88, away_odds = 2.7, draw_odds = 3.3 WHERE id = 17644
UPDATE matches SET home_odds = 9.45, away_odds = 1.38, draw_odds = 5.31 WHERE id = 17645
UPDATE matches SET home_odds = 2.83, away_odds = 2.72, draw_odds = 3.35 WHERE id = 17638
UPDATE matches SET home_odds = 3.09, away_odds = 2.59, draw_odds = 3.21 WHERE id = 17637
UPDATE matches SET home_odds = 1.74, away_odds = 5.25, draw_odds = 3.95 WHERE id = 17636
UPDATE matches SET home_odds = 7.68, away_odds = 1.48, draw_odds = 4.63 WHERE id = 17631
UPDATE matches SET home_odds = 2.47, away_odds = 3.26, draw_odds = 3.24 WHERE id = 17632
UPDATE matches SET home_odds = 8.44, away_odds = 1.43, draw_odds = 4.92 WHERE id = 17635
UPDATE matches SET home_odds = 2.42, away_odds = 3.27, draw_odds = 3.32 WHERE id = 17633
UPDATE matches SET home_odds = 2.23, away_odds = 3.66, draw_odds = 3.35 WHERE id = 17634
UPDATE matches SET home_odds = 10.17, away_odds = 1.38, draw_odds = 5.13 WHERE id = 17627
UPDATE matches SET home_odds = 2.24, away_odds = 3.63, draw_odds = 3.35 WHERE id = 17628
UPDATE matches SET home_odds = 1.35, away_odds = 10.61, draw_odds = 5.46 WHERE id = 17630
UPDATE matches SET home_odds = 2.99, away_odds = 2.48, draw_odds = 3.54 WHERE id = 17629
UPDATE matches SET home_odds = 1.28, away_odds = 12.8, draw_odds = 6.15 WHERE id = 17621
UPDATE matches SET home_odds = 1.83, away_odds = 5.05, draw_odds = 3.61 WHERE id = 17622
UPDATE matches SET home_odds = 1.58, away_odds = 6.3, draw_odds = 4.33 WHERE id = 17626
UPDATE matches SET home_odds = 2.14, away_odds = 3.71, draw_odds = 3.52 WHERE id = 17620
UPDATE matches SET home_odds = 1.52, away_odds = 6.82, draw_odds = 4.68 WHERE id = 17623
UPDATE matches SET home_odds = 1.98, away_odds = 4.34, draw_odds = 3.51 WHERE id = 17624
UPDATE matches SET home_odds = 5.45, away_odds = 1.72, draw_odds = 3.91 WHERE id = 17625
UPDATE matches SET home_odds = 2.33, away_odds = 3.51, draw_odds = 3.27 WHERE id = 17619
UPDATE matches SET home_odds = 1.39, away_odds = 10.41, draw_odds = 4.89 WHERE id = 17618
UPDATE matches SET home_odds = 2.19, away_odds = 3.58, draw_odds = 3.51 WHERE id = 17617
UPDATE matches SET home_odds = 1.27, away_odds = 13.55, draw_odds = 6.28 WHERE id = 17610
UPDATE matches SET home_odds = 4.12, away_odds = 1.97, draw_odds = 3.7 WHERE id = 17616
UPDATE matches SET home_odds = 6.05, away_odds = 1.68, draw_odds = 3.87 WHERE id = 17611
UPDATE matches SET home_odds = 3.16, away_odds = 2.46, draw_odds = 3.35 WHERE id = 17612

UPDATE matches SET home_odds = 1.8, away_odds = 5.4, draw_odds = 3.57 WHERE id = 17557
UPDATE matches SET home_odds = 1.38, away_odds = 9.21, draw_odds = 5.29 WHERE id = 17552
UPDATE matches SET home_odds = 3.48, away_odds = 2.26, draw_odds = 3.45 WHERE id = 17553
UPDATE matches SET home_odds = 3.43, away_odds = 2.32, draw_odds = 3.37 WHERE id = 17554
UPDATE matches SET home_odds = 5.28, away_odds = 1.7, draw_odds = 4.1 WHERE id = 17551
UPDATE matches SET home_odds = 2.14, away_odds = 3.68, draw_odds = 3.55 WHERE id = 17555
UPDATE matches SET home_odds = 3.15, away_odds = 2.45, draw_odds = 3.39 WHERE id = 17556
UPDATE matches SET home_odds = 1.27, away_odds = 14.32, draw_odds = 6.25 WHERE id = 17550
UPDATE matches SET home_odds = 1.29, away_odds = 11.73, draw_odds = 6.29 WHERE id = 17547
UPDATE matches SET home_odds = 2.22, away_odds = 3.64, draw_odds = 3.37 WHERE id = 17548
UPDATE matches SET home_odds = 1.68, away_odds = 6.42, draw_odds = 3.68 WHERE id = 17549
UPDATE matches SET home_odds = 2.43, away_odds = 3.13, draw_odds = 3.47 WHERE id = 17545
UPDATE matches SET home_odds = 4.28, away_odds = 1.92, draw_odds = 3.77 WHERE id = 17546
UPDATE matches SET home_odds = 5.56, away_odds = 1.68, draw_odds = 4.08 WHERE id = 17537
UPDATE matches SET home_odds = 1.28, away_odds = 12.25, draw_odds = 6.4 WHERE id = 17538
UPDATE matches SET home_odds = 6.48, away_odds = 1.58, draw_odds = 4.28 WHERE id = 17542
UPDATE matches SET home_odds = 3.29, away_odds = 2.45, draw_odds = 3.25 WHERE id = 17539
UPDATE matches SET home_odds = 10.45, away_odds = 1.33, draw_odds = 5.72 WHERE id = 17543
UPDATE matches SET home_odds = 1.25, away_odds = 14.0, draw_odds = 6.6 WHERE id = 17540
UPDATE matches SET home_odds = 2.06, away_odds = 4.04, draw_odds = 3.5 WHERE id = 17541
UPDATE matches SET home_odds = 1.65, away_odds = 5.82, draw_odds = 4.13 WHERE id = 17544
UPDATE matches SET home_odds = 5.85, away_odds = 1.62, draw_odds = 4.3 WHERE id = 17536
UPDATE matches SET home_odds = 2.07, away_odds = 4.1, draw_odds = 3.42 WHERE id = 17532
UPDATE matches SET home_odds = 2.59, away_odds = 2.98, draw_odds = 3.35 WHERE id = 17533
UPDATE matches SET home_odds = 2.67, away_odds = 2.97, draw_odds = 3.23 WHERE id = 17534
UPDATE matches SET home_odds = 5.53, away_odds = 1.74, draw_odds = 3.77 WHERE id = 17531
UPDATE matches SET home_odds = 1.67, away_odds = 5.7, draw_odds = 4.09 WHERE id = 17535
UPDATE matches SET home_odds = 2.95, away_odds = 2.69, draw_odds = 3.23 WHERE id = 17530
UPDATE matches SET home_odds = 2.13, away_odds = 3.7, draw_odds = 3.56 WHERE id = 17528
UPDATE matches SET home_odds = 1.22, away_odds = 15.0, draw_odds = 7.35 WHERE id = 17529
UPDATE matches SET home_odds = 4.27, away_odds = 1.9, draw_odds = 3.85 WHERE id = 17527
UPDATE matches SET home_odds = 1.35, away_odds = 10.12, draw_odds = 5.58 WHERE id = 17520
UPDATE matches SET home_odds = 3.06, away_odds = 2.64, draw_odds = 3.18 WHERE id = 17521
UPDATE matches SET home_odds = 1.42, away_odds = 9.52, draw_odds = 4.78 WHERE id = 17522
UPDATE matches SET home_odds = 9.86, away_odds = 1.34, draw_odds = 5.82 WHERE id = 17519
UPDATE matches SET home_odds = 2.57, away_odds = 3.03, draw_odds = 3.33 WHERE id = 17523
UPDATE matches SET home_odds = 1.24, away_odds = 15.0, draw_odds = 6.95 WHERE id = 17524
UPDATE matches SET home_odds = 2.71, away_odds = 2.78, draw_odds = 3.43 WHERE id = 17525
UPDATE matches SET home_odds = 2.54, away_odds = 3.05, draw_odds = 3.36 WHERE id = 17526
UPDATE matches SET home_odds = 1.3, away_odds = 11.02, draw_odds = 6.15 WHERE id = 17518
UPDATE matches SET home_odds = 3.01, away_odds = 2.6, draw_odds = 3.3 WHERE id = 17517
UPDATE matches SET home_odds = 4.28, away_odds = 2.02, draw_odds = 3.43 WHERE id = 17516
UPDATE matches SET home_odds = 2.38, away_odds = 3.41, draw_odds = 3.26 WHERE id = 17510
UPDATE matches SET home_odds = 1.28, away_odds = 12.85, draw_odds = 6.15 WHERE id = 17511
UPDATE matches SET home_odds = 2.1, away_odds = 3.8, draw_odds = 3.56 WHERE id = 17512
UPDATE matches SET home_odds = 2.37, away_odds = 3.18, draw_odds = 3.52 WHERE id = 17509
UPDATE matches SET home_odds = 1.25, away_odds = 16.45, draw_odds = 6.2 WHERE id = 17513
UPDATE matches SET home_odds = 1.78, away_odds = 5.55, draw_odds = 3.59 WHERE id = 17514
UPDATE matches SET home_odds = 2.83, away_odds = 2.63, draw_odds = 3.49 WHERE id = 17515
UPDATE matches SET home_odds = 1.34, away_odds = 10.4, draw_odds = 5.6 WHERE id = 17507
UPDATE matches SET home_odds = 5.71, away_odds = 1.69, draw_odds = 3.94 WHERE id = 17508
UPDATE matches SET home_odds = 2.28, away_odds = 3.55, draw_odds = 3.33 WHERE id = 17502
UPDATE matches SET home_odds = 1.18, away_odds = 17.5, draw_odds = 8.55 WHERE id = 17503
UPDATE matches SET home_odds = 2.8, away_odds = 2.88, draw_odds = 3.16 WHERE id = 17506
UPDATE matches SET home_odds = 9.95, away_odds = 1.35, draw_odds = 5.55 WHERE id = 17504
UPDATE matches SET home_odds = 1.76, away_odds = 5.48, draw_odds = 3.72 WHERE id = 17505
UPDATE matches SET home_odds = 5.77, away_odds = 1.65, draw_odds = 4.13 WHERE id = 17501
UPDATE matches SET home_odds = 4.52, away_odds = 1.85, draw_odds = 3.87 WHERE id = 17500
UPDATE matches SET home_odds = 1.8, away_odds = 5.0, draw_odds = 3.77 WHERE id = 17498
UPDATE matches SET home_odds = 1.89, away_odds = 4.7, draw_odds = 3.58 WHERE id = 17499
UPDATE matches SET home_odds = 2.77, away_odds = 2.77, draw_odds = 3.35 WHERE id = 17497
UPDATE matches SET home_odds = 3.75, away_odds = 2.2, draw_odds = 3.35 WHERE id = 17490
UPDATE matches SET home_odds = 3.34, away_odds = 2.25, draw_odds = 3.62 WHERE id = 17491
UPDATE matches SET home_odds = 6.1, away_odds = 1.66, draw_odds = 3.96 WHERE id = 17489
UPDATE matches SET home_odds = 3.09, away_odds = 2.46, draw_odds = 3.45 WHERE id = 17492
UPDATE matches SET home_odds = 6.54, away_odds = 1.53, draw_odds = 4.71 WHERE id = 17493
UPDATE matches SET home_odds = 1.32, away_odds = 12.56, draw_odds = 5.51 WHERE id = 17496
UPDATE matches SET home_odds = 2.51, away_odds = 3.25, draw_odds = 3.18 WHERE id = 17494
UPDATE matches SET home_odds = 2.41, away_odds = 3.2, draw_odds = 3.41 WHERE id = 17495
UPDATE matches SET home_odds = 4.54, away_odds = 1.84, draw_odds = 3.9 WHERE id = 17488
UPDATE matches SET home_odds = 2.16, away_odds = 3.88, draw_odds = 3.34 WHERE id = 17487
UPDATE matches SET home_odds = 1.84, away_odds = 4.73, draw_odds = 3.77 WHERE id = 17481
UPDATE matches SET home_odds = 3.19, away_odds = 2.4, draw_odds = 3.45 WHERE id = 17482
UPDATE matches SET home_odds = 1.22, away_odds = 14.0, draw_odds = 7.55 WHERE id = 17486
UPDATE matches SET home_odds = 2.13, away_odds = 3.75, draw_odds = 3.52 WHERE id = 17480
UPDATE matches SET home_odds = 2.47, away_odds = 3.33, draw_odds = 3.17 WHERE id = 17483
UPDATE matches SET home_odds = 6.08, away_odds = 1.64, draw_odds = 4.08 WHERE id = 17484
UPDATE matches SET home_odds = 1.7, away_odds = 5.68, draw_odds = 3.91 WHERE id = 17485
UPDATE matches SET home_odds = 1.22, away_odds = 15.7, draw_odds = 7.35 WHERE id = 17478
UPDATE matches SET home_odds = 1.18, away_odds = 18.0, draw_odds = 8.5 WHERE id = 17477
UPDATE matches SET home_odds = 1.86, away_odds = 5.1, draw_odds = 3.48 WHERE id = 17479
UPDATE matches SET home_odds = 1.24, away_odds = 14.64, draw_odds = 6.92 WHERE id = 17471
UPDATE matches SET home_odds = 2.12, away_odds = 3.73, draw_odds = 3.57 WHERE id = 17472
UPDATE matches SET home_odds = 2.89, away_odds = 2.7, draw_odds = 3.29 WHERE id = 17473
UPDATE matches SET home_odds = 2.63, away_odds = 2.95, draw_odds = 3.33 WHERE id = 17470
UPDATE matches SET home_odds = 2.73, away_odds = 3.06, draw_odds = 3.05 WHERE id = 17474
UPDATE matches SET home_odds = 9.13, away_odds = 1.38, draw_odds = 5.41 WHERE id = 17475
UPDATE matches SET home_odds = 3.29, away_odds = 2.36, draw_odds = 3.42 WHERE id = 17476
UPDATE matches SET home_odds = 1.2, away_odds = 17.01, draw_odds = 7.88 WHERE id = 17467
UPDATE matches SET home_odds = 2.85, away_odds = 2.67, draw_odds = 3.4 WHERE id = 17468
UPDATE matches SET home_odds = 5.94, away_odds = 1.58, draw_odds = 4.55 WHERE id = 17469
UPDATE matches SET home_odds = 1.94, away_odds = 4.42, draw_odds = 3.58 WHERE id = 17466
UPDATE matches SET home_odds = 1.73, away_odds = 5.37, draw_odds = 3.91 WHERE id = 17460
UPDATE matches SET home_odds = 1.74, away_odds = 5.14, draw_odds = 4.0 WHERE id = 17461
UPDATE matches SET home_odds = 7.68, away_odds = 1.49, draw_odds = 4.59 WHERE id = 17462
UPDATE matches SET home_odds = 1.85, away_odds = 4.84, draw_odds = 3.67 WHERE id = 17463
UPDATE matches SET home_odds = 1.29, away_odds = 13.45, draw_odds = 5.95 WHERE id = 17459
UPDATE matches SET home_odds = 2.12, away_odds = 4.1, draw_odds = 3.28 WHERE id = 17464
UPDATE matches SET home_odds = 2.31, away_odds = 3.53, draw_odds = 3.29 WHERE id = 17465
UPDATE matches SET home_odds = 5.95, away_odds = 1.68, draw_odds = 3.89 WHERE id = 17457
UPDATE matches SET home_odds = 1.23, away_odds = 13.6, draw_odds = 7.55 WHERE id = 17458
UPDATE matches SET home_odds = 1.3, away_odds = 11.44, draw_odds = 6.2 WHERE id = 17456
UPDATE matches SET home_odds = 2.22, away_odds = 3.61, draw_odds = 3.41 WHERE id = 17450
UPDATE matches SET home_odds = 1.27, away_odds = 13.0, draw_odds = 6.4 WHERE id = 17451
UPDATE matches SET home_odds = 3.8, away_odds = 2.18, draw_odds = 3.35 WHERE id = 17452
UPDATE matches SET home_odds = 2.13, away_odds = 3.86, draw_odds = 3.42 WHERE id = 17453
UPDATE matches SET home_odds = 3.92, away_odds = 2.07, draw_odds = 3.54 WHERE id = 17454
UPDATE matches SET home_odds = 2.28, away_odds = 3.65, draw_odds = 3.25 WHERE id = 17455
UPDATE matches SET home_odds = 8.59, away_odds = 1.44, draw_odds = 4.73 WHERE id = 17449
UPDATE matches SET home_odds = 2.44, away_odds = 3.25, draw_odds = 3.3 WHERE id = 17448
UPDATE matches SET home_odds = 6.97, away_odds = 1.48, draw_odds = 4.95 WHERE id = 17447
UPDATE matches SET home_odds = 1.27, away_odds = 12.91, draw_odds = 6.51 WHERE id = 17442
UPDATE matches SET home_odds = 2.12, away_odds = 4.37, draw_odds = 3.13 WHERE id = 17443
UPDATE matches SET home_odds = 1.43, away_odds = 7.91, draw_odds = 5.18 WHERE id = 17444
UPDATE matches SET home_odds = 2.2, away_odds = 3.91, draw_odds = 3.22 WHERE id = 17445
UPDATE matches SET home_odds = 2.63, away_odds = 3.0, draw_odds = 3.26 WHERE id = 17441
UPDATE matches SET home_odds = 2.11, away_odds = 3.93, draw_odds = 3.44 WHERE id = 17446
UPDATE matches SET home_odds = 1.43, away_odds = 8.49, draw_odds = 4.89 WHERE id = 17440
UPDATE matches SET home_odds = 5.75, away_odds = 1.63, draw_odds = 4.27 WHERE id = 17439
UPDATE matches SET home_odds = 1.87, away_odds = 4.92, draw_odds = 3.55 WHERE id = 17433
UPDATE matches SET home_odds = 2.14, away_odds = 3.73, draw_odds = 3.51 WHERE id = 17432
UPDATE matches SET home_odds = 1.27, away_odds = 12.75, draw_odds = 6.55 WHERE id = 17438
UPDATE matches SET home_odds = 2.0, away_odds = 4.6, draw_odds = 3.3 WHERE id = 17434
UPDATE matches SET home_odds = 2.05, away_odds = 4.27, draw_odds = 3.35 WHERE id = 17435
UPDATE matches SET home_odds = 3.54, away_odds = 2.26, draw_odds = 3.38 WHERE id = 17436
UPDATE matches SET home_odds = 2.23, away_odds = 3.74, draw_odds = 3.28 WHERE id = 17437
UPDATE matches SET home_odds = 10.81, away_odds = 1.3, draw_odds = 6.35 WHERE id = 17430
UPDATE matches SET home_odds = 1.64, away_odds = 5.88, draw_odds = 4.17 WHERE id = 17431
UPDATE matches SET home_odds = 5.75, away_odds = 1.63, draw_odds = 4.3 WHERE id = 17429
UPDATE matches SET home_odds = 1.25, away_odds = 13.6, draw_odds = 6.8 WHERE id = 17428
UPDATE matches SET home_odds = 2.67, away_odds = 2.84, draw_odds = 3.4 WHERE id = 17425
UPDATE matches SET home_odds = 1.68, away_odds = 6.0, draw_odds = 3.89 WHERE id = 17426
UPDATE matches SET home_odds = 2.58, away_odds = 3.08, draw_odds = 3.24 WHERE id = 17427
UPDATE matches SET home_odds = 1.26, away_odds = 13.5, draw_odds = 6.55 WHERE id = 17424
UPDATE matches SET home_odds = 2.15, away_odds = 3.7, draw_odds = 3.51 WHERE id = 17417
UPDATE matches SET home_odds = 1.94, away_odds = 4.63, draw_odds = 3.45 WHERE id = 17418
UPDATE matches SET home_odds = 1.52, away_odds = 7.15, draw_odds = 4.46 WHERE id = 17419
UPDATE matches SET home_odds = 6.54, away_odds = 1.61, draw_odds = 4.04 WHERE id = 17420
UPDATE matches SET home_odds = 2.62, away_odds = 3.04, draw_odds = 3.23 WHERE id = 17421
UPDATE matches SET home_odds = 5.36, away_odds = 1.71, draw_odds = 4.02 WHERE id = 17423
UPDATE matches SET home_odds = 2.33, away_odds = 3.28, draw_odds = 3.49 WHERE id = 17422
UPDATE matches SET home_odds = 1.98, away_odds = 4.1, draw_odds = 3.68 WHERE id = 17414
UPDATE matches SET home_odds = 5.97, away_odds = 1.69, draw_odds = 3.8 WHERE id = 17416
UPDATE matches SET home_odds = 1.72, away_odds = 5.53, draw_odds = 3.87 WHERE id = 17415
UPDATE matches SET home_odds = 6.07, away_odds = 1.67, draw_odds = 3.91 WHERE id = 17407
UPDATE matches SET home_odds = 1.3, away_odds = 12.0, draw_odds = 5.9 WHERE id = 17408
UPDATE matches SET home_odds = 2.47, away_odds = 3.1, draw_odds = 3.42 WHERE id = 17409
UPDATE matches SET home_odds = 2.07, away_odds = 4.0, draw_odds = 3.48 WHERE id = 17410
UPDATE matches SET home_odds = 1.73, away_odds = 5.25, draw_odds = 3.97 WHERE id = 17413
UPDATE matches SET home_odds = 1.37, away_odds = 10.55, draw_odds = 5.05 WHERE id = 17411
UPDATE matches SET home_odds = 1.67, away_odds = 5.57, draw_odds = 4.13 WHERE id = 17406
UPDATE matches SET home_odds = 1.87, away_odds = 4.72, draw_odds = 3.67 WHERE id = 17412
UPDATE matches SET home_odds = 3.22, away_odds = 2.23, draw_odds = 3.82 WHERE id = 17404
UPDATE matches SET home_odds = 1.98, away_odds = 4.47, draw_odds = 3.43 WHERE id = 17405
UPDATE matches SET home_odds = 2.48, away_odds = 3.43, draw_odds = 3.07 WHERE id = 17401
UPDATE matches SET home_odds = 1.48, away_odds = 7.92, draw_odds = 4.61 WHERE id = 17402
UPDATE matches SET home_odds = 1.57, away_odds = 6.75, draw_odds = 4.23 WHERE id = 17400
UPDATE matches SET home_odds = 2.56, away_odds = 3.19, draw_odds = 3.16 WHERE id = 17403
UPDATE matches SET home_odds = 1.42, away_odds = 7.89, draw_odds = 5.32 WHERE id = 17396
UPDATE matches SET home_odds = 2.41, away_odds = 3.08, draw_odds = 3.56 WHERE id = 17394
UPDATE matches SET home_odds = 2.08, away_odds = 4.2, draw_odds = 3.32 WHERE id = 17397
UPDATE matches SET home_odds = 1.4, away_odds = 8.45, draw_odds = 5.31 WHERE id = 17395
UPDATE matches SET home_odds = 1.84, away_odds = 4.86, draw_odds = 3.7 WHERE id = 17398
UPDATE matches SET home_odds = 5.33, away_odds = 1.72, draw_odds = 3.97 WHERE id = 17399
UPDATE matches SET home_odds = 6.35, away_odds = 1.59, draw_odds = 4.26 WHERE id = 17387
UPDATE matches SET home_odds = 1.22, away_odds = 14.85, draw_odds = 7.6 WHERE id = 17388
UPDATE matches SET home_odds = 2.42, away_odds = 3.45, draw_odds = 3.15 WHERE id = 17389
UPDATE matches SET home_odds = 4.06, away_odds = 1.98, draw_odds = 3.71 WHERE id = 17390
UPDATE matches SET home_odds = 1.25, away_odds = 14.0, draw_odds = 6.6 WHERE id = 17393
UPDATE matches SET home_odds = 3.11, away_odds = 2.52, draw_odds = 3.31 WHERE id = 17391
UPDATE matches SET home_odds = 2.09, away_odds = 3.92, draw_odds = 3.49 WHERE id = 17392
UPDATE matches SET home_odds = 1.76, away_odds = 4.95, draw_odds = 3.98 WHERE id = 17385
UPDATE matches SET home_odds = 10.52, away_odds = 1.36, draw_odds = 5.32 WHERE id = 17386
UPDATE matches SET home_odds = 4.37, away_odds = 1.85, draw_odds = 3.96 WHERE id = 17384
UPDATE matches SET home_odds = 1.78, away_odds = 5.1, draw_odds = 3.85 WHERE id = 17378
UPDATE matches SET home_odds = 1.43, away_odds = 8.67, draw_odds = 4.82 WHERE id = 17379
UPDATE matches SET home_odds = 4.66, away_odds = 1.78, draw_odds = 4.1 WHERE id = 17377
UPDATE matches SET home_odds = 1.98, away_odds = 4.3, draw_odds = 3.54 WHERE id = 17380
UPDATE matches SET home_odds = 3.24, away_odds = 2.33, draw_odds = 3.54 WHERE id = 17381
UPDATE matches SET home_odds = 1.27, away_odds = 12.45, draw_odds = 6.67 WHERE id = 17383
UPDATE matches SET home_odds = 2.57, away_odds = 3.05, draw_odds = 3.3 WHERE id = 17382
UPDATE matches SET home_odds = 2.67, away_odds = 3.0, draw_odds = 3.2 WHERE id = 17375
UPDATE matches SET home_odds = 4.34, away_odds = 1.93, draw_odds = 3.7 WHERE id = 17376
UPDATE matches SET home_odds = 6.72, away_odds = 1.55, draw_odds = 4.39 WHERE id = 17374
UPDATE matches SET home_odds = 1.93, away_odds = 4.24, draw_odds = 3.79 WHERE id = 17370
UPDATE matches SET home_odds = 1.92, away_odds = 4.37, draw_odds = 3.7 WHERE id = 17371
UPDATE matches SET home_odds = 2.15, away_odds = 3.68, draw_odds = 3.53 WHERE id = 17372
UPDATE matches SET home_odds = 3.27, away_odds = 2.26, draw_odds = 3.68 WHERE id = 17373
UPDATE matches SET home_odds = 5.95, away_odds = 1.68, draw_odds = 3.93 WHERE id = 17369
UPDATE matches SET home_odds = 1.5, away_odds = 6.63, draw_odds = 4.91 WHERE id = 17368
UPDATE matches SET home_odds = 1.44, away_odds = 8.66, draw_odds = 4.72 WHERE id = 17367
UPDATE matches SET home_odds = 1.61, away_odds = 5.6, draw_odds = 4.54 WHERE id = 17365
UPDATE matches SET home_odds = 5.68, away_odds = 1.65, draw_odds = 4.22 WHERE id = 17364
UPDATE matches SET home_odds = 2.23, away_odds = 3.58, draw_odds = 3.44 WHERE id = 17366
UPDATE matches SET home_odds = 1.89, away_odds = 4.42, draw_odds = 3.77 WHERE id = 17363
UPDATE matches SET home_odds = 1.8, away_odds = 5.02, draw_odds = 3.63 WHERE id = 17358
UPDATE matches SET home_odds = 1.64, away_odds = 5.77, draw_odds = 4.06 WHERE id = 17359
UPDATE matches SET home_odds = 2.08, away_odds = 3.85, draw_odds = 3.45 WHERE id = 17360
UPDATE matches SET home_odds = 3.02, away_odds = 2.37, draw_odds = 3.6 WHERE id = 17361
UPDATE matches SET home_odds = 2.54, away_odds = 2.94, draw_odds = 3.38 WHERE id = 17362
UPDATE matches SET home_odds = 3.77, away_odds = 2.03, draw_odds = 3.67 WHERE id = 17355
UPDATE matches SET home_odds = 1.37, away_odds = 10.06, draw_odds = 5.04 WHERE id = 17357
UPDATE matches SET home_odds = 11.39, away_odds = 1.29, draw_odds = 5.93 WHERE id = 17356
UPDATE matches SET home_odds = 1.86, away_odds = 4.15, draw_odds = 3.94 WHERE id = 17354
UPDATE matches SET home_odds = 6.61, away_odds = 1.53, draw_odds = 4.4 WHERE id = 17353
UPDATE matches SET home_odds = 9.4, away_odds = 1.37, draw_odds = 5.35 WHERE id = 17352
UPDATE matches SET home_odds = 2.24, away_odds = 3.47, draw_odds = 3.5 WHERE id = 17347
UPDATE matches SET home_odds = 2.31, away_odds = 3.64, draw_odds = 3.2 WHERE id = 17348
UPDATE matches SET home_odds = 1.49, away_odds = 7.29, draw_odds = 4.7 WHERE id = 17349
UPDATE matches SET home_odds = 1.61, away_odds = 6.38, draw_odds = 4.16 WHERE id = 17350
UPDATE matches SET home_odds = 1.3, away_odds = 10.25, draw_odds = 6.6 WHERE id = 17351
UPDATE matches SET home_odds = 2.81, away_odds = 2.65, draw_odds = 3.48 WHERE id = 17346
UPDATE matches SET home_odds = 1.94, away_odds = 4.22, draw_odds = 3.72 WHERE id = 17344
UPDATE matches SET home_odds = 1.61, away_odds = 6.12, draw_odds = 4.21 WHERE id = 17345
UPDATE matches SET home_odds = 1.18, away_odds = 18.22, draw_odds = 8.29 WHERE id = 17343
UPDATE matches SET home_odds = 3.69, away_odds = 2.07, draw_odds = 3.75 WHERE id = 17342
UPDATE matches SET home_odds = 1.45, away_odds = 8.05, draw_odds = 4.79 WHERE id = 17341
UPDATE matches SET home_odds = 9.65, away_odds = 1.38, draw_odds = 5.15 WHERE id = 17340
UPDATE matches SET home_odds = 1.93, away_odds = 4.28, draw_odds = 3.76 WHERE id = 17336
UPDATE matches SET home_odds = 1.25, away_odds = 13.0, draw_odds = 7.0 WHERE id = 17339
UPDATE matches SET home_odds = 3.91, away_odds = 2.03, draw_odds = 3.68 WHERE id = 17337
UPDATE matches SET home_odds = 4.61, away_odds = 1.78, draw_odds = 4.16 WHERE id = 17335
UPDATE matches SET home_odds = 4.18, away_odds = 1.94, draw_odds = 3.84 WHERE id = 17338
UPDATE matches SET home_odds = 2.11, away_odds = 3.69, draw_odds = 3.63 WHERE id = 17334
UPDATE matches SET home_odds = 1.71, away_odds = 5.35, draw_odds = 4.04 WHERE id = 17332

UPDATE matches SET home_odds = 1.18, away_odds = 20.06, draw_odds = 8.01 WHERE id = 11707
UPDATE matches SET home_odds = 2.32, away_odds = 3.67, draw_odds = 3.16 WHERE id = 11708
UPDATE matches SET home_odds = 1.32, away_odds = 9.97, draw_odds = 6.27 WHERE id = 11709
UPDATE matches SET home_odds = 1.36, away_odds = 10.1, draw_odds = 5.35 WHERE id = 11705
UPDATE matches SET home_odds = 2.15, away_odds = 4.1, draw_odds = 3.22 WHERE id = 11710
UPDATE matches SET home_odds = 1.7, away_odds = 5.81, draw_odds = 3.85 WHERE id = 11711
UPDATE matches SET home_odds = 12.96, away_odds = 1.26, draw_odds = 6.73 WHERE id = 11704
UPDATE matches SET home_odds = 5.39, away_odds = 1.7, draw_odds = 4.06 WHERE id = 11703
UPDATE matches SET home_odds = 2.46, away_odds = 3.44, draw_odds = 3.11 WHERE id = 11702
UPDATE matches SET home_odds = 7.31, away_odds = 1.52, draw_odds = 4.45 WHERE id = 11699
UPDATE matches SET home_odds = 5.49, away_odds = 1.79, draw_odds = 3.59 WHERE id = 11698
UPDATE matches SET home_odds = 1.65, away_odds = 6.01, draw_odds = 4.08 WHERE id = 11700
UPDATE matches SET home_odds = 2.36, away_odds = 3.44, draw_odds = 3.26 WHERE id = 11701
UPDATE matches SET home_odds = 1.18, away_odds = 16.95, draw_odds = 8.7 WHERE id = 11694
UPDATE matches SET home_odds = 2.05, away_odds = 4.16, draw_odds = 3.43 WHERE id = 11695
UPDATE matches SET home_odds = 10.54, away_odds = 1.34, draw_odds = 5.51 WHERE id = 11696
UPDATE matches SET home_odds = 1.98, away_odds = 4.51, draw_odds = 3.41 WHERE id = 11697
UPDATE matches SET home_odds = 2.8, away_odds = 2.64, draw_odds = 3.51 WHERE id = 11693
UPDATE matches SET home_odds = 1.26, away_odds = 12.7, draw_odds = 6.25 WHERE id = 11692
UPDATE matches SET home_odds = 1.3, away_odds = 11.85, draw_odds = 5.95 WHERE id = 11686
UPDATE matches SET home_odds = 2.02, away_odds = 4.51, draw_odds = 3.3 WHERE id = 11687
UPDATE matches SET home_odds = 2.67, away_odds = 3.06, draw_odds = 3.14 WHERE id = 11688
UPDATE matches SET home_odds = 1.99, away_odds = 4.5, draw_odds = 3.38 WHERE id = 11689
UPDATE matches SET home_odds = 1.28, away_odds = 13.69, draw_odds = 6.02 WHERE id = 11685
UPDATE matches SET home_odds = 2.5, away_odds = 3.01, draw_odds = 3.48 WHERE id = 11690
UPDATE matches SET home_odds = 2.16, away_odds = 4.31, draw_odds = 3.08 WHERE id = 11691
UPDATE matches SET home_odds = 4.63, away_odds = 1.76, draw_odds = 4.22 WHERE id = 11684
UPDATE matches SET home_odds = 3.07, away_odds = 2.34, draw_odds = 3.75 WHERE id = 11683
UPDATE matches SET home_odds = 1.23, away_odds = 15.23, draw_odds = 7.22 WHERE id = 11682
UPDATE matches SET home_odds = 1.49, away_odds = 7.19, draw_odds = 4.73 WHERE id = 11675
UPDATE matches SET home_odds = 6.33, away_odds = 1.65, draw_odds = 3.9 WHERE id = 11681
UPDATE matches SET home_odds = 6.98, away_odds = 1.6, draw_odds = 3.95 WHERE id = 11676
UPDATE matches SET home_odds = 2.16, away_odds = 3.93, draw_odds = 3.3 WHERE id = 11677
UPDATE matches SET home_odds = 1.85, away_odds = 4.47, draw_odds = 3.84 WHERE id = 11678
UPDATE matches SET home_odds = 1.14, away_odds = 22.56, draw_odds = 10.21 WHERE id = 11674
UPDATE matches SET home_odds = 2.04, away_odds = 4.23, draw_odds = 3.41 WHERE id = 11679
UPDATE matches SET home_odds = 2.06, away_odds = 3.87, draw_odds = 3.62 WHERE id = 11680
UPDATE matches SET home_odds = 5.72, away_odds = 1.66, draw_odds = 4.14 WHERE id = 11673
UPDATE matches SET home_odds = 11.96, away_odds = 1.31, draw_odds = 5.8 WHERE id = 11672
UPDATE matches SET home_odds = 10.75, away_odds = 1.33, draw_odds = 5.65 WHERE id = 11669
UPDATE matches SET home_odds = 7.0, away_odds = 1.51, draw_odds = 4.62 WHERE id = 11670
UPDATE matches SET home_odds = 3.06, away_odds = 2.55, draw_odds = 3.32 WHERE id = 11671
UPDATE matches SET home_odds = 1.3, away_odds = 11.24, draw_odds = 6.14 WHERE id = 11665
UPDATE matches SET home_odds = 3.11, away_odds = 2.6, draw_odds = 3.17 WHERE id = 11666
UPDATE matches SET home_odds = 1.16, away_odds = 21.8, draw_odds = 9.0 WHERE id = 11662
UPDATE matches SET home_odds = 2.19, away_odds = 4.05, draw_odds = 3.15 WHERE id = 11667
UPDATE matches SET home_odds = 1.77, away_odds = 5.99, draw_odds = 3.48 WHERE id = 11668
UPDATE matches SET home_odds = 2.22, away_odds = 3.48, draw_odds = 3.54 WHERE id = 11663
UPDATE matches SET home_odds = 2.32, away_odds = 3.38, draw_odds = 3.42 WHERE id = 11664
UPDATE matches SET home_odds = 1.32, away_odds = 10.95, draw_odds = 5.85 WHERE id = 11655
UPDATE matches SET home_odds = 1.92, away_odds = 4.43, draw_odds = 3.66 WHERE id = 11656
UPDATE matches SET home_odds = 2.37, away_odds = 3.66, draw_odds = 3.07 WHERE id = 11657
UPDATE matches SET home_odds = 13.0, away_odds = 1.29, draw_odds = 5.9 WHERE id = 11661
UPDATE matches SET home_odds = 1.81, away_odds = 5.3, draw_odds = 3.59 WHERE id = 11658
UPDATE matches SET home_odds = 1.17, away_odds = 23.45, draw_odds = 8.19 WHERE id = 11659
UPDATE matches SET home_odds = 2.65, away_odds = 3.07, draw_odds = 3.15 WHERE id = 11660
UPDATE matches SET home_odds = 2.05, away_odds = 4.19, draw_odds = 3.4 WHERE id = 11654
UPDATE matches SET home_odds = 2.13, away_odds = 3.55, draw_odds = 3.71 WHERE id = 11653
UPDATE matches SET home_odds = 6.15, away_odds = 1.64, draw_odds = 4.05 WHERE id = 11652
UPDATE matches SET home_odds = 2.26, away_odds = 3.68, draw_odds = 3.26 WHERE id = 11647
UPDATE matches SET home_odds = 1.22, away_odds = 14.5, draw_odds = 7.4 WHERE id = 11646
UPDATE matches SET home_odds = 2.22, away_odds = 3.78, draw_odds = 3.27 WHERE id = 11648
UPDATE matches SET home_odds = 2.5, away_odds = 3.5, draw_odds = 2.99 WHERE id = 11649
UPDATE matches SET home_odds = 2.04, away_odds = 3.7, draw_odds = 3.85 WHERE id = 11651
UPDATE matches SET home_odds = 2.57, away_odds = 3.03, draw_odds = 3.32 WHERE id = 11650
UPDATE matches SET home_odds = 3.3, away_odds = 2.46, draw_odds = 3.22 WHERE id = 11645
UPDATE matches SET home_odds = 5.86, away_odds = 1.66, draw_odds = 4.03 WHERE id = 11644
UPDATE matches SET home_odds = 4.75, away_odds = 1.8, draw_odds = 3.93 WHERE id = 11643
UPDATE matches SET home_odds = 1.4, away_odds = 9.05, draw_odds = 5.1 WHERE id = 11642
UPDATE matches SET home_odds = 2.11, away_odds = 3.85, draw_odds = 3.49 WHERE id = 11636
UPDATE matches SET home_odds = 2.11, away_odds = 4.36, draw_odds = 3.15 WHERE id = 11637
UPDATE matches SET home_odds = 2.98, away_odds = 2.78, draw_odds = 3.08 WHERE id = 11638
UPDATE matches SET home_odds = 1.71, away_odds = 5.62, draw_odds = 3.89 WHERE id = 11641
UPDATE matches SET home_odds = 1.23, away_odds = 14.61, draw_odds = 7.14 WHERE id = 11639
UPDATE matches SET home_odds = 2.23, away_odds = 3.57, draw_odds = 3.42 WHERE id = 11635
UPDATE matches SET home_odds = 1.98, away_odds = 4.7, draw_odds = 3.3 WHERE id = 11640
UPDATE matches SET home_odds = 7.09, away_odds = 1.51, draw_odds = 4.66 WHERE id = 11634
UPDATE matches SET home_odds = 2.3, away_odds = 3.55, draw_odds = 3.3 WHERE id = 11633
UPDATE matches SET home_odds = 4.58, away_odds = 1.8, draw_odds = 4.06 WHERE id = 11632
UPDATE matches SET home_odds = 2.5, away_odds = 3.43, draw_odds = 3.04 WHERE id = 11631
UPDATE matches SET home_odds = 1.88, away_odds = 4.57, draw_odds = 3.72 WHERE id = 11626
UPDATE matches SET home_odds = 1.22, away_odds = 14.1, draw_odds = 7.6 WHERE id = 11625
UPDATE matches SET home_odds = 1.76, away_odds = 5.48, draw_odds = 3.71 WHERE id = 11627
UPDATE matches SET home_odds = 2.65, away_odds = 3.03, draw_odds = 3.19 WHERE id = 11628
UPDATE matches SET home_odds = 1.19, away_odds = 18.5, draw_odds = 8.05 WHERE id = 11629
UPDATE matches SET home_odds = 2.2, away_odds = 3.8, draw_odds = 3.3 WHERE id = 11630
UPDATE matches SET home_odds = 4.04, away_odds = 1.99, draw_odds = 3.7 WHERE id = 11624
UPDATE matches SET home_odds = 1.6, away_odds = 6.07, draw_odds = 4.35 WHERE id = 11623
UPDATE matches SET home_odds = 6.63, away_odds = 1.58, draw_odds = 4.24 WHERE id = 11622
UPDATE matches SET home_odds = 1.3, away_odds = 11.65, draw_odds = 6.0 WHERE id = 11615
UPDATE matches SET home_odds = 2.22, away_odds = 3.83, draw_odds = 3.24 WHERE id = 11616
UPDATE matches SET home_odds = 2.52, away_odds = 3.37, draw_odds = 3.07 WHERE id = 11617
UPDATE matches SET home_odds = 2.79, away_odds = 2.76, draw_odds = 3.34 WHERE id = 11621
UPDATE matches SET home_odds = 2.8, away_odds = 2.88, draw_odds = 3.16 WHERE id = 11618
UPDATE matches SET home_odds = 3.07, away_odds = 2.57, draw_odds = 3.28 WHERE id = 11619
UPDATE matches SET home_odds = 2.32, away_odds = 3.6, draw_odds = 3.21 WHERE id = 11620
UPDATE matches SET home_odds = 1.48, away_odds = 7.4, draw_odds = 4.81 WHERE id = 11614
UPDATE matches SET home_odds = 6.49, away_odds = 1.53, draw_odds = 4.66 WHERE id = 11613
UPDATE matches SET home_odds = 13.25, away_odds = 1.25, draw_odds = 6.89 WHERE id = 11612
UPDATE matches SET home_odds = 1.85, away_odds = 4.94, draw_odds = 3.6 WHERE id = 11609
UPDATE matches SET home_odds = 2.94, away_odds = 2.72, draw_odds = 3.2 WHERE id = 11610
UPDATE matches SET home_odds = 1.2, away_odds = 15.95, draw_odds = 7.85 WHERE id = 11608
UPDATE matches SET home_odds = 2.49, away_odds = 3.18, draw_odds = 3.29 WHERE id = 11611
UPDATE matches SET home_odds = 2.82, away_odds = 2.84, draw_odds = 3.2 WHERE id = 11601
UPDATE matches SET home_odds = 6.65, away_odds = 1.54, draw_odds = 4.54 WHERE id = 11607
UPDATE matches SET home_odds = 10.3, away_odds = 1.35, draw_odds = 5.47 WHERE id = 11600
UPDATE matches SET home_odds = 1.24, away_odds = 14.56, draw_odds = 7.02 WHERE id = 11602
UPDATE matches SET home_odds = 1.78, away_odds = 5.55, draw_odds = 3.62 WHERE id = 11603
UPDATE matches SET home_odds = 2.35, away_odds = 3.26, draw_odds = 3.47 WHERE id = 11604
UPDATE matches SET home_odds = 2.67, away_odds = 3.13, draw_odds = 3.07 WHERE id = 11605
UPDATE matches SET home_odds = 2.97, away_odds = 2.66, draw_odds = 3.25 WHERE id = 11606
UPDATE matches SET home_odds = 1.31, away_odds = 10.47, draw_odds = 6.1 WHERE id = 11599
UPDATE matches SET home_odds = 2.43, away_odds = 3.18, draw_odds = 3.4 WHERE id = 11598
UPDATE matches SET home_odds = 2.48, away_odds = 3.04, draw_odds = 3.47 WHERE id = 11591
UPDATE matches SET home_odds = 1.88, away_odds = 4.95, draw_odds = 3.48 WHERE id = 11592
UPDATE matches SET home_odds = 4.25, away_odds = 1.94, draw_odds = 3.71 WHERE id = 11597
UPDATE matches SET home_odds = 1.97, away_odds = 4.32, draw_odds = 3.54 WHERE id = 11593
UPDATE matches SET home_odds = 1.88, away_odds = 4.37, draw_odds = 3.85 WHERE id = 11590
UPDATE matches SET home_odds = 11.07, away_odds = 1.34, draw_odds = 5.54 WHERE id = 11594
UPDATE matches SET home_odds = 2.32, away_odds = 3.49, draw_odds = 3.05 WHERE id = 11595
UPDATE matches SET home_odds = 2.35, away_odds = 3.49, draw_odds = 3.25 WHERE id = 11596
UPDATE matches SET home_odds = 1.56, away_odds = 6.44, draw_odds = 4.45 WHERE id = 11589
UPDATE matches SET home_odds = 1.28, away_odds = 11.91, draw_odds = 6.34 WHERE id = 11588
UPDATE matches SET home_odds = 2.67, away_odds = 3.01, draw_odds = 3.19 WHERE id = 11583
UPDATE matches SET home_odds = 1.91, away_odds = 4.64, draw_odds = 3.56 WHERE id = 11584
UPDATE matches SET home_odds = 2.72, away_odds = 2.9, draw_odds = 3.14 WHERE id = 11585
UPDATE matches SET home_odds = 1.25, away_odds = 12.89, draw_odds = 7.15 WHERE id = 11582
UPDATE matches SET home_odds = 4.48, away_odds = 1.88, draw_odds = 3.74 WHERE id = 11587
UPDATE matches SET home_odds = 2.61, away_odds = 3.15, draw_odds = 3.13 WHERE id = 11586
UPDATE matches SET home_odds = 2.7, away_odds = 2.68, draw_odds = 3.61 WHERE id = 11581
UPDATE matches SET home_odds = 1.22, away_odds = 17.85, draw_odds = 7.05 WHERE id = 11579
UPDATE matches SET home_odds = 3.27, away_odds = 2.27, draw_odds = 3.65 WHERE id = 11580
UPDATE matches SET home_odds = 2.01, away_odds = 4.19, draw_odds = 3.52 WHERE id = 11578
UPDATE matches SET home_odds = 6.56, away_odds = 1.57, draw_odds = 4.35 WHERE id = 11577
UPDATE matches SET home_odds = 4.99, away_odds = 1.74, draw_odds = 4.07 WHERE id = 11576
UPDATE matches SET home_odds = 4.64, away_odds = 1.91, draw_odds = 3.55 WHERE id = 11574
UPDATE matches SET home_odds = 2.42, away_odds = 3.08, draw_odds = 3.53 WHERE id = 11575
UPDATE matches SET home_odds = 2.96, away_odds = 2.55, draw_odds = 3.44 WHERE id = 11572
UPDATE matches SET home_odds = 7.57, away_odds = 1.51, draw_odds = 4.45 WHERE id = 11573
UPDATE matches SET home_odds = 1.55, away_odds = 6.28, draw_odds = 4.65 WHERE id = 11570
UPDATE matches SET home_odds = 1.14, away_odds = 23.8, draw_odds = 9.66 WHERE id = 11569
UPDATE matches SET home_odds = 2.27, away_odds = 3.65, draw_odds = 3.29 WHERE id = 11571
UPDATE matches SET home_odds = 2.31, away_odds = 3.46, draw_odds = 3.35 WHERE id = 11568
UPDATE matches SET home_odds = 2.28, away_odds = 3.71, draw_odds = 3.2 WHERE id = 11562
UPDATE matches SET home_odds = 2.08, away_odds = 3.85, draw_odds = 3.57 WHERE id = 11563
UPDATE matches SET home_odds = 2.63, away_odds = 3.15, draw_odds = 3.1 WHERE id = 11564
UPDATE matches SET home_odds = 1.32, away_odds = 10.1, draw_odds = 5.85 WHERE id = 11567
UPDATE matches SET home_odds = 1.93, away_odds = 4.69, draw_odds = 3.47 WHERE id = 11565
UPDATE matches SET home_odds = 1.71, away_odds = 5.15, draw_odds = 4.11 WHERE id = 11566
UPDATE matches SET home_odds = 7.49, away_odds = 1.51, draw_odds = 4.5 WHERE id = 11561
UPDATE matches SET home_odds = 1.45, away_odds = 8.14, draw_odds = 4.83 WHERE id = 11559
UPDATE matches SET home_odds = 11.03, away_odds = 1.32, draw_odds = 5.72 WHERE id = 11560
UPDATE matches SET home_odds = 1.16, away_odds = 21.0, draw_odds = 8.65 WHERE id = 11558
UPDATE matches SET home_odds = 4.8, away_odds = 1.88, draw_odds = 3.59 WHERE id = 11557
UPDATE matches SET home_odds = 2.11, away_odds = 3.69, draw_odds = 3.62 WHERE id = 11552
UPDATE matches SET home_odds = 2.9, away_odds = 2.66, draw_odds = 3.35 WHERE id = 11551
UPDATE matches SET home_odds = 2.28, away_odds = 3.48, draw_odds = 3.41 WHERE id = 11553
UPDATE matches SET home_odds = 2.74, away_odds = 2.77, draw_odds = 3.4 WHERE id = 11556
UPDATE matches SET home_odds = 2.41, away_odds = 3.22, draw_odds = 3.39 WHERE id = 11554
UPDATE matches SET home_odds = 7.56, away_odds = 1.46, draw_odds = 4.82 WHERE id = 11555
UPDATE matches SET home_odds = 1.57, away_odds = 6.47, draw_odds = 4.35 WHERE id = 11548
UPDATE matches SET home_odds = 2.29, away_odds = 3.22, draw_odds = 3.66 WHERE id = 11549
UPDATE matches SET home_odds = 1.09, away_odds = 26.0, draw_odds = 13.5 WHERE id = 11550
UPDATE matches SET home_odds = 3.09, away_odds = 2.53, draw_odds = 3.31 WHERE id = 11547
UPDATE matches SET home_odds = 1.19, away_odds = 20.17, draw_odds = 7.77 WHERE id = 11546
UPDATE matches SET home_odds = 3.75, away_odds = 2.01, draw_odds = 3.9 WHERE id = 11545
UPDATE matches SET home_odds = 1.13, away_odds = 24.81, draw_odds = 9.71 WHERE id = 11543
UPDATE matches SET home_odds = 1.19, away_odds = 17.0, draw_odds = 7.8 WHERE id = 11544
UPDATE matches SET home_odds = 4.65, away_odds = 1.83, draw_odds = 3.88 WHERE id = 11542
UPDATE matches SET home_odds = 2.21, away_odds = 3.41, draw_odds = 3.57 WHERE id = 11532
UPDATE matches SET home_odds = 1.75, away_odds = 4.86, draw_odds = 4.01 WHERE id = 11533
UPDATE matches SET home_odds = 5.88, away_odds = 1.58, draw_odds = 4.48 WHERE id = 11534
UPDATE matches SET home_odds = 1.21, away_odds = 15.44, draw_odds = 7.65 WHERE id = 11535
UPDATE matches SET home_odds = 1.4, away_odds = 7.98, draw_odds = 5.46 WHERE id = 11536
UPDATE matches SET home_odds = 5.96, away_odds = 1.61, draw_odds = 4.22 WHERE id = 11537
UPDATE matches SET home_odds = 8.06, away_odds = 1.42, draw_odds = 5.11 WHERE id = 11538
UPDATE matches SET home_odds = 1.91, away_odds = 4.29, draw_odds = 3.72 WHERE id = 11539
UPDATE matches SET home_odds = 1.33, away_odds = 9.56, draw_odds = 5.95 WHERE id = 11540
UPDATE matches SET home_odds = 2.36, away_odds = 3.17, draw_odds = 3.51 WHERE id = 11541
UPDATE matches SET home_odds = 1.58, away_odds = 7.5, draw_odds = 3.93 WHERE id = 65
UPDATE matches SET home_odds = 1.89, away_odds = 4.58, draw_odds = 3.63 WHERE id = 67
UPDATE matches SET home_odds = 2.5, away_odds = 3.0, draw_odds = 3.46 WHERE id = 68
UPDATE matches SET home_odds = 6.41, away_odds = 1.62, draw_odds = 4.02 WHERE id = 69
UPDATE matches SET home_odds = 3.83, away_odds = 2.08, draw_odds = 3.57 WHERE id = 66
UPDATE matches SET home_odds = 2.43, away_odds = 3.33, draw_odds = 3.22 WHERE id = 70
UPDATE matches SET home_odds = 2.36, away_odds = 3.28, draw_odds = 3.4 WHERE id = 71
UPDATE matches SET home_odds = 4.0, away_odds = 1.93, draw_odds = 3.97 WHERE id = 74
UPDATE matches SET home_odds = 1.27, away_odds = 13.25, draw_odds = 6.35 WHERE id = 72
UPDATE matches SET home_odds = 1.86, away_odds = 4.99, draw_odds = 3.51 WHERE id = 73
UPDATE matches SET home_odds = 3.25, away_odds = 2.54, draw_odds = 3.12 WHERE id = 75
UPDATE matches SET home_odds = 1.83, away_odds = 4.46, draw_odds = 3.97 WHERE id = 81
UPDATE matches SET home_odds = 1.89, away_odds = 4.71, draw_odds = 3.56 WHERE id = 77
UPDATE matches SET home_odds = 2.05, away_odds = 3.9, draw_odds = 3.56 WHERE id = 78
UPDATE matches SET home_odds = 1.28, away_odds = 12.44, draw_odds = 6.29 WHERE id = 79
UPDATE matches SET home_odds = 2.09, away_odds = 3.69, draw_odds = 3.65 WHERE id = 80
UPDATE matches SET home_odds = 5.37, away_odds = 1.81, draw_odds = 3.56 WHERE id = 83
UPDATE matches SET home_odds = 2.47, away_odds = 3.37, draw_odds = 3.08 WHERE id = 76
UPDATE matches SET home_odds = 1.1, away_odds = 32.7, draw_odds = 12.39 WHERE id = 82
UPDATE matches SET home_odds = 7.34, away_odds = 1.45, draw_odds = 5.09 WHERE id = 84
UPDATE matches SET home_odds = 1.38, away_odds = 8.77, draw_odds = 5.52 WHERE id = 86
UPDATE matches SET home_odds = 2.63, away_odds = 2.77, draw_odds = 3.58 WHERE id = 87
UPDATE matches SET home_odds = 2.34, away_odds = 3.68, draw_odds = 3.1 WHERE id = 89
UPDATE matches SET home_odds = 1.17, away_odds = 21.13, draw_odds = 8.54 WHERE id = 91
UPDATE matches SET home_odds = 2.45, away_odds = 3.18, draw_odds = 3.34 WHERE id = 90
UPDATE matches SET home_odds = 12.1, away_odds = 1.27, draw_odds = 6.52 WHERE id = 85
UPDATE matches SET home_odds = 1.97, away_odds = 4.4, draw_odds = 3.47 WHERE id = 88
UPDATE matches SET home_odds = 5.49, away_odds = 1.68, draw_odds = 4.06 WHERE id = 93
UPDATE matches SET home_odds = 2.61, away_odds = 2.96, draw_odds = 3.33 WHERE id = 92
UPDATE matches SET home_odds = 2.61, away_odds = 2.93, draw_odds = 3.36 WHERE id = 94
UPDATE matches SET home_odds = 2.24, away_odds = 3.47, draw_odds = 3.45 WHERE id = 96
UPDATE matches SET home_odds = 1.3, away_odds = 10.73, draw_odds = 6.3 WHERE id = 98
UPDATE matches SET home_odds = 1.95, away_odds = 4.47, draw_odds = 3.5 WHERE id = 99
UPDATE matches SET home_odds = 1.5, away_odds = 8.06, draw_odds = 4.3 WHERE id = 100
UPDATE matches SET home_odds = 7.5, away_odds = 1.45, draw_odds = 4.96 WHERE id = 95
UPDATE matches SET home_odds = 1.12, away_odds = 27.95, draw_odds = 10.57 WHERE id = 102
UPDATE matches SET home_odds = 2.58, away_odds = 2.91, draw_odds = 3.44 WHERE id = 101
UPDATE matches SET home_odds = 5.94, away_odds = 1.68, draw_odds = 3.85 WHERE id = 97
UPDATE matches SET home_odds = 6.35, away_odds = 1.55, draw_odds = 4.54 WHERE id = 103
UPDATE matches SET home_odds = 5.5, away_odds = 1.66, draw_odds = 4.19 WHERE id = 104
UPDATE matches SET home_odds = 2.43, away_odds = 3.13, draw_odds = 3.46 WHERE id = 106
UPDATE matches SET home_odds = 1.19, away_odds = 18.5, draw_odds = 7.4 WHERE id = 107
UPDATE matches SET home_odds = 3.25, away_odds = 2.48, draw_odds = 3.23 WHERE id = 108
UPDATE matches SET home_odds = 1.13, away_odds = 20.82, draw_odds = 10.17 WHERE id = 109
UPDATE matches SET home_odds = 4.2, away_odds = 1.92, draw_odds = 3.83 WHERE id = 110
UPDATE matches SET home_odds = 3.03, away_odds = 2.37, draw_odds = 3.71 WHERE id = 105
UPDATE matches SET home_odds = 4.18, away_odds = 1.97, draw_odds = 3.65 WHERE id = 111

UPDATE matches SET home_odds = 1.22, away_odds = 15.07, draw_odds = 6.74 WHERE id = 143
UPDATE matches SET home_odds = 2.15, away_odds = 3.58, draw_odds = 3.59 WHERE id = 144
UPDATE matches SET home_odds = 5.0, away_odds = 1.69, draw_odds = 4.33 WHERE id = 138
UPDATE matches SET home_odds = 2.56, away_odds = 2.85, draw_odds = 3.56 WHERE id = 140
UPDATE matches SET home_odds = 6.02, away_odds = 1.63, draw_odds = 4.13 WHERE id = 142
UPDATE matches SET home_odds = 2.07, away_odds = 3.79, draw_odds = 3.67 WHERE id = 146
UPDATE matches SET home_odds = 2.51, away_odds = 3.02, draw_odds = 3.46 WHERE id = 147
UPDATE matches SET home_odds = 1.74, away_odds = 5.26, draw_odds = 3.93 WHERE id = 148
UPDATE matches SET home_odds = 11.49, away_odds = 1.33, draw_odds = 5.36 WHERE id = 150
UPDATE matches SET home_odds = 1.1, away_odds = 32.7, draw_odds = 11.96 WHERE id = 151
UPDATE matches SET home_odds = 2.22, away_odds = 3.9, draw_odds = 3.21 WHERE id = 152
UPDATE matches SET home_odds = 4.07, away_odds = 1.93, draw_odds = 3.89 WHERE id = 153
UPDATE matches SET home_odds = 1.76, away_odds = 5.47, draw_odds = 3.68 WHERE id = 154
UPDATE matches SET home_odds = 1.88, away_odds = 4.66, draw_odds = 3.67 WHERE id = 149
UPDATE matches SET home_odds = 1.56, away_odds = 6.51, draw_odds = 4.36 WHERE id = 145
UPDATE matches SET home_odds = 3.27, away_odds = 2.5, draw_odds = 3.19 WHERE id = 155
UPDATE matches SET home_odds = 2.95, away_odds = 2.42, draw_odds = 3.75 WHERE id = 158
UPDATE matches SET home_odds = 2.16, away_odds = 3.75, draw_odds = 3.45 WHERE id = 159
UPDATE matches SET home_odds = 1.11, away_odds = 27.28, draw_odds = 10.86 WHERE id = 160
UPDATE matches SET home_odds = 2.14, away_odds = 3.91, draw_odds = 3.37 WHERE id = 162
UPDATE matches SET home_odds = 1.76, away_odds = 5.37, draw_odds = 3.74 WHERE id = 164
UPDATE matches SET home_odds = 10.84, away_odds = 1.37, draw_odds = 4.89 WHERE id = 156
UPDATE matches SET home_odds = 4.56, away_odds = 1.76, draw_odds = 4.26 WHERE id = 157
UPDATE matches SET home_odds = 1.75, away_odds = 5.16, draw_odds = 3.91 WHERE id = 161
UPDATE matches SET home_odds = 4.76, away_odds = 1.74, draw_odds = 4.24 WHERE id = 163
UPDATE matches SET home_odds = 3.92, away_odds = 2.0, draw_odds = 3.77 WHERE id = 165
UPDATE matches SET home_odds = 3.62, away_odds = 2.14, draw_odds = 3.64 WHERE id = 166
UPDATE matches SET home_odds = 3.85, away_odds = 2.16, draw_odds = 3.37 WHERE id = 167
UPDATE matches SET home_odds = 1.58, away_odds = 7.01, draw_odds = 4.07 WHERE id = 169
UPDATE matches SET home_odds = 2.78, away_odds = 2.85, draw_odds = 3.25 WHERE id = 172
UPDATE matches SET home_odds = 1.76, away_odds = 5.42, draw_odds = 3.74 WHERE id = 173
UPDATE matches SET home_odds = 3.13, away_odds = 2.49, draw_odds = 3.36 WHERE id = 174
UPDATE matches SET home_odds = 1.27, away_odds = 11.51, draw_odds = 6.18 WHERE id = 168
UPDATE matches SET home_odds = 1.11, away_odds = 28.68, draw_odds = 10.68 WHERE id = 171
UPDATE matches SET home_odds = 2.33, away_odds = 3.34, draw_odds = 3.45 WHERE id = 170
UPDATE matches SET home_odds = 2.61, away_odds = 3.11, draw_odds = 3.19 WHERE id = 176
UPDATE matches SET home_odds = 4.48, away_odds = 1.91, draw_odds = 3.67 WHERE id = 178
UPDATE matches SET home_odds = 3.46, away_odds = 2.33, draw_odds = 3.33 WHERE id = 179
UPDATE matches SET home_odds = 1.49, away_odds = 7.95, draw_odds = 4.45 WHERE id = 180
UPDATE matches SET home_odds = 2.89, away_odds = 2.62, draw_odds = 3.43 WHERE id = 183
UPDATE matches SET home_odds = 2.53, away_odds = 3.09, draw_odds = 3.34 WHERE id = 184
UPDATE matches SET home_odds = 1.68, away_odds = 5.41, draw_odds = 4.14 WHERE id = 175
UPDATE matches SET home_odds = 1.42, away_odds = 7.89, draw_odds = 5.17 WHERE id = 177
UPDATE matches SET home_odds = 1.11, away_odds = 24.65, draw_odds = 10.9 WHERE id = 181
UPDATE matches SET home_odds = 1.39, away_odds = 8.32, draw_odds = 5.4 WHERE id = 182
UPDATE matches SET home_odds = 2.89, away_odds = 2.74, draw_odds = 3.25 WHERE id = 186
UPDATE matches SET home_odds = 1.43, away_odds = 8.61, draw_odds = 4.78 WHERE id = 188
UPDATE matches SET home_odds = 2.68, away_odds = 2.82, draw_odds = 3.45 WHERE id = 189
UPDATE matches SET home_odds = 1.42, away_odds = 8.79, draw_odds = 4.88 WHERE id = 190
UPDATE matches SET home_odds = 2.87, away_odds = 2.6, draw_odds = 3.5 WHERE id = 191
UPDATE matches SET home_odds = 6.31, away_odds = 1.59, draw_odds = 4.28 WHERE id = 192
UPDATE matches SET home_odds = 12.46, away_odds = 1.25, draw_odds = 6.58 WHERE id = 193
UPDATE matches SET home_odds = 3.53, away_odds = 2.1, draw_odds = 3.84 WHERE id = 185
UPDATE matches SET home_odds = 1.51, away_odds = 8.2, draw_odds = 4.16 WHERE id = 194
UPDATE matches SET home_odds = 2.93, away_odds = 2.77, draw_odds = 3.16 WHERE id = 187
UPDATE matches SET home_odds = 3.76, away_odds = 2.22, draw_odds = 3.32 WHERE id = 196
UPDATE matches SET home_odds = 1.62, away_odds = 6.65, draw_odds = 3.92 WHERE id = 198
UPDATE matches SET home_odds = 2.5, away_odds = 3.42, draw_odds = 3.06 WHERE id = 199
UPDATE matches SET home_odds = 2.28, away_odds = 3.54, draw_odds = 3.35 WHERE id = 200
UPDATE matches SET home_odds = 1.11, away_odds = 23.72, draw_odds = 10.98 WHERE id = 202
UPDATE matches SET home_odds = 2.5, away_odds = 3.1, draw_odds = 3.38 WHERE id = 203
UPDATE matches SET home_odds = 4.3, away_odds = 1.99, draw_odds = 3.52 WHERE id = 204
UPDATE matches SET home_odds = 2.63, away_odds = 2.7, draw_odds = 3.73 WHERE id = 195
UPDATE matches SET home_odds = 1.18, away_odds = 15.58, draw_odds = 7.92 WHERE id = 197
UPDATE matches SET home_odds = 1.41, away_odds = 8.47, draw_odds = 5.05 WHERE id = 201
UPDATE matches SET home_odds = 1.7, away_odds = 5.82, draw_odds = 3.82 WHERE id = 205
UPDATE matches SET home_odds = 2.98, away_odds = 2.74, draw_odds = 3.14 WHERE id = 206
UPDATE matches SET home_odds = 9.74, away_odds = 1.31, draw_odds = 5.98 WHERE id = 209
UPDATE matches SET home_odds = 1.66, away_odds = 5.76, draw_odds = 4.09 WHERE id = 210
UPDATE matches SET home_odds = 11.09, away_odds = 1.29, draw_odds = 5.9 WHERE id = 207
UPDATE matches SET home_odds = 1.6, away_odds = 6.98, draw_odds = 3.94 WHERE id = 213
UPDATE matches SET home_odds = 3.06, away_odds = 2.45, draw_odds = 3.51 WHERE id = 208
UPDATE matches SET home_odds = 2.45, away_odds = 3.01, draw_odds = 3.59 WHERE id = 212
UPDATE matches SET home_odds = 1.38, away_odds = 9.52, draw_odds = 5.11 WHERE id = 214
UPDATE matches SET home_odds = 4.85, away_odds = 1.81, draw_odds = 3.82 WHERE id = 211
UPDATE matches SET home_odds = 1.27, away_odds = 11.66, draw_odds = 6.13 WHERE id = 215
UPDATE matches SET home_odds = 5.94, away_odds = 1.58, draw_odds = 4.52 WHERE id = 216
UPDATE matches SET home_odds = 2.87, away_odds = 2.84, draw_odds = 3.15 WHERE id = 217
UPDATE matches SET home_odds = 2.92, away_odds = 2.66, draw_odds = 3.33 WHERE id = 218
UPDATE matches SET home_odds = 4.0, away_odds = 1.99, draw_odds = 3.75 WHERE id = 219
UPDATE matches SET home_odds = 3.94, away_odds = 2.07, draw_odds = 3.55 WHERE id = 221
UPDATE matches SET home_odds = 1.36, away_odds = 9.84, draw_odds = 5.29 WHERE id = 222
UPDATE matches SET home_odds = 2.29, away_odds = 3.45, draw_odds = 3.43 WHERE id = 224
UPDATE matches SET home_odds = 3.01, away_odds = 2.7, draw_odds = 3.16 WHERE id = 223
UPDATE matches SET home_odds = 1.77, away_odds = 4.99, draw_odds = 3.93 WHERE id = 220
UPDATE matches SET home_odds = 2.72, away_odds = 2.99, draw_odds = 3.15 WHERE id = 226
UPDATE matches SET home_odds = 3.03, away_odds = 2.44, draw_odds = 3.59 WHERE id = 227
UPDATE matches SET home_odds = 2.73, away_odds = 3.08, draw_odds = 3.05 WHERE id = 228
UPDATE matches SET home_odds = 1.22, away_odds = 13.26, draw_odds = 7.01 WHERE id = 230
UPDATE matches SET home_odds = 1.18, away_odds = 18.36, draw_odds = 7.74 WHERE id = 232
UPDATE matches SET home_odds = 1.63, away_odds = 6.37, draw_odds = 3.99 WHERE id = 233
UPDATE matches SET home_odds = 2.02, away_odds = 4.2, draw_odds = 3.48 WHERE id = 234
UPDATE matches SET home_odds = 7.64, away_odds = 1.51, draw_odds = 4.37 WHERE id = 225
UPDATE matches SET home_odds = 1.53, away_odds = 6.76, draw_odds = 4.51 WHERE id = 229
UPDATE matches SET home_odds = 3.87, away_odds = 1.98, draw_odds = 3.9 WHERE id = 231
UPDATE matches SET home_odds = 6.85, away_odds = 1.59, draw_odds = 4.04 WHERE id = 244
UPDATE matches SET home_odds = 1.23, away_odds = 14.96, draw_odds = 6.4 WHERE id = 235
UPDATE matches SET home_odds = 1.95, away_odds = 4.4, draw_odds = 3.55 WHERE id = 236
UPDATE matches SET home_odds = 6.27, away_odds = 1.62, draw_odds = 4.1 WHERE id = 237
UPDATE matches SET home_odds = 1.33, away_odds = 11.37, draw_odds = 5.42 WHERE id = 238
UPDATE matches SET home_odds = 3.08, away_odds = 2.68, draw_odds = 3.11 WHERE id = 240
UPDATE matches SET home_odds = 1.14, away_odds = 21.47, draw_odds = 9.39 WHERE id = 241
UPDATE matches SET home_odds = 2.03, away_odds = 4.06, draw_odds = 3.58 WHERE id = 242
UPDATE matches SET home_odds = 2.37, away_odds = 3.16, draw_odds = 3.57 WHERE id = 243
UPDATE matches SET home_odds = 3.27, away_odds = 2.35, draw_odds = 3.47 WHERE id = 239
UPDATE matches SET home_odds = 5.26, away_odds = 1.75, draw_odds = 3.84 WHERE id = 245
UPDATE matches SET home_odds = 4.51, away_odds = 1.95, draw_odds = 3.5 WHERE id = 246
UPDATE matches SET home_odds = 1.65, away_odds = 6.08, draw_odds = 3.96 WHERE id = 247
UPDATE matches SET home_odds = 3.25, away_odds = 2.45, draw_odds = 3.3 WHERE id = 248
UPDATE matches SET home_odds = 9.66, away_odds = 1.36, draw_odds = 5.31 WHERE id = 249
UPDATE matches SET home_odds = 1.16, away_odds = 19.61, draw_odds = 8.26 WHERE id = 250
UPDATE matches SET home_odds = 1.23, away_odds = 13.8, draw_odds = 6.79 WHERE id = 251
UPDATE matches SET home_odds = 1.37, away_odds = 10.01, draw_odds = 5.18 WHERE id = 253
UPDATE matches SET home_odds = 5.08, away_odds = 1.76, draw_odds = 3.92 WHERE id = 254
UPDATE matches SET home_odds = 2.28, away_odds = 3.32, draw_odds = 3.56 WHERE id = 252
UPDATE matches SET home_odds = 3.54, away_odds = 2.26, draw_odds = 3.41 WHERE id = 255
UPDATE matches SET home_odds = 2.09, away_odds = 4.16, draw_odds = 3.32 WHERE id = 258
UPDATE matches SET home_odds = 1.58, away_odds = 6.4, draw_odds = 4.31 WHERE id = 259
UPDATE matches SET home_odds = 1.5, away_odds = 6.59, draw_odds = 4.93 WHERE id = 260
UPDATE matches SET home_odds = 1.37, away_odds = 9.98, draw_odds = 5.12 WHERE id = 263
UPDATE matches SET home_odds = 1.81, away_odds = 4.9, draw_odds = 3.78 WHERE id = 264
UPDATE matches SET home_odds = 3.39, away_odds = 2.27, draw_odds = 3.53 WHERE id = 256
UPDATE matches SET home_odds = 5.17, away_odds = 1.76, draw_odds = 3.87 WHERE id = 257
UPDATE matches SET home_odds = 1.37, away_odds = 8.96, draw_odds = 5.45 WHERE id = 261
UPDATE matches SET home_odds = 9.96, away_odds = 1.33, draw_odds = 5.8 WHERE id = 262
UPDATE matches SET home_odds = 1.34, away_odds = 9.02, draw_odds = 5.58 WHERE id = 265
UPDATE matches SET home_odds = 7.19, away_odds = 1.5, draw_odds = 4.45 WHERE id = 267
UPDATE matches SET home_odds = 2.01, away_odds = 4.14, draw_odds = 3.57 WHERE id = 269
UPDATE matches SET home_odds = 2.63, away_odds = 2.81, draw_odds = 3.54 WHERE id = 266
UPDATE matches SET home_odds = 1.27, away_odds = 12.2, draw_odds = 6.08 WHERE id = 268
UPDATE matches SET home_odds = 2.17, away_odds = 4.08, draw_odds = 3.18 WHERE id = 270
UPDATE matches SET home_odds = 5.87, away_odds = 1.6, draw_odds = 4.3 WHERE id = 272
UPDATE matches SET home_odds = 1.99, away_odds = 4.14, draw_odds = 3.62 WHERE id = 273
UPDATE matches SET home_odds = 2.04, away_odds = 4.24, draw_odds = 3.41 WHERE id = 274
UPDATE matches SET home_odds = 2.06, away_odds = 3.61, draw_odds = 3.87 WHERE id = 271
UPDATE matches SET home_odds = 9.78, away_odds = 1.34, draw_odds = 5.39 WHERE id = 275
UPDATE matches SET home_odds = 2.39, away_odds = 3.36, draw_odds = 3.26 WHERE id = 276
UPDATE matches SET home_odds = 2.26, away_odds = 3.71, draw_odds = 3.23 WHERE id = 277
UPDATE matches SET home_odds = 1.22, away_odds = 15.97, draw_odds = 6.67 WHERE id = 278
UPDATE matches SET home_odds = 2.27, away_odds = 3.44, draw_odds = 3.44 WHERE id = 279
UPDATE matches SET home_odds = 1.93, away_odds = 4.43, draw_odds = 3.59 WHERE id = 281
UPDATE matches SET home_odds = 3.53, away_odds = 2.1, draw_odds = 3.85 WHERE id = 284
UPDATE matches SET home_odds = 1.76, away_odds = 4.91, draw_odds = 4.0 WHERE id = 280
UPDATE matches SET home_odds = 2.07, away_odds = 3.75, draw_odds = 3.7 WHERE id = 283
UPDATE matches SET home_odds = 1.19, away_odds = 16.79, draw_odds = 7.47 WHERE id = 282
UPDATE matches SET home_odds = 3.09, away_odds = 2.37, draw_odds = 3.65 WHERE id = 285
UPDATE matches SET home_odds = 2.34, away_odds = 3.08, draw_odds = 3.71 WHERE id = 286
UPDATE matches SET home_odds = 1.19, away_odds = 16.08, draw_odds = 7.45 WHERE id = 289
UPDATE matches SET home_odds = 1.32, away_odds = 10.92, draw_odds = 5.62 WHERE id = 290
UPDATE matches SET home_odds = 1.97, away_odds = 4.53, draw_odds = 3.39 WHERE id = 291
UPDATE matches SET home_odds = 2.76, away_odds = 2.73, draw_odds = 3.41 WHERE id = 292
UPDATE matches SET home_odds = 1.64, away_odds = 5.72, draw_odds = 4.15 WHERE id = 293
UPDATE matches SET home_odds = 2.38, away_odds = 3.48, draw_odds = 3.21 WHERE id = 294
UPDATE matches SET home_odds = 5.49, away_odds = 1.74, draw_odds = 3.69 WHERE id = 287
UPDATE matches SET home_odds = 21.51, away_odds = 1.15, draw_odds = 8.28 WHERE id = 288
UPDATE matches SET home_odds = 1.22, away_odds = 13.58, draw_odds = 6.92 WHERE id = 295
UPDATE matches SET home_odds = 2.42, away_odds = 3.35, draw_odds = 3.23 WHERE id = 297
UPDATE matches SET home_odds = 4.06, away_odds = 2.11, draw_odds = 3.31 WHERE id = 298
UPDATE matches SET home_odds = 1.29, away_odds = 11.91, draw_odds = 5.73 WHERE id = 300
UPDATE matches SET home_odds = 14.57, away_odds = 1.2, draw_odds = 7.67 WHERE id = 301
UPDATE matches SET home_odds = 2.1, away_odds = 3.84, draw_odds = 3.49 WHERE id = 299
UPDATE matches SET home_odds = 5.55, away_odds = 1.64, draw_odds = 4.26 WHERE id = 296
UPDATE matches SET home_odds = 1.24, away_odds = 13.11, draw_odds = 6.55 WHERE id = 303
UPDATE matches SET home_odds = 2.39, away_odds = 3.25, draw_odds = 3.38 WHERE id = 302
UPDATE matches SET home_odds = 1.65, away_odds = 5.9, draw_odds = 3.98 WHERE id = 304
UPDATE matches SET home_odds = 2.65, away_odds = 2.95, draw_odds = 3.27 WHERE id = 305
UPDATE matches SET home_odds = 2.59, away_odds = 2.91, draw_odds = 3.43 WHERE id = 306
UPDATE matches SET home_odds = 3.31, away_odds = 2.33, draw_odds = 3.48 WHERE id = 307
UPDATE matches SET home_odds = 1.22, away_odds = 14.33, draw_odds = 6.93 WHERE id = 308
UPDATE matches SET home_odds = 2.05, away_odds = 3.9, draw_odds = 3.59 WHERE id = 309
UPDATE matches SET home_odds = 2.44, away_odds = 3.21, draw_odds = 3.33 WHERE id = 310
UPDATE matches SET home_odds = 1.43, away_odds = 9.35, draw_odds = 4.47 WHERE id = 313
UPDATE matches SET home_odds = 3.84, away_odds = 2.17, draw_odds = 3.37 WHERE id = 311
UPDATE matches SET home_odds = 1.32, away_odds = 9.06, draw_odds = 6.24 WHERE id = 312
UPDATE matches SET home_odds = 7.52, away_odds = 1.41, draw_odds = 5.27 WHERE id = 314
UPDATE matches SET home_odds = 9.59, away_odds = 1.33, draw_odds = 5.84 WHERE id = 330
UPDATE matches SET home_odds = 2.06, away_odds = 4.14, draw_odds = 3.41 WHERE id = 315
UPDATE matches SET home_odds = 2.13, away_odds = 3.77, draw_odds = 3.46 WHERE id = 316
UPDATE matches SET home_odds = 5.57, away_odds = 1.63, draw_odds = 4.36 WHERE id = 317
UPDATE matches SET home_odds = 5.69, away_odds = 1.63, draw_odds = 4.24 WHERE id = 318
UPDATE matches SET home_odds = 1.2, away_odds = 15.64, draw_odds = 7.34 WHERE id = 319
UPDATE matches SET home_odds = 1.78, away_odds = 5.06, draw_odds = 3.77 WHERE id = 321
UPDATE matches SET home_odds = 2.41, away_odds = 3.24, draw_odds = 3.35 WHERE id = 323
UPDATE matches SET home_odds = 1.51, away_odds = 6.91, draw_odds = 4.63 WHERE id = 320
UPDATE matches SET home_odds = 1.72, away_odds = 5.7, draw_odds = 3.76 WHERE id = 322
UPDATE matches SET home_odds = 1.69, away_odds = 5.96, draw_odds = 3.82 WHERE id = 324
UPDATE matches SET home_odds = 3.08, away_odds = 2.5, draw_odds = 3.36 WHERE id = 328
UPDATE matches SET home_odds = 1.96, away_odds = 4.09, draw_odds = 3.72 WHERE id = 334
UPDATE matches SET home_odds = 2.88, away_odds = 2.69, draw_odds = 3.31 WHERE id = 326
UPDATE matches SET home_odds = 5.52, away_odds = 1.73, draw_odds = 3.81 WHERE id = 327
UPDATE matches SET home_odds = 2.24, away_odds = 3.66, draw_odds = 3.35 WHERE id = 331
UPDATE matches SET home_odds = 1.85, away_odds = 5.22, draw_odds = 3.43 WHERE id = 333
UPDATE matches SET home_odds = 1.53, away_odds = 6.58, draw_odds = 4.47 WHERE id = 325
UPDATE matches SET home_odds = 3.16, away_odds = 2.35, draw_odds = 3.63 WHERE id = 332
UPDATE matches SET home_odds = 3.85, away_odds = 2.14, draw_odds = 3.38 WHERE id = 336
UPDATE matches SET home_odds = 5.17, away_odds = 1.86, draw_odds = 3.41 WHERE id = 337
UPDATE matches SET home_odds = 1.95, away_odds = 4.53, draw_odds = 3.45 WHERE id = 338
UPDATE matches SET home_odds = 2.15, away_odds = 3.89, draw_odds = 3.33 WHERE id = 341
UPDATE matches SET home_odds = 1.46, away_odds = 7.4, draw_odds = 4.85 WHERE id = 335
UPDATE matches SET home_odds = 2.3, away_odds = 3.38, draw_odds = 3.48 WHERE id = 340
UPDATE matches SET home_odds = 3.25, away_odds = 2.36, draw_odds = 3.43 WHERE id = 339
UPDATE matches SET home_odds = 1.29, away_odds = 11.94, draw_odds = 5.66 WHERE id = 343
UPDATE matches SET home_odds = 1.16, away_odds = 17.97, draw_odds = 8.38 WHERE id = 344
UPDATE matches SET home_odds = 1.93, away_odds = 4.33, draw_odds = 3.66 WHERE id = 342
UPDATE matches SET home_odds = 11.74, away_odds = 1.23, draw_odds = 7.23 WHERE id = 345
UPDATE matches SET home_odds = 1.83, away_odds = 5.24, draw_odds = 3.5 WHERE id = 346
UPDATE matches SET home_odds = 2.9, away_odds = 2.67, draw_odds = 3.32 WHERE id = 347
UPDATE matches SET home_odds = 1.45, away_odds = 8.37, draw_odds = 4.61 WHERE id = 350
UPDATE matches SET home_odds = 2.05, away_odds = 3.78, draw_odds = 3.75 WHERE id = 351
UPDATE matches SET home_odds = 2.1, away_odds = 3.81, draw_odds = 3.56 WHERE id = 353
UPDATE matches SET home_odds = 1.51, away_odds = 7.46, draw_odds = 4.37 WHERE id = 354
UPDATE matches SET home_odds = 5.69, away_odds = 1.67, draw_odds = 4.05 WHERE id = 348
UPDATE matches SET home_odds = 6.49, away_odds = 1.53, draw_odds = 4.68 WHERE id = 349
UPDATE matches SET home_odds = 2.5, away_odds = 3.04, draw_odds = 3.45 WHERE id = 352
UPDATE matches SET home_odds = 3.58, away_odds = 2.21, draw_odds = 3.43 WHERE id = 356
UPDATE matches SET home_odds = 1.88, away_odds = 4.85, draw_odds = 3.52 WHERE id = 358
UPDATE matches SET home_odds = 3.53, away_odds = 2.31, draw_odds = 3.27 WHERE id = 359
UPDATE matches SET home_odds = 1.6, away_odds = 5.73, draw_odds = 4.41 WHERE id = 360
UPDATE matches SET home_odds = 1.15, away_odds = 19.09, draw_odds = 8.79 WHERE id = 362
UPDATE matches SET home_odds = 2.85, away_odds = 2.78, draw_odds = 3.21 WHERE id = 363
UPDATE matches SET home_odds = 4.34, away_odds = 1.89, draw_odds = 3.78 WHERE id = 364
UPDATE matches SET home_odds = 2.45, away_odds = 3.04, draw_odds = 3.55 WHERE id = 355
UPDATE matches SET home_odds = 1.59, away_odds = 6.93, draw_odds = 4.04 WHERE id = 357
UPDATE matches SET home_odds = 1.17, away_odds = 18.87, draw_odds = 7.8 WHERE id = 361
UPDATE matches SET home_odds = 2.13, away_odds = 3.79, draw_odds = 3.45 WHERE id = 365
UPDATE matches SET home_odds = 3.16, away_odds = 2.41, draw_odds = 3.43 WHERE id = 367
UPDATE matches SET home_odds = 1.58, away_odds = 6.7, draw_odds = 4.09 WHERE id = 373
UPDATE matches SET home_odds = 4.12, away_odds = 1.99, draw_odds = 3.64 WHERE id = 368
UPDATE matches SET home_odds = 11.68, away_odds = 1.27, draw_odds = 6.34 WHERE id = 369
UPDATE matches SET home_odds = 2.6, away_odds = 3.13, draw_odds = 3.14 WHERE id = 376

UPDATE matches SET home_odds = 1.83, away_odds = 5.06, draw_odds = 3.52 WHERE id = 157044
UPDATE matches SET over_odds = 2.35, under_odds = 1.66 WHERE id = 157044
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 157044
UPDATE matches SET home_odds = 3.83, away_odds = 2.12, draw_odds = 3.41 WHERE id = 157053
UPDATE matches SET over_odds = 1.92, under_odds = 2.0 WHERE id = 157053
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157053
UPDATE matches SET home_odds = 1.36, away_odds = 10.23, draw_odds = 5.12 WHERE id = 157047
UPDATE matches SET over_odds = 1.76, under_odds = 2.18 WHERE id = 157047
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.97 WHERE id = 157047
UPDATE matches SET home_odds = 2.22, away_odds = 3.5, draw_odds = 3.44 WHERE id = 157048
UPDATE matches SET over_odds = 2.03, under_odds = 1.89 WHERE id = 157048
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157048
UPDATE matches SET home_odds = 1.71, away_odds = 4.95, draw_odds = 4.12 WHERE id = 157050
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 157050
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157050
UPDATE matches SET home_odds = 1.08, away_odds = 34.71, draw_odds = 13.01 WHERE id = 157051
UPDATE matches SET over_odds = 1.3, under_odds = 3.82 WHERE id = 157051
UPDATE matches SET handicap_size = 2.75, handicap_odds = 1.96 WHERE id = 157051
UPDATE matches SET home_odds = 2.73, away_odds = 2.86, draw_odds = 3.22 WHERE id = 157052
UPDATE matches SET over_odds = 2.12, under_odds = 1.81 WHERE id = 157052
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157052
UPDATE matches SET home_odds = 1.91, away_odds = 4.04, draw_odds = 3.93 WHERE id = 157054
UPDATE matches SET over_odds = 1.51, under_odds = 2.74 WHERE id = 157054
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157054
UPDATE matches SET home_odds = 10.24, away_odds = 1.34, draw_odds = 5.37 WHERE id = 157046
UPDATE matches SET over_odds = 1.65, under_odds = 2.39 WHERE id = 157046
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157046
UPDATE matches SET home_odds = 2.17, away_odds = 3.71, draw_odds = 3.36 WHERE id = 157049
UPDATE matches SET over_odds = 2.33, under_odds = 1.68 WHERE id = 157049
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157049
UPDATE matches SET home_odds = 2.38, away_odds = 3.0, draw_odds = 3.67 WHERE id = 157045
UPDATE matches SET over_odds = 1.59, under_odds = 2.52 WHERE id = 157045
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157045
UPDATE matches SET home_odds = 1.16, away_odds = 20.6, draw_odds = 8.41 WHERE id = 157058
UPDATE matches SET over_odds = 1.44, under_odds = 2.98 WHERE id = 157058
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.96 WHERE id = 157058
UPDATE matches SET home_odds = 2.17, away_odds = 3.75, draw_odds = 3.35 WHERE id = 157057
UPDATE matches SET over_odds = 2.12, under_odds = 1.81 WHERE id = 157057
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157057
UPDATE matches SET home_odds = 1.99, away_odds = 4.17, draw_odds = 3.53 WHERE id = 157059
UPDATE matches SET over_odds = 1.9, under_odds = 2.02 WHERE id = 157059
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157059
UPDATE matches SET home_odds = 2.45, away_odds = 3.12, draw_odds = 3.35 WHERE id = 157061
UPDATE matches SET over_odds = 2.19, under_odds = 1.76 WHERE id = 157061
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157061
UPDATE matches SET home_odds = 1.4, away_odds = 8.87, draw_odds = 4.92 WHERE id = 157062
UPDATE matches SET over_odds = 1.67, under_odds = 2.35 WHERE id = 157062
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157062
UPDATE matches SET home_odds = 3.07, away_odds = 2.48, draw_odds = 3.37 WHERE id = 157064
UPDATE matches SET over_odds = 2.02, under_odds = 1.9 WHERE id = 157064
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157064
UPDATE matches SET home_odds = 18.79, away_odds = 1.14, draw_odds = 9.48 WHERE id = 157060
UPDATE matches SET over_odds = 1.24, under_odds = 4.38 WHERE id = 157060
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.9549999999999998 WHERE id = 157060
UPDATE matches SET home_odds = 3.05, away_odds = 2.41, draw_odds = 3.53 WHERE id = 157055
UPDATE matches SET over_odds = 1.77, under_odds = 2.17 WHERE id = 157055
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157055
UPDATE matches SET home_odds = 3.66, away_odds = 2.06, draw_odds = 3.74 WHERE id = 157063
UPDATE matches SET over_odds = 1.57, under_odds = 2.56 WHERE id = 157063
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 157063
UPDATE matches SET home_odds = 2.65, away_odds = 2.69, draw_odds = 3.6 WHERE id = 157056
UPDATE matches SET over_odds = 1.63, under_odds = 2.42 WHERE id = 157056
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157056
UPDATE matches SET home_odds = 2.12, away_odds = 3.55, draw_odds = 3.65 WHERE id = 157073
UPDATE matches SET over_odds = 1.68, under_odds = 2.31 WHERE id = 157073
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157073
UPDATE matches SET home_odds = 2.92, away_odds = 2.5, draw_odds = 3.53 WHERE id = 157070
UPDATE matches SET over_odds = 1.82, under_odds = 2.11 WHERE id = 157070
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 157070
UPDATE matches SET home_odds = 2.02, away_odds = 3.73, draw_odds = 3.8 WHERE id = 157066
UPDATE matches SET over_odds = 1.7, under_odds = 2.28 WHERE id = 157066
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157066
UPDATE matches SET home_odds = 1.69, away_odds = 5.76, draw_odds = 3.8 WHERE id = 157069
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 157069
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157069
UPDATE matches SET home_odds = 1.11, away_odds = 27.58, draw_odds = 10.69 WHERE id = 157071
UPDATE matches SET over_odds = 1.28, under_odds = 4.01 WHERE id = 157071
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.96 WHERE id = 157071
UPDATE matches SET home_odds = 2.55, away_odds = 3.16, draw_odds = 3.15 WHERE id = 157072
UPDATE matches SET over_odds = 2.4, under_odds = 1.64 WHERE id = 157072
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 157072
UPDATE matches SET home_odds = 2.68, away_odds = 2.98, draw_odds = 3.15 WHERE id = 157068
UPDATE matches SET over_odds = 2.43, under_odds = 1.63 WHERE id = 157068
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157068
UPDATE matches SET home_odds = 3.33, away_odds = 2.24, draw_odds = 3.56 WHERE id = 157074
UPDATE matches SET over_odds = 1.76, under_odds = 2.19 WHERE id = 157074
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157074
UPDATE matches SET home_odds = 1.43, away_odds = 8.01, draw_odds = 4.86 WHERE id = 157065
UPDATE matches SET over_odds = 1.47, under_odds = 2.88 WHERE id = 157065
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157065
UPDATE matches SET home_odds = 3.66, away_odds = 2.08, draw_odds = 3.66 WHERE id = 157067
UPDATE matches SET over_odds = 1.63, under_odds = 2.43 WHERE id = 157067
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 157067
UPDATE matches SET home_odds = 9.4, away_odds = 1.36, draw_odds = 5.22 WHERE id = 157082
UPDATE matches SET over_odds = 1.66, under_odds = 2.35 WHERE id = 157082
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 157082
UPDATE matches SET home_odds = 2.39, away_odds = 3.15, draw_odds = 3.45 WHERE id = 157076
UPDATE matches SET over_odds = 1.92, under_odds = 2.0 WHERE id = 157076
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157076
UPDATE matches SET home_odds = 2.49, away_odds = 2.86, draw_odds = 3.62 WHERE id = 157075
UPDATE matches SET over_odds = 1.57, under_odds = 2.55 WHERE id = 157075
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 157075
UPDATE matches SET home_odds = 1.44, away_odds = 8.41, draw_odds = 4.65 WHERE id = 157077
UPDATE matches SET over_odds = 1.68, under_odds = 2.33 WHERE id = 157077
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157077
UPDATE matches SET home_odds = 1.97, away_odds = 3.96, draw_odds = 3.78 WHERE id = 157078
UPDATE matches SET over_odds = 1.76, under_odds = 2.19 WHERE id = 157078
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157078
UPDATE matches SET home_odds = 1.44, away_odds = 8.18, draw_odds = 4.69 WHERE id = 157083
UPDATE matches SET over_odds = 1.63, under_odds = 2.42 WHERE id = 157083
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157083
UPDATE matches SET home_odds = 1.9, away_odds = 4.69, draw_odds = 3.5 WHERE id = 157084
UPDATE matches SET over_odds = 2.0, under_odds = 1.92 WHERE id = 157084
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157084
UPDATE matches SET home_odds = 10.21, away_odds = 1.3, draw_odds = 6.03 WHERE id = 157079
UPDATE matches SET over_odds = 1.5, under_odds = 2.76 WHERE id = 157079
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157079
UPDATE matches SET home_odds = 1.53, away_odds = 7.27, draw_odds = 4.21 WHERE id = 157080
UPDATE matches SET over_odds = 2.14, under_odds = 1.79 WHERE id = 157080
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157080
UPDATE matches SET home_odds = 2.41, away_odds = 3.03, draw_odds = 3.56 WHERE id = 157081
UPDATE matches SET over_odds = 1.67, under_odds = 2.34 WHERE id = 157081
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157081
UPDATE matches SET home_odds = 3.97, away_odds = 2.0, draw_odds = 3.67 WHERE id = 157086
UPDATE matches SET over_odds = 1.76, under_odds = 2.18 WHERE id = 157086
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157086
UPDATE matches SET home_odds = 3.01, away_odds = 2.52, draw_odds = 3.36 WHERE id = 157087
UPDATE matches SET over_odds = 2.14, under_odds = 1.79 WHERE id = 157087
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 157087
UPDATE matches SET home_odds = 1.47, away_odds = 7.18, draw_odds = 4.77 WHERE id = 157088
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 157088
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.965 WHERE id = 157088
UPDATE matches SET home_odds = 2.46, away_odds = 2.91, draw_odds = 3.61 WHERE id = 157091
UPDATE matches SET over_odds = 1.61, under_odds = 2.48 WHERE id = 157091
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 157091
UPDATE matches SET home_odds = 2.14, away_odds = 3.73, draw_odds = 3.43 WHERE id = 157093
UPDATE matches SET over_odds = 2.04, under_odds = 1.88 WHERE id = 157093
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157093
UPDATE matches SET home_odds = 2.02, away_odds = 3.92, draw_odds = 3.65 WHERE id = 157094
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 157094
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157094
UPDATE matches SET home_odds = 1.44, away_odds = 7.13, draw_odds = 5.08 WHERE id = 157085
UPDATE matches SET over_odds = 1.36, under_odds = 3.41 WHERE id = 157085
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157085
UPDATE matches SET home_odds = 1.13, away_odds = 23.95, draw_odds = 9.61 WHERE id = 157089
UPDATE matches SET over_odds = 1.4, under_odds = 3.16 WHERE id = 157089
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.955 WHERE id = 157089
UPDATE matches SET home_odds = 4.09, away_odds = 1.88, draw_odds = 3.97 WHERE id = 157092
UPDATE matches SET over_odds = 1.71, under_odds = 2.25 WHERE id = 157092
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157092
UPDATE matches SET home_odds = 4.51, away_odds = 1.93, draw_odds = 3.51 WHERE id = 157090
UPDATE matches SET over_odds = 2.23, under_odds = 1.73 WHERE id = 157090
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157090
UPDATE matches SET home_odds = 1.99, away_odds = 3.88, draw_odds = 3.76 WHERE id = 157099
UPDATE matches SET over_odds = 1.76, under_odds = 2.18 WHERE id = 157099
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157099
UPDATE matches SET home_odds = 2.39, away_odds = 3.09, draw_odds = 3.51 WHERE id = 157096
UPDATE matches SET over_odds = 1.83, under_odds = 2.09 WHERE id = 157096
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157096
UPDATE matches SET home_odds = 1.72, away_odds = 4.45, draw_odds = 4.47 WHERE id = 157095
UPDATE matches SET over_odds = 1.42, under_odds = 3.1 WHERE id = 157095
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157095
UPDATE matches SET home_odds = 1.32, away_odds = 10.32, draw_odds = 5.7 WHERE id = 157097
UPDATE matches SET over_odds = 1.61, under_odds = 2.46 WHERE id = 157097
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157097
UPDATE matches SET home_odds = 1.57, away_odds = 6.69, draw_odds = 4.12 WHERE id = 157100
UPDATE matches SET over_odds = 2.0, under_odds = 1.92 WHERE id = 157100
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157100
UPDATE matches SET home_odds = 1.43, away_odds = 7.67, draw_odds = 5.0 WHERE id = 157103
UPDATE matches SET over_odds = 1.54, under_odds = 2.64 WHERE id = 157103
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157103
UPDATE matches SET home_odds = 1.88, away_odds = 4.61, draw_odds = 3.61 WHERE id = 157104
UPDATE matches SET over_odds = 2.17, under_odds = 1.77 WHERE id = 157104
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157104
UPDATE matches SET home_odds = 12.88, away_odds = 1.24, draw_odds = 6.95 WHERE id = 157098
UPDATE matches SET over_odds = 1.48, under_odds = 2.86 WHERE id = 157098
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9649999999999999 WHERE id = 157098
UPDATE matches SET home_odds = 5.08, away_odds = 1.71, draw_odds = 4.06 WHERE id = 157101
UPDATE matches SET over_odds = 1.79, under_odds = 2.14 WHERE id = 157101
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157101
UPDATE matches SET home_odds = 3.96, away_odds = 1.96, draw_odds = 3.83 WHERE id = 157102
UPDATE matches SET over_odds = 1.71, under_odds = 2.25 WHERE id = 157102
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157102
UPDATE matches SET home_odds = 3.25, away_odds = 2.38, draw_odds = 3.34 WHERE id = 157112
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 157112
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157112
UPDATE matches SET home_odds = 1.09, away_odds = 29.54, draw_odds = 12.5 WHERE id = 157109
UPDATE matches SET over_odds = 1.2, under_odds = 5.06 WHERE id = 157109
UPDATE matches SET handicap_size = 3.0, handicap_odds = 1.96 WHERE id = 157109
UPDATE matches SET home_odds = 2.9, away_odds = 2.6, draw_odds = 3.37 WHERE id = 157106
UPDATE matches SET over_odds = 2.09, under_odds = 1.83 WHERE id = 157106
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157106
UPDATE matches SET home_odds = 2.21, away_odds = 3.44, draw_odds = 3.52 WHERE id = 157113
UPDATE matches SET over_odds = 1.74, under_odds = 2.22 WHERE id = 157113
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157113
UPDATE matches SET home_odds = 2.15, away_odds = 3.66, draw_odds = 3.46 WHERE id = 157114
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 157114
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157114
UPDATE matches SET home_odds = 4.61, away_odds = 1.75, draw_odds = 4.17 WHERE id = 157107
UPDATE matches SET over_odds = 1.68, under_odds = 2.32 WHERE id = 157107
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157107
UPDATE matches SET home_odds = 3.09, away_odds = 2.62, draw_odds = 3.11 WHERE id = 157110
UPDATE matches SET over_odds = 2.61, under_odds = 1.55 WHERE id = 157110
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 157110
UPDATE matches SET home_odds = 1.51, away_odds = 6.54, draw_odds = 4.66 WHERE id = 157105
UPDATE matches SET over_odds = 1.56, under_odds = 2.57 WHERE id = 157105
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157105
UPDATE matches SET home_odds = 1.55, away_odds = 6.22, draw_odds = 4.48 WHERE id = 157108
UPDATE matches SET over_odds = 1.57, under_odds = 2.55 WHERE id = 157108
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157108
UPDATE matches SET home_odds = 4.37, away_odds = 1.83, draw_odds = 3.96 WHERE id = 157111
UPDATE matches SET over_odds = 1.72, under_odds = 2.24 WHERE id = 157111
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157111
UPDATE matches SET home_odds = 3.41, away_odds = 2.19, draw_odds = 3.6 WHERE id = 157115
UPDATE matches SET over_odds = 1.91, under_odds = 2.01 WHERE id = 157115
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157115

UPDATE matches SET home_odds = 1.79, away_odds = 4.81, draw_odds = 3.81 WHERE id = 157116
UPDATE matches SET over_odds = 1.78, under_odds = 2.16 WHERE id = 157116
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157116
UPDATE matches SET home_odds = 8.36, away_odds = 1.36, draw_odds = 5.63 WHERE id = 157117
UPDATE matches SET over_odds = 1.47, under_odds = 2.88 WHERE id = 157117
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157117
UPDATE matches SET home_odds = 1.71, away_odds = 4.8, draw_odds = 4.24 WHERE id = 157118
UPDATE matches SET over_odds = 1.67, under_odds = 2.35 WHERE id = 157118
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157118
UPDATE matches SET home_odds = 1.08, away_odds = 33.77, draw_odds = 13.13 WHERE id = 157121
UPDATE matches SET over_odds = 1.21, under_odds = 4.86 WHERE id = 157121
UPDATE matches SET handicap_size = 3.0, handicap_odds = 1.96 WHERE id = 157121
UPDATE matches SET home_odds = 2.33, away_odds = 3.43, draw_odds = 3.26 WHERE id = 157122
UPDATE matches SET over_odds = 2.39, under_odds = 1.65 WHERE id = 157122
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157122
UPDATE matches SET home_odds = 1.79, away_odds = 4.69, draw_odds = 3.87 WHERE id = 157124
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 157124
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157124
UPDATE matches SET home_odds = 5.13, away_odds = 1.68, draw_odds = 4.21 WHERE id = 157123
UPDATE matches SET over_odds = 1.7, under_odds = 2.29 WHERE id = 157123
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 157123
UPDATE matches SET home_odds = 3.57, away_odds = 2.2, draw_odds = 3.42 WHERE id = 157119
UPDATE matches SET over_odds = 2.13, under_odds = 1.8 WHERE id = 157119
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157119
UPDATE matches SET home_odds = 2.74, away_odds = 2.63, draw_odds = 3.55 WHERE id = 157120
UPDATE matches SET over_odds = 1.75, under_odds = 2.19 WHERE id = 157120
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9699999999999998 WHERE id = 157120
UPDATE matches SET home_odds = 2.7, away_odds = 2.65, draw_odds = 3.58 WHERE id = 157131
UPDATE matches SET over_odds = 1.71, under_odds = 2.27 WHERE id = 157131
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157131
UPDATE matches SET home_odds = 1.34, away_odds = 9.74, draw_odds = 5.41 WHERE id = 157126
UPDATE matches SET over_odds = 1.61, under_odds = 2.46 WHERE id = 157126
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157126
UPDATE matches SET home_odds = 2.27, away_odds = 3.24, draw_odds = 3.59 WHERE id = 157125
UPDATE matches SET over_odds = 1.69, under_odds = 2.29 WHERE id = 157125
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157125
UPDATE matches SET home_odds = 2.69, away_odds = 2.88, draw_odds = 3.25 WHERE id = 157130
UPDATE matches SET over_odds = 2.16, under_odds = 1.78 WHERE id = 157130
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157130
UPDATE matches SET home_odds = 3.11, away_odds = 2.41, draw_odds = 3.44 WHERE id = 157132
UPDATE matches SET over_odds = 1.98, under_odds = 1.94 WHERE id = 157132
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157132
UPDATE matches SET home_odds = 1.6, away_odds = 6.09, draw_odds = 4.21 WHERE id = 157133
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 157133
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157133
UPDATE matches SET home_odds = 1.98, away_odds = 3.79, draw_odds = 3.91 WHERE id = 157127
UPDATE matches SET over_odds = 1.61, under_odds = 2.46 WHERE id = 157127
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157127
UPDATE matches SET home_odds = 1.7, away_odds = 5.98, draw_odds = 3.66 WHERE id = 157129
UPDATE matches SET over_odds = 2.0, under_odds = 1.92 WHERE id = 157129
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157129
UPDATE matches SET home_odds = 1.89, away_odds = 4.38, draw_odds = 3.7 WHERE id = 157134
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 157134
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157134
UPDATE matches SET home_odds = 2.57, away_odds = 2.74, draw_odds = 3.66 WHERE id = 157128
UPDATE matches SET over_odds = 1.63, under_odds = 2.42 WHERE id = 157128
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157128
UPDATE matches SET home_odds = 4.37, away_odds = 1.76, draw_odds = 4.32 WHERE id = 157144
UPDATE matches SET over_odds = 1.58, under_odds = 2.54 WHERE id = 157144
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157144
UPDATE matches SET home_odds = 1.49, away_odds = 6.86, draw_odds = 4.72 WHERE id = 157136
UPDATE matches SET over_odds = 1.48, under_odds = 2.83 WHERE id = 157136
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157136
UPDATE matches SET home_odds = 2.85, away_odds = 2.63, draw_odds = 3.38 WHERE id = 157135
UPDATE matches SET over_odds = 2.09, under_odds = 1.83 WHERE id = 157135
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157135
UPDATE matches SET home_odds = 3.73, away_odds = 2.09, draw_odds = 3.58 WHERE id = 157138
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 157138
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157138
UPDATE matches SET home_odds = 7.59, away_odds = 1.45, draw_odds = 4.82 WHERE id = 157139
UPDATE matches SET over_odds = 1.69, under_odds = 2.3 WHERE id = 157139
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.965 WHERE id = 157139
UPDATE matches SET home_odds = 1.41, away_odds = 7.85, draw_odds = 5.18 WHERE id = 157140
UPDATE matches SET over_odds = 1.57, under_odds = 2.56 WHERE id = 157140
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.97 WHERE id = 157140
UPDATE matches SET home_odds = 2.39, away_odds = 3.22, draw_odds = 3.35 WHERE id = 157143
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 157143
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157143
UPDATE matches SET home_odds = 1.45, away_odds = 6.74, draw_odds = 5.2 WHERE id = 157141
UPDATE matches SET over_odds = 1.41, under_odds = 3.14 WHERE id = 157141
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157141
UPDATE matches SET home_odds = 3.65, away_odds = 2.19, draw_odds = 3.37 WHERE id = 157142
UPDATE matches SET over_odds = 2.19, under_odds = 1.75 WHERE id = 157142
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157142
UPDATE matches SET home_odds = 2.14, away_odds = 3.6, draw_odds = 3.54 WHERE id = 157137
UPDATE matches SET over_odds = 1.95, under_odds = 1.97 WHERE id = 157137
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157137
UPDATE matches SET home_odds = 14.05, away_odds = 1.2, draw_odds = 7.9 WHERE id = 157150
UPDATE matches SET over_odds = 1.46, under_odds = 2.89 WHERE id = 157150
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 157150
UPDATE matches SET home_odds = 2.36, away_odds = 3.31, draw_odds = 3.33 WHERE id = 157145
UPDATE matches SET over_odds = 2.26, under_odds = 1.71 WHERE id = 157145
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157145
UPDATE matches SET home_odds = 1.3, away_odds = 10.19, draw_odds = 5.99 WHERE id = 157146
UPDATE matches SET over_odds = 1.41, under_odds = 3.09 WHERE id = 157146
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157146
UPDATE matches SET home_odds = 1.2, away_odds = 17.22, draw_odds = 7.08 WHERE id = 157148
UPDATE matches SET over_odds = 1.48, under_odds = 2.81 WHERE id = 157148
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.965 WHERE id = 157148
UPDATE matches SET home_odds = 1.39, away_odds = 8.34, draw_odds = 5.29 WHERE id = 157153
UPDATE matches SET over_odds = 1.53, under_odds = 2.66 WHERE id = 157153
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 157153
UPDATE matches SET home_odds = 2.15, away_odds = 3.62, draw_odds = 3.51 WHERE id = 157152
UPDATE matches SET over_odds = 1.96, under_odds = 1.96 WHERE id = 157152
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157152
UPDATE matches SET home_odds = 4.27, away_odds = 1.78, draw_odds = 4.33 WHERE id = 157151
UPDATE matches SET over_odds = 1.43, under_odds = 3.04 WHERE id = 157151
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157151
UPDATE matches SET home_odds = 1.93, away_odds = 4.46, draw_odds = 3.52 WHERE id = 157154
UPDATE matches SET over_odds = 2.35, under_odds = 1.67 WHERE id = 157154
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157154
UPDATE matches SET home_odds = 1.64, away_odds = 5.58, draw_odds = 4.19 WHERE id = 157147
UPDATE matches SET over_odds = 1.81, under_odds = 2.11 WHERE id = 157147
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.97 WHERE id = 157147
UPDATE matches SET home_odds = 1.48, away_odds = 7.72, draw_odds = 4.44 WHERE id = 157149
UPDATE matches SET over_odds = 1.71, under_odds = 2.26 WHERE id = 157149
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.965 WHERE id = 157149
UPDATE matches SET home_odds = 2.27, away_odds = 3.42, draw_odds = 3.41 WHERE id = 157163
UPDATE matches SET over_odds = 2.09, under_odds = 1.83 WHERE id = 157163
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157163
UPDATE matches SET home_odds = 10.8, away_odds = 1.26, draw_odds = 6.62 WHERE id = 157156
UPDATE matches SET over_odds = 1.49, under_odds = 2.8 WHERE id = 157156
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.96 WHERE id = 157156
UPDATE matches SET home_odds = 1.31, away_odds = 10.36, draw_odds = 5.94 WHERE id = 157161
UPDATE matches SET over_odds = 1.43, under_odds = 3.03 WHERE id = 157161
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157161
UPDATE matches SET home_odds = 1.36, away_odds = 9.41, draw_odds = 5.35 WHERE id = 157157
UPDATE matches SET over_odds = 1.61, under_odds = 2.46 WHERE id = 157157
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.97 WHERE id = 157157
UPDATE matches SET home_odds = 2.71, away_odds = 2.65, draw_odds = 3.57 WHERE id = 157160
UPDATE matches SET over_odds = 1.8, under_odds = 2.12 WHERE id = 157160
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157160
UPDATE matches SET home_odds = 1.79, away_odds = 4.41, draw_odds = 4.09 WHERE id = 157162
UPDATE matches SET over_odds = 1.6, under_odds = 2.48 WHERE id = 157162
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157162
UPDATE matches SET home_odds = 1.78, away_odds = 4.87, draw_odds = 3.83 WHERE id = 157159
UPDATE matches SET over_odds = 1.88, under_odds = 2.03 WHERE id = 157159
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157159
UPDATE matches SET home_odds = 1.4, away_odds = 8.29, draw_odds = 5.13 WHERE id = 157164
UPDATE matches SET over_odds = 1.6, under_odds = 2.49 WHERE id = 157164
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157164
UPDATE matches SET home_odds = 1.87, away_odds = 4.75, draw_odds = 3.56 WHERE id = 157158
UPDATE matches SET over_odds = 2.41, under_odds = 1.63 WHERE id = 157158
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 157158
UPDATE matches SET home_odds = 1.63, away_odds = 5.68, draw_odds = 4.2 WHERE id = 157155
UPDATE matches SET over_odds = 1.56, under_odds = 2.58 WHERE id = 157155
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 157155
UPDATE matches SET home_odds = 3.59, away_odds = 2.03, draw_odds = 3.95 WHERE id = 157168
UPDATE matches SET over_odds = 1.74, under_odds = 2.22 WHERE id = 157168
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157168
UPDATE matches SET home_odds = 7.01, away_odds = 1.44, draw_odds = 5.22 WHERE id = 157165
UPDATE matches SET over_odds = 1.51, under_odds = 2.74 WHERE id = 157165
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157165
UPDATE matches SET home_odds = 1.41, away_odds = 8.39, draw_odds = 4.93 WHERE id = 157172
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 157172
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157172
UPDATE matches SET home_odds = 2.38, away_odds = 3.18, draw_odds = 3.42 WHERE id = 157173
UPDATE matches SET over_odds = 2.08, under_odds = 1.83 WHERE id = 157173
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157173
UPDATE matches SET home_odds = 1.31, away_odds = 10.48, draw_odds = 5.89 WHERE id = 157169
UPDATE matches SET over_odds = 1.5, under_odds = 2.77 WHERE id = 157169
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157169
UPDATE matches SET home_odds = 4.38, away_odds = 1.84, draw_odds = 3.92 WHERE id = 157166
UPDATE matches SET over_odds = 1.65, under_odds = 2.38 WHERE id = 157166
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 157166
UPDATE matches SET home_odds = 2.64, away_odds = 2.9, draw_odds = 3.3 WHERE id = 157170
UPDATE matches SET over_odds = 2.17, under_odds = 1.76 WHERE id = 157170
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 157170
UPDATE matches SET home_odds = 3.04, away_odds = 2.42, draw_odds = 3.51 WHERE id = 157171
UPDATE matches SET over_odds = 1.92, under_odds = 2.0 WHERE id = 157171
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157171
UPDATE matches SET home_odds = 2.72, away_odds = 2.86, draw_odds = 3.23 WHERE id = 157167
UPDATE matches SET over_odds = 2.34, under_odds = 1.67 WHERE id = 157167
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157167
UPDATE matches SET home_odds = 3.5, away_odds = 2.02, draw_odds = 4.1 WHERE id = 157174
UPDATE matches SET over_odds = 1.48, under_odds = 2.85 WHERE id = 157174
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157174
UPDATE matches SET home_odds = 1.18, away_odds = 16.56, draw_odds = 7.93 WHERE id = 157180
UPDATE matches SET over_odds = 1.39, under_odds = 3.2 WHERE id = 157180
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 157180
UPDATE matches SET home_odds = 1.94, away_odds = 4.28, draw_odds = 3.62 WHERE id = 157176
UPDATE matches SET over_odds = 2.16, under_odds = 1.78 WHERE id = 157176
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157176
UPDATE matches SET home_odds = 1.24, away_odds = 12.57, draw_odds = 6.74 WHERE id = 157177
UPDATE matches SET over_odds = 1.41, under_odds = 3.12 WHERE id = 157177
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 157177
UPDATE matches SET home_odds = 1.23, away_odds = 13.95, draw_odds = 6.8 WHERE id = 157179
UPDATE matches SET over_odds = 1.45, under_odds = 2.93 WHERE id = 157179
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 157179
UPDATE matches SET home_odds = 1.88, away_odds = 4.3, draw_odds = 3.83 WHERE id = 157182
UPDATE matches SET over_odds = 1.81, under_odds = 2.12 WHERE id = 157182
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157182
UPDATE matches SET home_odds = 1.94, away_odds = 3.87, draw_odds = 3.95 WHERE id = 157183
UPDATE matches SET over_odds = 1.64, under_odds = 2.41 WHERE id = 157183
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157183
UPDATE matches SET home_odds = 1.8, away_odds = 4.87, draw_odds = 3.73 WHERE id = 157181
UPDATE matches SET over_odds = 1.81, under_odds = 2.12 WHERE id = 157181
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157181
UPDATE matches SET home_odds = 3.2, away_odds = 2.33, draw_odds = 3.5 WHERE id = 157184
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 157184
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157184
UPDATE matches SET home_odds = 5.8, away_odds = 1.48, draw_odds = 5.5 WHERE id = 157175
UPDATE matches SET over_odds = 1.35, under_odds = 3.45 WHERE id = 157175
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157175
UPDATE matches SET home_odds = 2.58, away_odds = 2.98, draw_odds = 3.28 WHERE id = 157178
UPDATE matches SET over_odds = 2.18, under_odds = 1.76 WHERE id = 157178
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 157178
UPDATE matches SET home_odds = 2.34, away_odds = 2.94, draw_odds = 3.8 WHERE id = 157188
UPDATE matches SET over_odds = 1.6, under_odds = 2.48 WHERE id = 157188
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157188
UPDATE matches SET home_odds = 2.5, away_odds = 2.9, draw_odds = 3.52 WHERE id = 157186
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 157186
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157186
UPDATE matches SET home_odds = 2.5, away_odds = 3.01, draw_odds = 3.36 WHERE id = 157185
UPDATE matches SET over_odds = 1.99, under_odds = 1.93 WHERE id = 157185
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157185
UPDATE matches SET home_odds = 2.24, away_odds = 3.61, draw_odds = 3.27 WHERE id = 157187
UPDATE matches SET over_odds = 2.15, under_odds = 1.78 WHERE id = 157187
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157187
UPDATE matches SET home_odds = 2.45, away_odds = 3.28, draw_odds = 3.15 WHERE id = 157190
UPDATE matches SET over_odds = 2.58, under_odds = 1.56 WHERE id = 157190
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157190
UPDATE matches SET home_odds = 3.72, away_odds = 2.01, draw_odds = 3.82 WHERE id = 157191
UPDATE matches SET over_odds = 1.83, under_odds = 2.09 WHERE id = 157191
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157191
UPDATE matches SET home_odds = 1.38, away_odds = 8.01, draw_odds = 5.46 WHERE id = 157189
UPDATE matches SET over_odds = 1.44, under_odds = 3.02 WHERE id = 157189
UPDATE matches SET handicap_size = 2.5, handicap_odds = 2.49 WHERE id = 157189
UPDATE matches SET home_odds = 4.41, away_odds = 1.81, draw_odds = 3.96 WHERE id = 157193
UPDATE matches SET over_odds = 1.92, under_odds = 2.0 WHERE id = 157193
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157193
UPDATE matches SET home_odds = 2.41, away_odds = 2.92, draw_odds = 3.67 WHERE id = 157192
UPDATE matches SET over_odds = 1.62, under_odds = 2.44 WHERE id = 157192
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157192
UPDATE matches SET home_odds = 1.56, away_odds = 6.0, draw_odds = 4.48 WHERE id = 157203
UPDATE matches SET over_odds = 1.64, under_odds = 2.4 WHERE id = 157203
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157203
UPDATE matches SET home_odds = 2.14, away_odds = 3.31, draw_odds = 3.84 WHERE id = 157196
UPDATE matches SET over_odds = 1.56, under_odds = 2.59 WHERE id = 157196
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157196
UPDATE matches SET home_odds = 3.49, away_odds = 2.07, draw_odds = 3.87 WHERE id = 157195

UPDATE matches SET over_odds = 2.19, under_odds = 1.76 WHERE id = 157202
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157202
UPDATE matches SET home_odds = 1.35, away_odds = 9.59, draw_odds = 5.32 WHERE id = 157201
UPDATE matches SET over_odds = 1.79, under_odds = 2.14 WHERE id = 157201
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 157201
UPDATE matches SET home_odds = 3.39, away_odds = 2.12, draw_odds = 3.81 WHERE id = 157200
UPDATE matches SET over_odds = 1.66, under_odds = 2.36 WHERE id = 157200
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157200
UPDATE matches SET home_odds = 7.89, away_odds = 1.42, draw_odds = 4.96 WHERE id = 157204
UPDATE matches SET over_odds = 1.56, under_odds = 2.58 WHERE id = 157204
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157204
UPDATE matches SET home_odds = 1.79, away_odds = 4.5, draw_odds = 3.98 WHERE id = 157206
UPDATE matches SET over_odds = 1.95, under_odds = 1.97 WHERE id = 157206
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157206
UPDATE matches SET home_odds = 3.64, away_odds = 2.16, draw_odds = 3.42 WHERE id = 157210
UPDATE matches SET over_odds = 2.15, under_odds = 1.78 WHERE id = 157210
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157210
UPDATE matches SET home_odds = 2.0, away_odds = 3.93, draw_odds = 3.67 WHERE id = 157212
UPDATE matches SET over_odds = 2.08, under_odds = 1.83 WHERE id = 157212
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157212
UPDATE matches SET home_odds = 2.03, away_odds = 3.66, draw_odds = 3.8 WHERE id = 157213
UPDATE matches SET over_odds = 1.74, under_odds = 2.22 WHERE id = 157213
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157213
UPDATE matches SET home_odds = 4.95, away_odds = 1.71, draw_odds = 4.08 WHERE id = 157211
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 157211
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157211
UPDATE matches SET home_odds = 4.18, away_odds = 1.88, draw_odds = 3.87 WHERE id = 157214
UPDATE matches SET over_odds = 1.65, under_odds = 2.38 WHERE id = 157214
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157214
UPDATE matches SET home_odds = 4.33, away_odds = 1.86, draw_odds = 3.82 WHERE id = 157207
UPDATE matches SET over_odds = 2.04, under_odds = 1.88 WHERE id = 157207
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157207
UPDATE matches SET home_odds = 2.88, away_odds = 2.41, draw_odds = 3.73 WHERE id = 157205
UPDATE matches SET over_odds = 1.59, under_odds = 2.51 WHERE id = 157205
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 157205
UPDATE matches SET home_odds = 1.3, away_odds = 11.08, draw_odds = 5.86 WHERE id = 157208
UPDATE matches SET over_odds = 1.6, under_odds = 2.5 WHERE id = 157208
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157208
UPDATE matches SET home_odds = 1.19, away_odds = 15.61, draw_odds = 7.95 WHERE id = 157209
UPDATE matches SET over_odds = 1.42, under_odds = 3.08 WHERE id = 157209
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.955 WHERE id = 157209
UPDATE matches SET home_odds = 3.8, away_odds = 2.04, draw_odds = 3.63 WHERE id = 157216
UPDATE matches SET over_odds = 1.76, under_odds = 2.19 WHERE id = 157216
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157216
UPDATE matches SET home_odds = 1.83, away_odds = 4.42, draw_odds = 3.88 WHERE id = 157217
UPDATE matches SET over_odds = 1.89, under_odds = 2.03 WHERE id = 157217
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 157217
UPDATE matches SET home_odds = 5.4, away_odds = 1.68, draw_odds = 3.97 WHERE id = 157220
UPDATE matches SET over_odds = 2.01, under_odds = 1.91 WHERE id = 157220
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157220
UPDATE matches SET home_odds = 3.41, away_odds = 2.2, draw_odds = 3.54 WHERE id = 157222
UPDATE matches SET over_odds = 1.69, under_odds = 2.3 WHERE id = 157222
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157222
UPDATE matches SET home_odds = 3.25, away_odds = 2.31, draw_odds = 3.46 WHERE id = 157223
UPDATE matches SET over_odds = 2.01, under_odds = 1.91 WHERE id = 157223
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157223
UPDATE matches SET home_odds = 1.28, away_odds = 11.04, draw_odds = 6.15 WHERE id = 157219
UPDATE matches SET over_odds = 1.4, under_odds = 3.13 WHERE id = 157219
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9549999999999998 WHERE id = 157219
UPDATE matches SET home_odds = 2.56, away_odds = 2.83, draw_odds = 3.51 WHERE id = 157221
UPDATE matches SET over_odds = 1.95, under_odds = 1.97 WHERE id = 157221
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157221
UPDATE matches SET home_odds = 1.97, away_odds = 3.72, draw_odds = 3.99 WHERE id = 157224
UPDATE matches SET over_odds = 1.71, under_odds = 2.26 WHERE id = 157224
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157224
UPDATE matches SET home_odds = 2.63, away_odds = 2.62, draw_odds = 3.72 WHERE id = 157215
UPDATE matches SET over_odds = 1.68, under_odds = 2.32 WHERE id = 157215
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157215
UPDATE matches SET home_odds = 1.23, away_odds = 14.97, draw_odds = 6.41 WHERE id = 157218
UPDATE matches SET over_odds = 1.56, under_odds = 2.56 WHERE id = 157218
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.96 WHERE id = 157218
UPDATE matches SET home_odds = 2.04, away_odds = 4.02, draw_odds = 3.44 WHERE id = 157232
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 157232
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157232
UPDATE matches SET home_odds = 4.26, away_odds = 1.84, draw_odds = 3.96 WHERE id = 157228
UPDATE matches SET over_odds = 1.88, under_odds = 2.04 WHERE id = 157228
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 157228
UPDATE matches SET home_odds = 1.3, away_odds = 11.52, draw_odds = 5.68 WHERE id = 157227
UPDATE matches SET over_odds = 1.73, under_odds = 2.23 WHERE id = 157227
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157227
UPDATE matches SET home_odds = 1.94, away_odds = 4.25, draw_odds = 3.59 WHERE id = 157229
UPDATE matches SET over_odds = 1.88, under_odds = 2.04 WHERE id = 157229
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157229
UPDATE matches SET home_odds = 1.65, away_odds = 5.7, draw_odds = 4.03 WHERE id = 157230
UPDATE matches SET over_odds = 1.65, under_odds = 2.39 WHERE id = 157230
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9700000000000002 WHERE id = 157230
UPDATE matches SET home_odds = 1.36, away_odds = 9.1, draw_odds = 5.19 WHERE id = 157231
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 157231
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157231
UPDATE matches SET home_odds = 1.47, away_odds = 8.09, draw_odds = 4.41 WHERE id = 157234
UPDATE matches SET over_odds = 2.07, under_odds = 1.85 WHERE id = 157234
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 157234
UPDATE matches SET home_odds = 4.62, away_odds = 1.71, draw_odds = 4.29 WHERE id = 157233
UPDATE matches SET over_odds = 1.65, under_odds = 2.38 WHERE id = 157233
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157233
UPDATE matches SET home_odds = 2.67, away_odds = 2.78, draw_odds = 3.37 WHERE id = 157225
UPDATE matches SET over_odds = 1.98, under_odds = 1.94 WHERE id = 157225
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9699999999999998 WHERE id = 157225
UPDATE matches SET home_odds = 14.54, away_odds = 1.18, draw_odds = 8.51 WHERE id = 157226
UPDATE matches SET over_odds = 1.28, under_odds = 4.0 WHERE id = 157226
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.955 WHERE id = 157226
UPDATE matches SET home_odds = 3.19, away_odds = 2.3, draw_odds = 3.55 WHERE id = 157243
UPDATE matches SET over_odds = 1.83, under_odds = 2.09 WHERE id = 157243
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157243
UPDATE matches SET home_odds = 1.88, away_odds = 4.54, draw_odds = 3.62 WHERE id = 157235
UPDATE matches SET over_odds = 2.09, under_odds = 1.83 WHERE id = 157235
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157235
UPDATE matches SET home_odds = 1.65, away_odds = 4.99, draw_odds = 4.43 WHERE id = 157236
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 157236
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 157236
UPDATE matches SET home_odds = 1.1, away_odds = 26.91, draw_odds = 11.01 WHERE id = 157239
UPDATE matches SET over_odds = 1.29, under_odds = 3.82 WHERE id = 157239
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.95 WHERE id = 157239
UPDATE matches SET home_odds = 2.25, away_odds = 3.2, draw_odds = 3.65 WHERE id = 157241
UPDATE matches SET over_odds = 1.79, under_odds = 2.13 WHERE id = 157241
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157241
UPDATE matches SET home_odds = 2.44, away_odds = 3.07, draw_odds = 3.4 WHERE id = 157242
UPDATE matches SET over_odds = 2.08, under_odds = 1.83 WHERE id = 157242
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157242
UPDATE matches SET home_odds = 3.01, away_odds = 2.41, draw_odds = 3.53 WHERE id = 157244
UPDATE matches SET over_odds = 1.86, under_odds = 2.05 WHERE id = 157244
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157244
UPDATE matches SET home_odds = 6.11, away_odds = 1.52, draw_odds = 4.72 WHERE id = 157240
UPDATE matches SET over_odds = 1.72, under_odds = 2.24 WHERE id = 157240
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.965 WHERE id = 157240
UPDATE matches SET home_odds = 4.17, away_odds = 1.91, draw_odds = 3.79 WHERE id = 157237
UPDATE matches SET over_odds = 1.88, under_odds = 2.04 WHERE id = 157237
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157237
UPDATE matches SET home_odds = 1.37, away_odds = 8.86, draw_odds = 5.3 WHERE id = 157238
UPDATE matches SET over_odds = 1.68, under_odds = 2.32 WHERE id = 157238
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157238
UPDATE matches SET home_odds = 2.87, away_odds = 2.54, draw_odds = 3.47 WHERE id = 157246
UPDATE matches SET over_odds = 1.93, under_odds = 1.99 WHERE id = 157246
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 157246
UPDATE matches SET home_odds = 3.0, away_odds = 2.49, draw_odds = 3.39 WHERE id = 157245
UPDATE matches SET over_odds = 2.03, under_odds = 1.88 WHERE id = 157245
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 157245
UPDATE matches SET home_odds = 2.73, away_odds = 2.77, draw_odds = 3.29 WHERE id = 157254
UPDATE matches SET over_odds = 2.28, under_odds = 1.7 WHERE id = 157254
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157254
UPDATE matches SET home_odds = 1.61, away_odds = 6.31, draw_odds = 3.96 WHERE id = 157247
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 157247
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.965 WHERE id = 157247
UPDATE matches SET home_odds = 7.44, away_odds = 1.45, draw_odds = 4.87 WHERE id = 157249
UPDATE matches SET over_odds = 1.62, under_odds = 2.44 WHERE id = 157249
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157249
UPDATE matches SET home_odds = 1.74, away_odds = 4.82, draw_odds = 4.01 WHERE id = 157252
UPDATE matches SET over_odds = 1.72, under_odds = 2.24 WHERE id = 157252
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157252
UPDATE matches SET home_odds = 1.53, away_odds = 6.19, draw_odds = 4.62 WHERE id = 157248
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 157248
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157248
UPDATE matches SET home_odds = 1.43, away_odds = 7.59, draw_odds = 5.02 WHERE id = 157253
UPDATE matches SET over_odds = 1.56, under_odds = 2.6 WHERE id = 157253
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157253
UPDATE matches SET home_odds = 1.42, away_odds = 8.62, draw_odds = 4.72 WHERE id = 157251
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 157251
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157251
UPDATE matches SET home_odds = 5.95, away_odds = 1.65, draw_odds = 3.93 WHERE id = 157250
UPDATE matches SET over_odds = 1.81, under_odds = 2.11 WHERE id = 157250
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 157250
UPDATE matches SET home_odds = 8.92, away_odds = 1.34, draw_odds = 5.87 WHERE id = 157194
UPDATE matches SET over_odds = 1.58, under_odds = 2.55 WHERE id = 157194
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157194
UPDATE matches SET home_odds = 2.53, away_odds = 2.74, draw_odds = 3.69 WHERE id = 157258
UPDATE matches SET over_odds = 1.74, under_odds = 2.21 WHERE id = 157258
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157258
UPDATE matches SET home_odds = 2.17, away_odds = 3.43, draw_odds = 3.6 WHERE id = 157255
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 157255
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157255
UPDATE matches SET home_odds = 3.13, away_odds = 2.58, draw_odds = 3.1 WHERE id = 157257
UPDATE matches SET over_odds = 2.77, under_odds = 1.5 WHERE id = 157257
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9700000000000002 WHERE id = 157257
UPDATE matches SET home_odds = 1.29, away_odds = 11.28, draw_odds = 6.04 WHERE id = 157259
UPDATE matches SET over_odds = 1.55, under_odds = 2.61 WHERE id = 157259
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 157259
UPDATE matches SET home_odds = 2.27, away_odds = 3.33, draw_odds = 3.45 WHERE id = 157261
UPDATE matches SET over_odds = 2.04, under_odds = 1.88 WHERE id = 157261
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157261
UPDATE matches SET home_odds = 2.73, away_odds = 2.73, draw_odds = 3.36 WHERE id = 157263
UPDATE matches SET over_odds = 2.07, under_odds = 1.85 WHERE id = 157263
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157263
UPDATE matches SET home_odds = 2.56, away_odds = 2.86, draw_odds = 3.44 WHERE id = 157264
UPDATE matches SET over_odds = 1.96, under_odds = 1.96 WHERE id = 157264
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157264
UPDATE matches SET home_odds = 2.24, away_odds = 3.55, draw_odds = 3.3 WHERE id = 157260
UPDATE matches SET over_odds = 2.25, under_odds = 1.72 WHERE id = 157260
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157260
UPDATE matches SET home_odds = 3.82, away_odds = 2.04, draw_odds = 3.62 WHERE id = 157256
UPDATE matches SET over_odds = 1.94, under_odds = 1.98 WHERE id = 157256
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157256
UPDATE matches SET home_odds = 5.7, away_odds = 1.58, draw_odds = 4.48 WHERE id = 157262
UPDATE matches SET over_odds = 1.53, under_odds = 2.67 WHERE id = 157262
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157262
UPDATE matches SET home_odds = 1.64, away_odds = 6.27, draw_odds = 3.82 WHERE id = 157269
UPDATE matches SET over_odds = 2.14, under_odds = 1.79 WHERE id = 157269
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 157269
UPDATE matches SET home_odds = 2.2, away_odds = 3.57, draw_odds = 3.38 WHERE id = 157267
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 157267
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157267
UPDATE matches SET home_odds = 1.74, away_odds = 5.72, draw_odds = 3.55 WHERE id = 157272
UPDATE matches SET over_odds = 2.39, under_odds = 1.65 WHERE id = 157272
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157272
UPDATE matches SET home_odds = 2.57, away_odds = 2.93, draw_odds = 3.32 WHERE id = 157274
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 157274
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 157274
UPDATE matches SET home_odds = 1.83, away_odds = 4.68, draw_odds = 3.7 WHERE id = 157273
UPDATE matches SET over_odds = 2.0, under_odds = 1.93 WHERE id = 157273
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 157273
UPDATE matches SET home_odds = 10.45, away_odds = 1.29, draw_odds = 6.12 WHERE id = 157271
UPDATE matches SET over_odds = 1.54, under_odds = 2.65 WHERE id = 157271
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157271
UPDATE matches SET home_odds = 4.11, away_odds = 1.92, draw_odds = 3.8 WHERE id = 157266
UPDATE matches SET over_odds = 1.74, under_odds = 2.22 WHERE id = 157266
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157266
UPDATE matches SET home_odds = 1.45, away_odds = 8.0, draw_odds = 4.57 WHERE id = 157265
UPDATE matches SET over_odds = 1.81, under_odds = 2.11 WHERE id = 157265
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 157265
UPDATE matches SET home_odds = 1.86, away_odds = 4.53, draw_odds = 3.7 WHERE id = 157268
UPDATE matches SET over_odds = 1.88, under_odds = 2.04 WHERE id = 157268
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157268
UPDATE matches SET home_odds = 1.13, away_odds = 19.01, draw_odds = 9.52 WHERE id = 157270
UPDATE matches SET over_odds = 1.24, under_odds = 4.3 WHERE id = 157270
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.95 WHERE id = 157270
UPDATE matches SET home_odds = 1.75, away_odds = 4.8, draw_odds = 3.99 WHERE id = 157277
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 157277
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157277
UPDATE matches SET home_odds = 2.16, away_odds = 3.76, draw_odds = 3.32 WHERE id = 157276
UPDATE matches SET over_odds = 2.33, under_odds = 1.68 WHERE id = 157276
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157276
UPDATE matches SET home_odds = 2.02, away_odds = 4.32, draw_odds = 3.33 WHERE id = 157278
UPDATE matches SET over_odds = 2.56, under_odds = 1.57 WHERE id = 157278
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157278
UPDATE matches SET home_odds = 1.97, away_odds = 4.47, draw_odds = 3.38 WHERE id = 157282
UPDATE matches SET over_odds = 2.36, under_odds = 1.66 WHERE id = 157282
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157282
UPDATE matches SET home_odds = 1.65, away_odds = 5.19, draw_odds = 4.34 WHERE id = 157283
UPDATE matches SET over_odds = 1.6, under_odds = 2.5 WHERE id = 157283
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157283
UPDATE matches SET home_odds = 4.62, away_odds = 1.72, draw_odds = 4.28 WHERE id = 157279
UPDATE matches SET over_odds = 1.58, under_odds = 2.52 WHERE id = 157279

UPDATE matches SET over_odds = 1.56, under_odds = 2.59 WHERE id = 157342
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157342
UPDATE matches SET home_odds = 2.19, away_odds = 3.53, draw_odds = 3.54 WHERE id = 157343
UPDATE matches SET over_odds = 1.93, under_odds = 1.99 WHERE id = 157343
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157343
UPDATE matches SET home_odds = 8.61, away_odds = 1.45, draw_odds = 4.45 WHERE id = 157349
UPDATE matches SET over_odds = 1.85, under_odds = 2.06 WHERE id = 157349
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 157349
UPDATE matches SET home_odds = 1.77, away_odds = 5.05, draw_odds = 3.75 WHERE id = 157353
UPDATE matches SET over_odds = 2.12, under_odds = 1.81 WHERE id = 157353
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 157353
UPDATE matches SET home_odds = 2.43, away_odds = 3.06, draw_odds = 3.43 WHERE id = 157346
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 157346
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157346
UPDATE matches SET home_odds = 1.12, away_odds = 25.19, draw_odds = 9.75 WHERE id = 157351
UPDATE matches SET over_odds = 1.4, under_odds = 3.09 WHERE id = 157351
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.95 WHERE id = 157351
UPDATE matches SET home_odds = 4.08, away_odds = 2.19, draw_odds = 3.05 WHERE id = 157352
UPDATE matches SET over_odds = 2.86, under_odds = 1.47 WHERE id = 157352
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 157352
UPDATE matches SET home_odds = 2.05, away_odds = 3.9, draw_odds = 3.51 WHERE id = 157354
UPDATE matches SET over_odds = 2.08, under_odds = 1.83 WHERE id = 157354
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157354
UPDATE matches SET home_odds = 6.08, away_odds = 1.58, draw_odds = 4.3 WHERE id = 157348
UPDATE matches SET over_odds = 1.78, under_odds = 2.16 WHERE id = 157348
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157348
UPDATE matches SET home_odds = 4.98, away_odds = 1.7, draw_odds = 4.11 WHERE id = 157345
UPDATE matches SET over_odds = 1.77, under_odds = 2.17 WHERE id = 157345
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157345
UPDATE matches SET home_odds = 2.11, away_odds = 3.61, draw_odds = 3.57 WHERE id = 157350
UPDATE matches SET over_odds = 1.99, under_odds = 1.93 WHERE id = 157350
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157350
UPDATE matches SET home_odds = 9.47, away_odds = 1.36, draw_odds = 5.22 WHERE id = 157347
UPDATE matches SET over_odds = 1.7, under_odds = 2.28 WHERE id = 157347
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157347
UPDATE matches SET home_odds = 3.84, away_odds = 2.01, draw_odds = 3.71 WHERE id = 157360
UPDATE matches SET over_odds = 1.88, under_odds = 2.03 WHERE id = 157360
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157360
UPDATE matches SET home_odds = 1.83, away_odds = 4.74, draw_odds = 3.65 WHERE id = 157363
UPDATE matches SET over_odds = 2.13, under_odds = 1.79 WHERE id = 157363
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157363
UPDATE matches SET home_odds = 1.27, away_odds = 11.79, draw_odds = 6.37 WHERE id = 157358
UPDATE matches SET over_odds = 1.56, under_odds = 2.6 WHERE id = 157358
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9649999999999999 WHERE id = 157358
UPDATE matches SET home_odds = 6.14, away_odds = 1.63, draw_odds = 3.95 WHERE id = 157361
UPDATE matches SET over_odds = 2.04, under_odds = 1.88 WHERE id = 157361
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157361
UPDATE matches SET home_odds = 10.19, away_odds = 1.31, draw_odds = 5.83 WHERE id = 157357
UPDATE matches SET over_odds = 1.54, under_odds = 2.64 WHERE id = 157357
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 157357
UPDATE matches SET home_odds = 2.06, away_odds = 4.15, draw_odds = 3.3 WHERE id = 157364
UPDATE matches SET over_odds = 2.59, under_odds = 1.56 WHERE id = 157364
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157364
UPDATE matches SET home_odds = 2.33, away_odds = 3.28, draw_odds = 3.38 WHERE id = 157356
UPDATE matches SET over_odds = 2.03, under_odds = 1.89 WHERE id = 157356
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157356
UPDATE matches SET home_odds = 2.68, away_odds = 2.69, draw_odds = 3.51 WHERE id = 157362
UPDATE matches SET over_odds = 1.8, under_odds = 2.12 WHERE id = 157362
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 157362
UPDATE matches SET home_odds = 5.24, away_odds = 1.72, draw_odds = 3.83 WHERE id = 157355
UPDATE matches SET over_odds = 1.94, under_odds = 1.97 WHERE id = 157355
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157355
UPDATE matches SET home_odds = 1.28, away_odds = 11.75, draw_odds = 5.99 WHERE id = 157359
UPDATE matches SET over_odds = 1.62, under_odds = 2.44 WHERE id = 157359
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 157359
UPDATE matches SET home_odds = 1.12, away_odds = 23.55, draw_odds = 9.64 WHERE id = 157367
UPDATE matches SET over_odds = 1.35, under_odds = 3.36 WHERE id = 157367
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.95 WHERE id = 157367
UPDATE matches SET home_odds = 4.74, away_odds = 1.93, draw_odds = 3.37 WHERE id = 157366
UPDATE matches SET over_odds = 2.61, under_odds = 1.55 WHERE id = 157366
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9699999999999998 WHERE id = 157366
UPDATE matches SET home_odds = 1.16, away_odds = 15.59, draw_odds = 8.83 WHERE id = 157371
UPDATE matches SET over_odds = 1.29, under_odds = 3.84 WHERE id = 157371
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.955 WHERE id = 157371
UPDATE matches SET home_odds = 4.6, away_odds = 1.81, draw_odds = 3.84 WHERE id = 157372
UPDATE matches SET over_odds = 1.89, under_odds = 2.02 WHERE id = 157372
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 157372
UPDATE matches SET home_odds = 3.97, away_odds = 1.9, draw_odds = 3.98 WHERE id = 157365
UPDATE matches SET over_odds = 1.6, under_odds = 2.5 WHERE id = 157365
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157365
UPDATE matches SET home_odds = 2.05, away_odds = 3.78, draw_odds = 3.61 WHERE id = 157369
UPDATE matches SET over_odds = 1.91, under_odds = 2.01 WHERE id = 157369
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157369
UPDATE matches SET home_odds = 2.04, away_odds = 4.12, draw_odds = 3.4 WHERE id = 157370
UPDATE matches SET over_odds = 2.19, under_odds = 1.76 WHERE id = 157370
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157370
UPDATE matches SET home_odds = 10.36, away_odds = 1.36, draw_odds = 5.03 WHERE id = 157368
UPDATE matches SET over_odds = 1.79, under_odds = 2.13 WHERE id = 157368
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157368
UPDATE matches SET home_odds = 2.2, away_odds = 3.59, draw_odds = 3.37 WHERE id = 157373
UPDATE matches SET over_odds = 2.16, under_odds = 1.78 WHERE id = 157373
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157373
UPDATE matches SET home_odds = 2.43, away_odds = 3.46, draw_odds = 3.04 WHERE id = 157374
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 157374
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157374
UPDATE matches SET home_odds = 3.4, away_odds = 2.25, draw_odds = 3.43 WHERE id = 157380
UPDATE matches SET over_odds = 2.07, under_odds = 1.85 WHERE id = 157380
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157380
UPDATE matches SET home_odds = 2.43, away_odds = 2.82, draw_odds = 3.78 WHERE id = 157375
UPDATE matches SET over_odds = 1.74, under_odds = 2.22 WHERE id = 157375
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 157375
UPDATE matches SET home_odds = 2.33, away_odds = 3.15, draw_odds = 3.53 WHERE id = 157382
UPDATE matches SET over_odds = 2.01, under_odds = 1.91 WHERE id = 157382
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157382
UPDATE matches SET home_odds = 1.97, away_odds = 4.3, draw_odds = 3.48 WHERE id = 157377
UPDATE matches SET over_odds = 2.14, under_odds = 1.79 WHERE id = 157377
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157377
UPDATE matches SET home_odds = 2.18, away_odds = 3.57, draw_odds = 3.42 WHERE id = 157381
UPDATE matches SET over_odds = 2.37, under_odds = 1.66 WHERE id = 157381
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157381
UPDATE matches SET home_odds = 1.51, away_odds = 8.08, draw_odds = 4.12 WHERE id = 157384
UPDATE matches SET over_odds = 2.33, under_odds = 1.68 WHERE id = 157384
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157384
UPDATE matches SET home_odds = 8.57, away_odds = 1.34, draw_odds = 5.73 WHERE id = 157383
UPDATE matches SET over_odds = 1.5, under_odds = 2.74 WHERE id = 157383
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 157383
UPDATE matches SET home_odds = 3.24, away_odds = 2.14, draw_odds = 3.94 WHERE id = 157376
UPDATE matches SET over_odds = 1.7, under_odds = 2.28 WHERE id = 157376
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157376
UPDATE matches SET home_odds = 1.26, away_odds = 12.18, draw_odds = 6.37 WHERE id = 157379
UPDATE matches SET over_odds = 1.48, under_odds = 2.84 WHERE id = 157379
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.96 WHERE id = 157379
UPDATE matches SET home_odds = 2.08, away_odds = 3.59, draw_odds = 3.71 WHERE id = 157378
UPDATE matches SET over_odds = 1.65, under_odds = 2.39 WHERE id = 157378
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 157378
UPDATE matches SET home_odds = 1.93, away_odds = 3.79, draw_odds = 4.04 WHERE id = 157385
UPDATE matches SET over_odds = 1.62, under_odds = 2.45 WHERE id = 157385
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 157385
UPDATE matches SET home_odds = 2.34, away_odds = 3.11, draw_odds = 3.55 WHERE id = 157386
UPDATE matches SET over_odds = 1.94, under_odds = 1.98 WHERE id = 157386
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157386
UPDATE matches SET home_odds = 1.88, away_odds = 4.29, draw_odds = 3.81 WHERE id = 157387
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 157387
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 157387
UPDATE matches SET home_odds = 6.4, away_odds = 1.56, draw_odds = 4.27 WHERE id = 157388
UPDATE matches SET over_odds = 1.79, under_odds = 2.15 WHERE id = 157388
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 157388
UPDATE matches SET home_odds = 2.26, away_odds = 3.03, draw_odds = 3.87 WHERE id = 157389
UPDATE matches SET over_odds = 1.58, under_odds = 2.53 WHERE id = 157389
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157389
UPDATE matches SET home_odds = 3.25, away_odds = 2.28, draw_odds = 3.51 WHERE id = 157390
UPDATE matches SET over_odds = 1.88, under_odds = 2.03 WHERE id = 157390
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 157390
UPDATE matches SET home_odds = 1.08, away_odds = 30.22, draw_odds = 13.1 WHERE id = 157391
UPDATE matches SET over_odds = 1.21, under_odds = 4.76 WHERE id = 157391
UPDATE matches SET handicap_size = 3.0, handicap_odds = 1.95 WHERE id = 157391
UPDATE matches SET home_odds = 7.79, away_odds = 1.41, draw_odds = 5.07 WHERE id = 157392
UPDATE matches SET over_odds = 1.53, under_odds = 2.65 WHERE id = 157392
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 157392
UPDATE matches SET home_odds = 2.18, away_odds = 3.46, draw_odds = 3.54 WHERE id = 157393
UPDATE matches SET over_odds = 1.86, under_odds = 2.06 WHERE id = 157393
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157393
UPDATE matches SET home_odds = 3.12, away_odds = 2.31, draw_odds = 3.62 WHERE id = 157394
UPDATE matches SET over_odds = 1.67, under_odds = 2.34 WHERE id = 157394
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 157394
UPDATE matches SET home_odds = 6.16, away_odds = 1.56, draw_odds = 4.51 WHERE id = 592143
UPDATE matches SET over_odds = 1.8, under_odds = 2.13 WHERE id = 592143
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592143
UPDATE matches SET home_odds = 3.32, away_odds = 2.4, draw_odds = 3.29 WHERE id = 592142
UPDATE matches SET over_odds = 2.34, under_odds = 1.68 WHERE id = 592142
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592142
UPDATE matches SET home_odds = 1.31, away_odds = 9.92, draw_odds = 6.25 WHERE id = 592144
UPDATE matches SET over_odds = 1.56, under_odds = 2.6 WHERE id = 592144
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 592144
UPDATE matches SET home_odds = 2.18, away_odds = 3.5, draw_odds = 3.61 WHERE id = 592148
UPDATE matches SET over_odds = 2.0, under_odds = 1.91 WHERE id = 592148
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.975 WHERE id = 592148
UPDATE matches SET home_odds = 4.0, away_odds = 2.0, draw_odds = 3.59 WHERE id = 592147
UPDATE matches SET over_odds = 2.0, under_odds = 1.91 WHERE id = 592147
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 592147
UPDATE matches SET home_odds = 1.94, away_odds = 4.3, draw_odds = 3.57 WHERE id = 592146
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 592146
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 592146
UPDATE matches SET home_odds = 5.36, away_odds = 1.65, draw_odds = 4.34 WHERE id = 592149
UPDATE matches SET over_odds = 1.79, under_odds = 2.14 WHERE id = 592149
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.97 WHERE id = 592149
UPDATE matches SET home_odds = 3.41, away_odds = 2.46, draw_odds = 3.03 WHERE id = 592150
UPDATE matches SET over_odds = 2.84, under_odds = 1.48 WHERE id = 592150
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.955 WHERE id = 592150
UPDATE matches SET home_odds = 1.55, away_odds = 6.46, draw_odds = 4.33 WHERE id = 592154
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 592154
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 592154
UPDATE matches SET home_odds = 1.65, away_odds = 5.61, draw_odds = 4.05 WHERE id = 592155
UPDATE matches SET over_odds = 1.96, under_odds = 1.96 WHERE id = 592155
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 592155
UPDATE matches SET home_odds = 1.3, away_odds = 9.8, draw_odds = 5.88 WHERE id = 592157
UPDATE matches SET over_odds = 1.67, under_odds = 2.29 WHERE id = 592157
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.95 WHERE id = 592157
UPDATE matches SET home_odds = 1.54, away_odds = 6.09, draw_odds = 4.58 WHERE id = 592151
UPDATE matches SET over_odds = 1.66, under_odds = 2.36 WHERE id = 592151
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 592151
UPDATE matches SET home_odds = 3.12, away_odds = 2.41, draw_odds = 3.39 WHERE id = 592159
UPDATE matches SET over_odds = 1.99, under_odds = 1.93 WHERE id = 592159
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 592159
UPDATE matches SET home_odds = 2.66, away_odds = 2.91, draw_odds = 3.22 WHERE id = 592158
UPDATE matches SET over_odds = 2.43, under_odds = 1.63 WHERE id = 592158
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 592158
UPDATE matches SET home_odds = 3.2, away_odds = 2.19, draw_odds = 3.85 WHERE id = 592153
UPDATE matches SET over_odds = 1.62, under_odds = 2.44 WHERE id = 592153
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592153
UPDATE matches SET home_odds = 1.63, away_odds = 5.79, draw_odds = 4.13 WHERE id = 592156
UPDATE matches SET over_odds = 2.01, under_odds = 1.91 WHERE id = 592156
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.97 WHERE id = 592156
UPDATE matches SET home_odds = 2.77, away_odds = 2.78, draw_odds = 3.22 WHERE id = 592152
UPDATE matches SET over_odds = 2.34, under_odds = 1.67 WHERE id = 592152
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 592152
UPDATE matches SET home_odds = 6.27, away_odds = 1.56, draw_odds = 4.35 WHERE id = 592160
UPDATE matches SET over_odds = 1.76, under_odds = 2.19 WHERE id = 592160
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 592160
UPDATE matches SET home_odds = 5.1, away_odds = 1.78, draw_odds = 3.82 WHERE id = 592161
UPDATE matches SET over_odds = 1.88, under_odds = 2.05 WHERE id = 592161
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9699999999999998 WHERE id = 592161
UPDATE matches SET home_odds = 3.72, away_odds = 2.17, draw_odds = 3.44 WHERE id = 592163
UPDATE matches SET over_odds = 2.18, under_odds = 1.76 WHERE id = 592163
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 592163
UPDATE matches SET home_odds = 8.55, away_odds = 1.39, draw_odds = 5.33 WHERE id = 592169
UPDATE matches SET over_odds = 1.65, under_odds = 2.39 WHERE id = 592169
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.97 WHERE id = 592169
UPDATE matches SET home_odds = 3.41, away_odds = 2.36, draw_odds = 3.31 WHERE id = 592162
UPDATE matches SET over_odds = 2.12, under_odds = 1.81 WHERE id = 592162
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9699999999999998 WHERE id = 592162
UPDATE matches SET home_odds = 2.83, away_odds = 2.63, draw_odds = 3.5 WHERE id = 592167
UPDATE matches SET over_odds = 2.01, under_odds = 1.91 WHERE id = 592167
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 592167
UPDATE matches SET home_odds = 1.49, away_odds = 7.38, draw_odds = 4.67 WHERE id = 592168
UPDATE matches SET over_odds = 1.78, under_odds = 2.16 WHERE id = 592168
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.98 WHERE id = 592168
UPDATE matches SET home_odds = 1.31, away_odds = 10.09, draw_odds = 6.19 WHERE id = 592166
UPDATE matches SET over_odds = 1.43, under_odds = 3.03 WHERE id = 592166
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.97 WHERE id = 592166
UPDATE matches SET home_odds = 3.87, away_odds = 2.1, draw_odds = 3.5 WHERE id = 592170
UPDATE matches SET over_odds = 2.18, under_odds = 1.77 WHERE id = 592170
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.975 WHERE id = 592170
UPDATE matches SET home_odds = 2.98, away_odds = 2.54, draw_odds = 3.32 WHERE id = 592164
UPDATE matches SET over_odds = 2.16, under_odds = 1.78 WHERE id = 592164
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 592164
UPDATE matches SET home_odds = 1.5, away_odds = 6.53, draw_odds = 4.76 WHERE id = 592165
UPDATE matches SET over_odds = 1.57, under_odds = 2.57 WHERE id = 592165
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 592165
UPDATE matches SET home_odds = 1.43, away_odds = 7.79, draw_odds = 4.86 WHERE id = 592173
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 592173

UPDATE matches SET home_odds = 4.65, away_odds = 1.77, draw_odds = 4.1 WHERE id = 592350
UPDATE matches SET over_odds = 1.65, under_odds = 2.36 WHERE id = 592350
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592350
UPDATE matches SET home_odds = 3.18, away_odds = 2.39, draw_odds = 3.46 WHERE id = 592342
UPDATE matches SET over_odds = 2.13, under_odds = 1.79 WHERE id = 592342
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592342
UPDATE matches SET home_odds = 2.11, away_odds = 4.03, draw_odds = 3.33 WHERE id = 592355
UPDATE matches SET over_odds = 2.35, under_odds = 1.66 WHERE id = 592355
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 592355
UPDATE matches SET home_odds = 3.71, away_odds = 2.2, draw_odds = 3.36 WHERE id = 592356
UPDATE matches SET over_odds = 2.34, under_odds = 1.66 WHERE id = 592356
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592356
UPDATE matches SET home_odds = 1.46, away_odds = 7.59, draw_odds = 4.81 WHERE id = 592357
UPDATE matches SET over_odds = 1.57, under_odds = 2.53 WHERE id = 592357
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 592357
UPDATE matches SET home_odds = 3.01, away_odds = 2.68, draw_odds = 3.16 WHERE id = 592358
UPDATE matches SET over_odds = 2.3, under_odds = 1.68 WHERE id = 592358
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 592358
UPDATE matches SET home_odds = 14.8, away_odds = 1.23, draw_odds = 6.57 WHERE id = 592352
UPDATE matches SET over_odds = 1.68, under_odds = 2.28 WHERE id = 592352
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 592352
UPDATE matches SET home_odds = 4.12, away_odds = 2.0, draw_odds = 3.56 WHERE id = 592353
UPDATE matches SET over_odds = 2.06, under_odds = 1.86 WHERE id = 592353
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 592353
UPDATE matches SET home_odds = 2.51, away_odds = 2.82, draw_odds = 3.71 WHERE id = 592354
UPDATE matches SET over_odds = 1.68, under_odds = 2.31 WHERE id = 592354
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 592354
UPDATE matches SET home_odds = 2.23, away_odds = 3.46, draw_odds = 3.5 WHERE id = 592351
UPDATE matches SET over_odds = 1.73, under_odds = 2.22 WHERE id = 592351
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592351
UPDATE matches SET home_odds = 1.37, away_odds = 8.87, draw_odds = 5.5 WHERE id = 592360
UPDATE matches SET over_odds = 1.64, under_odds = 2.38 WHERE id = 592360
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 592360
UPDATE matches SET home_odds = 3.58, away_odds = 2.18, draw_odds = 3.52 WHERE id = 592359
UPDATE matches SET over_odds = 2.02, under_odds = 1.88 WHERE id = 592359
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592359
UPDATE matches SET home_odds = 2.84, away_odds = 2.6, draw_odds = 3.51 WHERE id = 592361
UPDATE matches SET over_odds = 1.71, under_odds = 2.25 WHERE id = 592361
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 592361
UPDATE matches SET home_odds = 3.74, away_odds = 2.26, draw_odds = 3.21 WHERE id = 592362
UPDATE matches SET over_odds = 2.55, under_odds = 1.57 WHERE id = 592362
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592362
UPDATE matches SET home_odds = 3.06, away_odds = 2.54, draw_odds = 3.32 WHERE id = 592367
UPDATE matches SET over_odds = 2.03, under_odds = 1.88 WHERE id = 592367
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 592367
UPDATE matches SET home_odds = 3.66, away_odds = 2.13, draw_odds = 3.56 WHERE id = 592363
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 592363
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 592363
UPDATE matches SET home_odds = 1.57, away_odds = 6.22, draw_odds = 4.35 WHERE id = 592366
UPDATE matches SET over_odds = 1.71, under_odds = 2.24 WHERE id = 592366
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592366
UPDATE matches SET home_odds = 1.47, away_odds = 7.81, draw_odds = 4.58 WHERE id = 592369
UPDATE matches SET over_odds = 1.8, under_odds = 2.11 WHERE id = 592369
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9700000000000002 WHERE id = 592369
UPDATE matches SET home_odds = 3.63, away_odds = 2.17, draw_odds = 3.49 WHERE id = 592370
UPDATE matches SET over_odds = 2.29, under_odds = 1.69 WHERE id = 592370
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 592370
UPDATE matches SET home_odds = 3.44, away_odds = 2.17, draw_odds = 3.7 WHERE id = 592365
UPDATE matches SET over_odds = 1.74, under_odds = 2.2 WHERE id = 592365
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592365
UPDATE matches SET home_odds = 7.64, away_odds = 1.49, draw_odds = 4.46 WHERE id = 592368
UPDATE matches SET over_odds = 1.93, under_odds = 1.97 WHERE id = 592368
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 592368
UPDATE matches SET home_odds = 1.88, away_odds = 4.24, draw_odds = 3.93 WHERE id = 592364
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 592364
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 592364
UPDATE matches SET home_odds = 3.5, away_odds = 2.2, draw_odds = 3.53 WHERE id = 592731
UPDATE matches SET over_odds = 1.79, under_odds = 2.13 WHERE id = 592731
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592731
UPDATE matches SET home_odds = 2.54, away_odds = 3.19, draw_odds = 3.18 WHERE id = 592729
UPDATE matches SET over_odds = 2.52, under_odds = 1.58 WHERE id = 592729
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.98 WHERE id = 592729
UPDATE matches SET home_odds = 1.35, away_odds = 8.75, draw_odds = 5.91 WHERE id = 592732
UPDATE matches SET over_odds = 1.65, under_odds = 2.37 WHERE id = 592732
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 592732
UPDATE matches SET home_odds = 2.85, away_odds = 2.59, draw_odds = 3.51 WHERE id = 592727
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 592727
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 592727
UPDATE matches SET home_odds = 2.44, away_odds = 3.25, draw_odds = 3.28 WHERE id = 592733
UPDATE matches SET over_odds = 2.38, under_odds = 1.64 WHERE id = 592733
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 592733
UPDATE matches SET home_odds = 9.65, away_odds = 1.34, draw_odds = 5.71 WHERE id = 592734
UPDATE matches SET over_odds = 1.56, under_odds = 2.57 WHERE id = 592734
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 592734
UPDATE matches SET home_odds = 1.93, away_odds = 4.1, draw_odds = 3.79 WHERE id = 592726
UPDATE matches SET over_odds = 1.62, under_odds = 2.44 WHERE id = 592726
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.955 WHERE id = 592726
UPDATE matches SET home_odds = 1.96, away_odds = 4.24, draw_odds = 3.61 WHERE id = 592730
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 592730
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 592730
UPDATE matches SET home_odds = 1.75, away_odds = 5.26, draw_odds = 3.82 WHERE id = 592735
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 592735
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592735
UPDATE matches SET home_odds = 1.26, away_odds = 11.46, draw_odds = 6.85 WHERE id = 592728
UPDATE matches SET over_odds = 1.63, under_odds = 2.42 WHERE id = 592728
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9649999999999999 WHERE id = 592728
UPDATE matches SET home_odds = 2.87, away_odds = 2.77, draw_odds = 3.19 WHERE id = 592302
UPDATE matches SET over_odds = 2.32, under_odds = 1.67 WHERE id = 592302
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 592302
UPDATE matches SET home_odds = 8.77, away_odds = 1.36, draw_odds = 5.62 WHERE id = 592295
UPDATE matches SET over_odds = 1.68, under_odds = 2.31 WHERE id = 592295
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 592295
UPDATE matches SET home_odds = 2.41, away_odds = 3.17, draw_odds = 3.42 WHERE id = 592745
UPDATE matches SET over_odds = 1.88, under_odds = 2.02 WHERE id = 592745
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592745
UPDATE matches SET home_odds = 5.11, away_odds = 1.75, draw_odds = 3.88 WHERE id = 592743
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 592743
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592743
UPDATE matches SET home_odds = 2.06, away_odds = 4.12, draw_odds = 3.41 WHERE id = 592739
UPDATE matches SET over_odds = 2.26, under_odds = 1.7 WHERE id = 592739
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 592739
UPDATE matches SET home_odds = 1.5, away_odds = 6.94, draw_odds = 4.64 WHERE id = 592741
UPDATE matches SET over_odds = 1.6, under_odds = 2.48 WHERE id = 592741
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.97 WHERE id = 592741
UPDATE matches SET home_odds = 2.23, away_odds = 3.77, draw_odds = 3.24 WHERE id = 592740
UPDATE matches SET over_odds = 2.46, under_odds = 1.61 WHERE id = 592740
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592740
UPDATE matches SET home_odds = 2.73, away_odds = 2.78, draw_odds = 3.38 WHERE id = 592744
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 592744
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 592744
UPDATE matches SET home_odds = 2.94, away_odds = 2.49, draw_odds = 3.55 WHERE id = 592737
UPDATE matches SET over_odds = 1.82, under_odds = 2.09 WHERE id = 592737
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 592737
UPDATE matches SET home_odds = 6.42, away_odds = 1.54, draw_odds = 4.54 WHERE id = 592736
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 592736
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592736
UPDATE matches SET home_odds = 1.31, away_odds = 10.95, draw_odds = 5.85 WHERE id = 592742
UPDATE matches SET over_odds = 1.58, under_odds = 2.51 WHERE id = 592742
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 592742
UPDATE matches SET home_odds = 1.75, away_odds = 5.64, draw_odds = 3.61 WHERE id = 592738
UPDATE matches SET over_odds = 2.25, under_odds = 1.71 WHERE id = 592738
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 592738
UPDATE matches SET home_odds = 2.4, away_odds = 3.12, draw_odds = 3.52 WHERE id = 592314
UPDATE matches SET over_odds = 1.69, under_odds = 2.27 WHERE id = 592314
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 592314
UPDATE matches SET home_odds = 1.24, away_odds = 13.19, draw_odds = 6.76 WHERE id = 592751
UPDATE matches SET over_odds = 1.55, under_odds = 2.57 WHERE id = 592751
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 592751
UPDATE matches SET home_odds = 4.22, away_odds = 1.99, draw_odds = 3.53 WHERE id = 592755
UPDATE matches SET over_odds = 2.2, under_odds = 1.74 WHERE id = 592755
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 592755
UPDATE matches SET home_odds = 2.25, away_odds = 3.22, draw_odds = 3.74 WHERE id = 592749
UPDATE matches SET over_odds = 1.63, under_odds = 2.4 WHERE id = 592749
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592749
UPDATE matches SET home_odds = 3.56, away_odds = 2.36, draw_odds = 3.16 WHERE id = 592752
UPDATE matches SET over_odds = 2.44, under_odds = 1.61 WHERE id = 592752
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592752
UPDATE matches SET home_odds = 3.62, away_odds = 2.29, draw_odds = 3.24 WHERE id = 592747
UPDATE matches SET over_odds = 2.42, under_odds = 1.63 WHERE id = 592747
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592747
UPDATE matches SET home_odds = 2.61, away_odds = 2.92, draw_odds = 3.38 WHERE id = 592750
UPDATE matches SET over_odds = 2.03, under_odds = 1.88 WHERE id = 592750
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 592750
UPDATE matches SET home_odds = 1.56, away_odds = 7.22, draw_odds = 4.1 WHERE id = 592754
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 592754
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592754
UPDATE matches SET home_odds = 2.3, away_odds = 3.47, draw_odds = 3.34 WHERE id = 592746
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 592746
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592746
UPDATE matches SET home_odds = 7.95, away_odds = 1.41, draw_odds = 5.19 WHERE id = 592753
UPDATE matches SET over_odds = 1.68, under_odds = 2.29 WHERE id = 592753
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 592753
UPDATE matches SET home_odds = 2.21, away_odds = 3.44, draw_odds = 3.58 WHERE id = 592748
UPDATE matches SET over_odds = 2.02, under_odds = 1.88 WHERE id = 592748
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592748
UPDATE matches SET home_odds = 1.23, away_odds = 16.42, draw_odds = 6.38 WHERE id = 592781
UPDATE matches SET over_odds = 1.75, under_odds = 2.17 WHERE id = 592781
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 592781
UPDATE matches SET home_odds = 4.1, away_odds = 2.11, draw_odds = 3.29 WHERE id = 592777
UPDATE matches SET over_odds = 2.19, under_odds = 1.75 WHERE id = 592777
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 592777
UPDATE matches SET home_odds = 3.77, away_odds = 2.09, draw_odds = 3.58 WHERE id = 592782
UPDATE matches SET over_odds = 2.18, under_odds = 1.75 WHERE id = 592782
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 592782
UPDATE matches SET home_odds = 8.18, away_odds = 1.45, draw_odds = 4.7 WHERE id = 592778
UPDATE matches SET over_odds = 1.81, under_odds = 2.09 WHERE id = 592778
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 592778
UPDATE matches SET home_odds = 4.02, away_odds = 2.0, draw_odds = 3.66 WHERE id = 592818
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 592818
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 592818
UPDATE matches SET home_odds = 4.49, away_odds = 1.87, draw_odds = 3.77 WHERE id = 592784
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 592784
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 592784
UPDATE matches SET home_odds = 2.28, away_odds = 3.2, draw_odds = 3.69 WHERE id = 592780
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 592780
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592780
UPDATE matches SET home_odds = 5.73, away_odds = 1.66, draw_odds = 4.02 WHERE id = 592758
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 592758
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 592758
UPDATE matches SET home_odds = 3.77, away_odds = 2.14, draw_odds = 3.43 WHERE id = 592762
UPDATE matches SET over_odds = 2.34, under_odds = 1.66 WHERE id = 592762
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 592762
UPDATE matches SET home_odds = 2.48, away_odds = 3.28, draw_odds = 3.18 WHERE id = 592756
UPDATE matches SET over_odds = 2.18, under_odds = 1.75 WHERE id = 592756
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 592756
UPDATE matches SET home_odds = 2.54, away_odds = 3.02, draw_odds = 3.37 WHERE id = 592757
UPDATE matches SET over_odds = 2.26, under_odds = 1.7 WHERE id = 592757
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 592757
UPDATE matches SET home_odds = 2.47, away_odds = 3.19, draw_odds = 3.29 WHERE id = 592764
UPDATE matches SET over_odds = 2.34, under_odds = 1.66 WHERE id = 592764
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 592764
UPDATE matches SET home_odds = 1.42, away_odds = 8.54, draw_odds = 4.92 WHERE id = 592760
UPDATE matches SET over_odds = 1.75, under_odds = 2.18 WHERE id = 592760
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 592760
UPDATE matches SET home_odds = 1.52, away_odds = 6.97, draw_odds = 4.45 WHERE id = 592761
UPDATE matches SET over_odds = 1.77, under_odds = 2.15 WHERE id = 592761
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 592761
UPDATE matches SET home_odds = 1.5, away_odds = 7.36, draw_odds = 4.53 WHERE id = 592763
UPDATE matches SET over_odds = 1.92, under_odds = 1.99 WHERE id = 592763
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 592763
UPDATE matches SET home_odds = 1.55, away_odds = 6.72, draw_odds = 4.33 WHERE id = 592759
UPDATE matches SET over_odds = 1.98, under_odds = 1.93 WHERE id = 592759
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592759
UPDATE matches SET home_odds = 2.14, away_odds = 3.55, draw_odds = 3.67 WHERE id = 592765
UPDATE matches SET over_odds = 1.69, under_odds = 2.28 WHERE id = 592765
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 592765
UPDATE matches SET home_odds = 1.22, away_odds = 14.8, draw_odds = 7.28 WHERE id = 592822
UPDATE matches SET over_odds = 1.53, under_odds = 2.67 WHERE id = 592822
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.965 WHERE id = 592822
UPDATE matches SET home_odds = 3.86, away_odds = 2.14, draw_odds = 3.38 WHERE id = 592773
UPDATE matches SET over_odds = 2.33, under_odds = 1.67 WHERE id = 592773
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 592773
UPDATE matches SET home_odds = 4.69, away_odds = 1.78, draw_odds = 3.99 WHERE id = 592770
UPDATE matches SET over_odds = 1.82, under_odds = 2.08 WHERE id = 592770
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592770
UPDATE matches SET home_odds = 2.31, away_odds = 3.63, draw_odds = 3.19 WHERE id = 592767
UPDATE matches SET over_odds = 2.5, under_odds = 1.59 WHERE id = 592767
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592767
UPDATE matches SET home_odds = 1.93, away_odds = 4.54, draw_odds = 3.52 WHERE id = 592768
UPDATE matches SET over_odds = 2.17, under_odds = 1.76 WHERE id = 592768
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 592768
UPDATE matches SET home_odds = 10.46, away_odds = 1.37, draw_odds = 5.04 WHERE id = 592769
UPDATE matches SET over_odds = 1.83, under_odds = 2.06 WHERE id = 592769
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 592769
UPDATE matches SET home_odds = 3.03, away_odds = 2.68, draw_odds = 3.14 WHERE id = 592774
UPDATE matches SET over_odds = 2.45, under_odds = 1.61 WHERE id = 592774
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 592774
UPDATE matches SET home_odds = 1.56, away_odds = 6.87, draw_odds = 4.16 WHERE id = 592771
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 592771
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 592771
UPDATE matches SET home_odds = 2.65, away_odds = 2.87, draw_odds = 3.38 WHERE id = 592766
UPDATE matches SET over_odds = 1.94, under_odds = 1.96 WHERE id = 592766

UPDATE matches SET home_odds = 1.94, away_odds = 4.38, draw_odds = 3.55 WHERE id = 592842
UPDATE matches SET over_odds = 2.29, under_odds = 1.69 WHERE id = 592842
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 592842
UPDATE matches SET home_odds = 1.29, away_odds = 10.41, draw_odds = 6.19 WHERE id = 592841
UPDATE matches SET over_odds = 1.46, under_odds = 2.84 WHERE id = 592841
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.95 WHERE id = 592841
UPDATE matches SET home_odds = 3.41, away_odds = 2.27, draw_odds = 3.46 WHERE id = 592845
UPDATE matches SET over_odds = 2.28, under_odds = 1.69 WHERE id = 592845
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592845
UPDATE matches SET home_odds = 4.45, away_odds = 1.85, draw_odds = 3.86 WHERE id = 592837
UPDATE matches SET over_odds = 1.77, under_odds = 2.16 WHERE id = 592837
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592837
UPDATE matches SET home_odds = 2.28, away_odds = 3.35, draw_odds = 3.51 WHERE id = 592844
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 592844
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592844
UPDATE matches SET home_odds = 1.47, away_odds = 7.6, draw_odds = 4.7 WHERE id = 592836
UPDATE matches SET over_odds = 1.77, under_odds = 2.16 WHERE id = 592836
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9700000000000002 WHERE id = 592836
UPDATE matches SET home_odds = 2.22, away_odds = 3.44, draw_odds = 3.56 WHERE id = 592838
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 592838
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592838
UPDATE matches SET home_odds = 2.59, away_odds = 2.92, draw_odds = 3.42 WHERE id = 592849
UPDATE matches SET over_odds = 2.0, under_odds = 1.91 WHERE id = 592849
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 592849
UPDATE matches SET home_odds = 2.11, away_odds = 3.63, draw_odds = 3.65 WHERE id = 592814
UPDATE matches SET over_odds = 1.95, under_odds = 1.95 WHERE id = 592814
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592814
UPDATE matches SET home_odds = 1.75, away_odds = 5.17, draw_odds = 3.88 WHERE id = 592851
UPDATE matches SET over_odds = 2.09, under_odds = 1.81 WHERE id = 592851
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592851
UPDATE matches SET home_odds = 2.82, away_odds = 2.62, draw_odds = 3.5 WHERE id = 592322
UPDATE matches SET over_odds = 1.86, under_odds = 2.05 WHERE id = 592322
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 592322
UPDATE matches SET home_odds = 3.12, away_odds = 2.17, draw_odds = 3.78 WHERE id = 592831
UPDATE matches SET over_odds = 1.68, under_odds = 2.21 WHERE id = 592831
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9249999999999998 WHERE id = 592831
UPDATE matches SET home_odds = 11.02, away_odds = 1.29, draw_odds = 5.79 WHERE id = 592852
UPDATE matches SET over_odds = 1.55, under_odds = 2.55 WHERE id = 592852
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9500000000000002 WHERE id = 592852
UPDATE matches SET home_odds = 3.2, away_odds = 2.23, draw_odds = 3.72 WHERE id = 592847
UPDATE matches SET over_odds = 1.68, under_odds = 2.3 WHERE id = 592847
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592847
UPDATE matches SET home_odds = 2.02, away_odds = 3.78, draw_odds = 3.61 WHERE id = 592853
UPDATE matches SET over_odds = 2.0, under_odds = 1.89 WHERE id = 592853
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.95 WHERE id = 592853
UPDATE matches SET home_odds = 3.01, away_odds = 2.4, draw_odds = 3.57 WHERE id = 592846
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 592846
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 592846
UPDATE matches SET home_odds = 3.14, away_odds = 2.32, draw_odds = 3.58 WHERE id = 592855
UPDATE matches SET over_odds = 1.95, under_odds = 1.95 WHERE id = 592855
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 592855
UPDATE matches SET home_odds = 1.56, away_odds = 6.38, draw_odds = 4.29 WHERE id = 592854
UPDATE matches SET over_odds = 1.88, under_odds = 2.04 WHERE id = 592854
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592854
UPDATE matches SET home_odds = 11.65, away_odds = 1.24, draw_odds = 6.78 WHERE id = 592850
UPDATE matches SET over_odds = 1.44, under_odds = 2.86 WHERE id = 592850
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.95 WHERE id = 592850
UPDATE matches SET home_odds = 1.4, away_odds = 8.69, draw_odds = 4.9 WHERE id = 592848
UPDATE matches SET over_odds = 1.85, under_odds = 2.05 WHERE id = 592848
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.95 WHERE id = 592848
UPDATE matches SET home_odds = 1.32, away_odds = 9.28, draw_odds = 5.81 WHERE id = 592861
UPDATE matches SET over_odds = 1.59, under_odds = 2.48 WHERE id = 592861
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.955 WHERE id = 592861
UPDATE matches SET home_odds = 2.6, away_odds = 2.61, draw_odds = 3.84 WHERE id = 592863
UPDATE matches SET over_odds = 1.53, under_odds = 2.67 WHERE id = 592863
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 592863
UPDATE matches SET home_odds = 6.89, away_odds = 1.49, draw_odds = 4.53 WHERE id = 592856
UPDATE matches SET over_odds = 1.81, under_odds = 2.08 WHERE id = 592856
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592856
UPDATE matches SET home_odds = 1.74, away_odds = 5.36, draw_odds = 3.74 WHERE id = 592858
UPDATE matches SET over_odds = 2.19, under_odds = 1.75 WHERE id = 592858
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592858
UPDATE matches SET home_odds = 1.9, away_odds = 4.3, draw_odds = 3.68 WHERE id = 592860
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 592860
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 592860
UPDATE matches SET home_odds = 1.75, away_odds = 4.82, draw_odds = 3.87 WHERE id = 592862
UPDATE matches SET over_odds = 1.8, under_odds = 2.09 WHERE id = 592862
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.95 WHERE id = 592862
UPDATE matches SET home_odds = 1.54, away_odds = 5.92, draw_odds = 4.77 WHERE id = 592864
UPDATE matches SET over_odds = 1.52, under_odds = 2.7 WHERE id = 592864
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 592864
UPDATE matches SET home_odds = 6.16, away_odds = 1.55, draw_odds = 4.49 WHERE id = 592859
UPDATE matches SET over_odds = 1.75, under_odds = 2.18 WHERE id = 592859
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 592859
UPDATE matches SET home_odds = 11.1, away_odds = 1.26, draw_odds = 6.61 WHERE id = 592857
UPDATE matches SET over_odds = 1.42, under_odds = 2.8 WHERE id = 592857
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 592857
UPDATE matches SET home_odds = 5.35, away_odds = 1.63, draw_odds = 4.29 WHERE id = 592865
UPDATE matches SET over_odds = 1.63, under_odds = 2.39 WHERE id = 592865
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9549999999999998 WHERE id = 592865
UPDATE matches SET home_odds = 1.63, away_odds = 5.34, draw_odds = 4.46 WHERE id = 592866
UPDATE matches SET over_odds = 1.7, under_odds = 2.27 WHERE id = 592866
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 592866
UPDATE matches SET home_odds = 6.75, away_odds = 1.51, draw_odds = 4.63 WHERE id = 592867
UPDATE matches SET over_odds = 1.68, under_odds = 2.29 WHERE id = 592867
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9700000000000002 WHERE id = 592867
UPDATE matches SET home_odds = 2.08, away_odds = 3.41, draw_odds = 3.94 WHERE id = 592868
UPDATE matches SET over_odds = 1.66, under_odds = 2.31 WHERE id = 592868
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 592868
UPDATE matches SET home_odds = 1.45, away_odds = 6.54, draw_odds = 5.24 WHERE id = 592869
UPDATE matches SET over_odds = 1.53, under_odds = 2.61 WHERE id = 592869
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.95 WHERE id = 592869
UPDATE matches SET home_odds = 2.06, away_odds = 3.35, draw_odds = 4.19 WHERE id = 592870
UPDATE matches SET over_odds = 1.61, under_odds = 2.45 WHERE id = 592870
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 592870
UPDATE matches SET home_odds = 1.16, away_odds = 18.32, draw_odds = 8.73 WHERE id = 592871
UPDATE matches SET over_odds = 1.48, under_odds = 2.63 WHERE id = 592871
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.955 WHERE id = 592871
UPDATE matches SET home_odds = 1.43, away_odds = 7.24, draw_odds = 5.09 WHERE id = 592872
UPDATE matches SET over_odds = 1.61, under_odds = 2.42 WHERE id = 592872
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.955 WHERE id = 592872
UPDATE matches SET home_odds = 2.87, away_odds = 2.43, draw_odds = 3.74 WHERE id = 592873
UPDATE matches SET over_odds = 1.74, under_odds = 2.18 WHERE id = 592873
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 592873
UPDATE matches SET home_odds = 1.74, away_odds = 5.03, draw_odds = 3.99 WHERE id = 592874
UPDATE matches SET over_odds = 1.63, under_odds = 2.4 WHERE id = 592874
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 592874
UPDATE matches SET home_odds = 2.59, away_odds = 2.7, draw_odds = 3.78 WHERE id = 592875
UPDATE matches SET over_odds = 1.72, under_odds = 2.22 WHERE id = 592875
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 592875
UPDATE matches SET home_odds = 4.05, away_odds = 2.05, draw_odds = 3.46 WHERE id = 710556
UPDATE matches SET over_odds = 2.22, under_odds = 1.73 WHERE id = 710556
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 710556
UPDATE matches SET home_odds = 1.56, away_odds = 5.96, draw_odds = 4.57 WHERE id = 710561
UPDATE matches SET over_odds = 1.67, under_odds = 2.32 WHERE id = 710561
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 710561
UPDATE matches SET home_odds = 3.3, away_odds = 2.51, draw_odds = 3.12 WHERE id = 710557
UPDATE matches SET over_odds = 2.56, under_odds = 1.56 WHERE id = 710557
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 710557
UPDATE matches SET home_odds = 1.26, away_odds = 12.74, draw_odds = 6.24 WHERE id = 710558
UPDATE matches SET over_odds = 1.8, under_odds = 2.09 WHERE id = 710558
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.955 WHERE id = 710558
UPDATE matches SET home_odds = 2.01, away_odds = 4.1, draw_odds = 3.56 WHERE id = 710559
UPDATE matches SET over_odds = 2.14, under_odds = 1.78 WHERE id = 710559
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710559
UPDATE matches SET home_odds = 1.73, away_odds = 5.47, draw_odds = 3.79 WHERE id = 710560
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 710560
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 710560
UPDATE matches SET home_odds = 3.18, away_odds = 2.47, draw_odds = 3.31 WHERE id = 710565
UPDATE matches SET over_odds = 2.1, under_odds = 1.83 WHERE id = 710565
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710565
UPDATE matches SET home_odds = 8.35, away_odds = 1.36, draw_odds = 5.86 WHERE id = 710563
UPDATE matches SET over_odds = 1.56, under_odds = 2.59 WHERE id = 710563
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 710563
UPDATE matches SET home_odds = 3.21, away_odds = 2.32, draw_odds = 3.59 WHERE id = 710562
UPDATE matches SET over_odds = 1.98, under_odds = 1.93 WHERE id = 710562
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710562
UPDATE matches SET home_odds = 5.56, away_odds = 1.67, draw_odds = 4.09 WHERE id = 710564
UPDATE matches SET over_odds = 1.89, under_odds = 2.02 WHERE id = 710564
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.975 WHERE id = 710564
UPDATE matches SET home_odds = 1.21, away_odds = 15.68, draw_odds = 6.98 WHERE id = 710571
UPDATE matches SET over_odds = 1.56, under_odds = 2.55 WHERE id = 710571
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 710571
UPDATE matches SET home_odds = 1.83, away_odds = 4.4, draw_odds = 3.99 WHERE id = 710567
UPDATE matches SET over_odds = 1.78, under_odds = 2.15 WHERE id = 710567
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9700000000000002 WHERE id = 710567
UPDATE matches SET home_odds = 2.65, away_odds = 2.95, draw_odds = 3.28 WHERE id = 710569
UPDATE matches SET over_odds = 2.39, under_odds = 1.64 WHERE id = 710569
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710569
UPDATE matches SET home_odds = 2.39, away_odds = 3.14, draw_odds = 3.51 WHERE id = 710570
UPDATE matches SET over_odds = 1.75, under_odds = 2.18 WHERE id = 710570
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710570
UPDATE matches SET home_odds = 1.11, away_odds = 26.2, draw_odds = 11.28 WHERE id = 710572
UPDATE matches SET over_odds = 1.35, under_odds = 3.38 WHERE id = 710572
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.95 WHERE id = 710572
UPDATE matches SET home_odds = 1.75, away_odds = 5.8, draw_odds = 3.55 WHERE id = 710568
UPDATE matches SET over_odds = 2.29, under_odds = 1.69 WHERE id = 710568
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710568
UPDATE matches SET home_odds = 5.32, away_odds = 1.64, draw_odds = 4.41 WHERE id = 710573
UPDATE matches SET over_odds = 1.78, under_odds = 2.15 WHERE id = 710573
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 710573
UPDATE matches SET home_odds = 3.25, away_odds = 2.52, draw_odds = 3.15 WHERE id = 710575
UPDATE matches SET over_odds = 2.29, under_odds = 1.69 WHERE id = 710575
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 710575
UPDATE matches SET home_odds = 4.9, away_odds = 1.79, draw_odds = 3.83 WHERE id = 710566
UPDATE matches SET over_odds = 2.13, under_odds = 1.79 WHERE id = 710566
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710566
UPDATE matches SET home_odds = 2.61, away_odds = 2.82, draw_odds = 3.51 WHERE id = 710574
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 710574
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710574
UPDATE matches SET home_odds = 1.26, away_odds = 12.59, draw_odds = 6.28 WHERE id = 710580
UPDATE matches SET over_odds = 1.57, under_odds = 2.52 WHERE id = 710580
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 710580
UPDATE matches SET home_odds = 2.02, away_odds = 3.95, draw_odds = 3.63 WHERE id = 710576
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 710576
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710576
UPDATE matches SET home_odds = 2.37, away_odds = 3.37, draw_odds = 3.29 WHERE id = 710577
UPDATE matches SET over_odds = 2.26, under_odds = 1.7 WHERE id = 710577
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710577
UPDATE matches SET home_odds = 2.55, away_odds = 2.9, draw_odds = 3.52 WHERE id = 710581
UPDATE matches SET over_odds = 1.85, under_odds = 2.06 WHERE id = 710581
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9700000000000002 WHERE id = 710581
UPDATE matches SET home_odds = 4.47, away_odds = 1.93, draw_odds = 3.54 WHERE id = 710582
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 710582
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710582
UPDATE matches SET home_odds = 1.59, away_odds = 6.64, draw_odds = 4.07 WHERE id = 710584
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 710584
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.965 WHERE id = 710584
UPDATE matches SET home_odds = 2.52, away_odds = 3.06, draw_odds = 3.36 WHERE id = 710579
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 710579
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9700000000000002 WHERE id = 710579
UPDATE matches SET home_odds = 3.15, away_odds = 2.35, draw_odds = 3.58 WHERE id = 710578
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 710578
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710578
UPDATE matches SET home_odds = 1.45, away_odds = 9.04, draw_odds = 4.42 WHERE id = 710583
UPDATE matches SET over_odds = 1.88, under_odds = 2.02 WHERE id = 710583
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9700000000000002 WHERE id = 710583
UPDATE matches SET home_odds = 5.14, away_odds = 1.83, draw_odds = 3.51 WHERE id = 710585
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 710585
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710585
UPDATE matches SET home_odds = 4.42, away_odds = 1.96, draw_odds = 3.47 WHERE id = 710589
UPDATE matches SET over_odds = 2.18, under_odds = 1.76 WHERE id = 710589
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710589
UPDATE matches SET home_odds = 1.53, away_odds = 6.5, draw_odds = 4.57 WHERE id = 710586
UPDATE matches SET over_odds = 1.73, under_odds = 2.21 WHERE id = 710586
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 710586
UPDATE matches SET home_odds = 2.93, away_odds = 2.72, draw_odds = 3.19 WHERE id = 710587
UPDATE matches SET over_odds = 2.52, under_odds = 1.58 WHERE id = 710587
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710587
UPDATE matches SET home_odds = 5.87, away_odds = 1.61, draw_odds = 4.26 WHERE id = 710592
UPDATE matches SET over_odds = 1.74, under_odds = 2.2 WHERE id = 710592
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 710592
UPDATE matches SET home_odds = 1.19, away_odds = 16.42, draw_odds = 7.56 WHERE id = 710593
UPDATE matches SET over_odds = 1.44, under_odds = 2.91 WHERE id = 710593
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.955 WHERE id = 710593
UPDATE matches SET home_odds = 2.93, away_odds = 2.54, draw_odds = 3.48 WHERE id = 710594
UPDATE matches SET over_odds = 1.72, under_odds = 2.23 WHERE id = 710594
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 710594
UPDATE matches SET home_odds = 3.47, away_odds = 2.36, draw_odds = 3.22 WHERE id = 710595
UPDATE matches SET over_odds = 2.37, under_odds = 1.65 WHERE id = 710595
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710595
UPDATE matches SET home_odds = 1.31, away_odds = 12.17, draw_odds = 5.51 WHERE id = 710588
UPDATE matches SET over_odds = 1.82, under_odds = 2.08 WHERE id = 710588
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 710588
UPDATE matches SET home_odds = 4.54, away_odds = 1.78, draw_odds = 4.15 WHERE id = 710591
UPDATE matches SET over_odds = 1.59, under_odds = 2.5 WHERE id = 710591
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 710591
UPDATE matches SET home_odds = 1.74, away_odds = 5.35, draw_odds = 3.83 WHERE id = 710590
UPDATE matches SET over_odds = 2.03, under_odds = 1.88 WHERE id = 710590
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 710590
UPDATE matches SET home_odds = 3.05, away_odds = 2.36, draw_odds = 3.69 WHERE id = 710601
UPDATE matches SET over_odds = 1.66, under_odds = 2.34 WHERE id = 710601
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710601

UPDATE matches SET home_odds = 2.02, away_odds = 3.98, draw_odds = 3.63 WHERE id = 710644
UPDATE matches SET over_odds = 2.0, under_odds = 1.91 WHERE id = 710644
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710644
UPDATE matches SET home_odds = 7.66, away_odds = 1.46, draw_odds = 4.79 WHERE id = 710638
UPDATE matches SET over_odds = 1.88, under_odds = 2.03 WHERE id = 710638
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.965 WHERE id = 710638
UPDATE matches SET home_odds = 2.66, away_odds = 2.79, draw_odds = 3.47 WHERE id = 710637
UPDATE matches SET over_odds = 1.88, under_odds = 2.02 WHERE id = 710637
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710637
UPDATE matches SET home_odds = 2.32, away_odds = 3.23, draw_odds = 3.54 WHERE id = 710645
UPDATE matches SET over_odds = 1.79, under_odds = 2.13 WHERE id = 710645
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710645
UPDATE matches SET home_odds = 3.15, away_odds = 2.29, draw_odds = 3.73 WHERE id = 710643
UPDATE matches SET over_odds = 1.57, under_odds = 2.54 WHERE id = 710643
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710643
UPDATE matches SET home_odds = 2.52, away_odds = 2.95, draw_odds = 3.49 WHERE id = 710648
UPDATE matches SET over_odds = 1.8, under_odds = 2.11 WHERE id = 710648
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 710648
UPDATE matches SET home_odds = 2.73, away_odds = 2.84, draw_odds = 3.31 WHERE id = 710647
UPDATE matches SET over_odds = 2.23, under_odds = 1.72 WHERE id = 710647
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710647
UPDATE matches SET home_odds = 1.25, away_odds = 11.52, draw_odds = 6.92 WHERE id = 710649
UPDATE matches SET over_odds = 1.51, under_odds = 2.68 WHERE id = 710649
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 710649
UPDATE matches SET home_odds = 1.15, away_odds = 22.14, draw_odds = 8.94 WHERE id = 710650
UPDATE matches SET over_odds = 1.45, under_odds = 2.88 WHERE id = 710650
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.955 WHERE id = 710650
UPDATE matches SET home_odds = 9.28, away_odds = 1.4, draw_odds = 4.96 WHERE id = 710651
UPDATE matches SET over_odds = 1.75, under_odds = 2.19 WHERE id = 710651
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 710651
UPDATE matches SET home_odds = 3.22, away_odds = 2.39, draw_odds = 3.4 WHERE id = 710654
UPDATE matches SET over_odds = 1.91, under_odds = 2.0 WHERE id = 710654
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710654
UPDATE matches SET home_odds = 3.04, away_odds = 2.38, draw_odds = 3.66 WHERE id = 710653
UPDATE matches SET over_odds = 1.79, under_odds = 2.13 WHERE id = 710653
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 710653
UPDATE matches SET home_odds = 3.58, away_odds = 2.11, draw_odds = 3.7 WHERE id = 710652
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 710652
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710652
UPDATE matches SET home_odds = 2.86, away_odds = 2.54, draw_odds = 3.58 WHERE id = 710646
UPDATE matches SET over_odds = 1.81, under_odds = 2.09 WHERE id = 710646
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 710646
UPDATE matches SET home_odds = 2.27, away_odds = 3.47, draw_odds = 3.4 WHERE id = 710655
UPDATE matches SET over_odds = 2.3, under_odds = 1.68 WHERE id = 710655
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710655
UPDATE matches SET home_odds = 2.04, away_odds = 3.79, draw_odds = 3.71 WHERE id = 710664
UPDATE matches SET over_odds = 1.71, under_odds = 2.24 WHERE id = 710664
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710664
UPDATE matches SET home_odds = 4.84, away_odds = 1.74, draw_odds = 4.16 WHERE id = 710663
UPDATE matches SET over_odds = 1.66, under_odds = 2.35 WHERE id = 710663
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710663
UPDATE matches SET home_odds = 1.63, away_odds = 6.06, draw_odds = 4.05 WHERE id = 710657
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 710657
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.975 WHERE id = 710657
UPDATE matches SET home_odds = 1.27, away_odds = 13.48, draw_odds = 6.08 WHERE id = 710659
UPDATE matches SET over_odds = 1.72, under_odds = 2.22 WHERE id = 710659
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.96 WHERE id = 710659
UPDATE matches SET home_odds = 2.56, away_odds = 3.17, draw_odds = 3.17 WHERE id = 710660
UPDATE matches SET over_odds = 2.44, under_odds = 1.61 WHERE id = 710660
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.98 WHERE id = 710660
UPDATE matches SET home_odds = 1.63, away_odds = 6.04, draw_odds = 4.11 WHERE id = 710658
UPDATE matches SET over_odds = 1.99, under_odds = 1.92 WHERE id = 710658
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 710658
UPDATE matches SET home_odds = 1.41, away_odds = 8.73, draw_odds = 4.98 WHERE id = 710656
UPDATE matches SET over_odds = 1.61, under_odds = 2.46 WHERE id = 710656
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 710656
UPDATE matches SET home_odds = 3.15, away_odds = 2.46, draw_odds = 3.34 WHERE id = 710661
UPDATE matches SET over_odds = 2.04, under_odds = 1.87 WHERE id = 710661
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710661
UPDATE matches SET home_odds = 2.84, away_odds = 2.54, draw_odds = 3.61 WHERE id = 710662
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 710662
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 710662
UPDATE matches SET home_odds = 4.74, away_odds = 1.75, draw_odds = 4.15 WHERE id = 710665
UPDATE matches SET over_odds = 1.51, under_odds = 2.68 WHERE id = 710665
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.955 WHERE id = 710665
UPDATE matches SET home_odds = 4.92, away_odds = 1.8, draw_odds = 3.76 WHERE id = 710668
UPDATE matches SET over_odds = 2.07, under_odds = 1.85 WHERE id = 710668
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.97 WHERE id = 710668
UPDATE matches SET home_odds = 2.48, away_odds = 3.14, draw_odds = 3.33 WHERE id = 710666
UPDATE matches SET over_odds = 2.16, under_odds = 1.76 WHERE id = 710666
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 710666
UPDATE matches SET home_odds = 2.79, away_odds = 2.79, draw_odds = 3.29 WHERE id = 710667
UPDATE matches SET over_odds = 2.21, under_odds = 1.74 WHERE id = 710667
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710667
UPDATE matches SET home_odds = 2.67, away_odds = 2.81, draw_odds = 3.42 WHERE id = 710671
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 710671
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710671
UPDATE matches SET home_odds = 3.71, away_odds = 2.12, draw_odds = 3.54 WHERE id = 710672
UPDATE matches SET over_odds = 2.04, under_odds = 1.87 WHERE id = 710672
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710672
UPDATE matches SET home_odds = 6.25, away_odds = 1.53, draw_odds = 4.69 WHERE id = 710674
UPDATE matches SET over_odds = 1.68, under_odds = 2.3 WHERE id = 710674
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9700000000000002 WHERE id = 710674
UPDATE matches SET home_odds = 3.18, away_odds = 2.49, draw_odds = 3.28 WHERE id = 710675
UPDATE matches SET over_odds = 2.13, under_odds = 1.79 WHERE id = 710675
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 710675
UPDATE matches SET home_odds = 1.47, away_odds = 6.84, draw_odds = 5.0 WHERE id = 710669
UPDATE matches SET over_odds = 1.48, under_odds = 2.79 WHERE id = 710669
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710669
UPDATE matches SET home_odds = 1.19, away_odds = 17.04, draw_odds = 7.71 WHERE id = 710670
UPDATE matches SET over_odds = 1.53, under_odds = 2.64 WHERE id = 710670
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.95 WHERE id = 710670
UPDATE matches SET home_odds = 1.77, away_odds = 4.61, draw_odds = 4.15 WHERE id = 710673
UPDATE matches SET over_odds = 1.81, under_odds = 2.1 WHERE id = 710673
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710673
UPDATE matches SET home_odds = 1.48, away_odds = 6.77, draw_odds = 4.95 WHERE id = 710676
UPDATE matches SET over_odds = 1.64, under_odds = 2.39 WHERE id = 710676
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710676
UPDATE matches SET home_odds = 2.3, away_odds = 3.42, draw_odds = 3.4 WHERE id = 710681
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 710681
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710681
UPDATE matches SET home_odds = 1.3, away_odds = 10.1, draw_odds = 6.08 WHERE id = 710683
UPDATE matches SET over_odds = 1.41, under_odds = 3.02 WHERE id = 710683
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.96 WHERE id = 710683
UPDATE matches SET home_odds = 3.61, away_odds = 2.2, draw_odds = 3.44 WHERE id = 710685
UPDATE matches SET over_odds = 2.37, under_odds = 1.65 WHERE id = 710685
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710685
UPDATE matches SET home_odds = 2.14, away_odds = 3.78, draw_odds = 3.44 WHERE id = 710678
UPDATE matches SET over_odds = 1.97, under_odds = 1.93 WHERE id = 710678
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 710678
UPDATE matches SET home_odds = 2.29, away_odds = 3.51, draw_odds = 3.33 WHERE id = 710677
UPDATE matches SET over_odds = 2.18, under_odds = 1.75 WHERE id = 710677
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710677
UPDATE matches SET home_odds = 1.65, away_odds = 5.57, draw_odds = 4.16 WHERE id = 710682
UPDATE matches SET over_odds = 1.7, under_odds = 2.27 WHERE id = 710682
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 710682
UPDATE matches SET home_odds = 1.3, away_odds = 10.56, draw_odds = 5.98 WHERE id = 710684
UPDATE matches SET over_odds = 1.51, under_odds = 2.65 WHERE id = 710684
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.95 WHERE id = 710684
UPDATE matches SET home_odds = 1.63, away_odds = 5.75, draw_odds = 4.21 WHERE id = 710680
UPDATE matches SET over_odds = 1.81, under_odds = 2.09 WHERE id = 710680
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.965 WHERE id = 710680
UPDATE matches SET home_odds = 2.02, away_odds = 3.91, draw_odds = 3.68 WHERE id = 710693
UPDATE matches SET over_odds = 1.85, under_odds = 2.06 WHERE id = 710693
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710693
UPDATE matches SET home_odds = 2.43, away_odds = 3.15, draw_odds = 3.41 WHERE id = 710688
UPDATE matches SET over_odds = 1.93, under_odds = 1.97 WHERE id = 710688
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 710688
UPDATE matches SET home_odds = 2.47, away_odds = 2.98, draw_odds = 3.56 WHERE id = 710694
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 710694
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 710694
UPDATE matches SET home_odds = 10.31, away_odds = 1.33, draw_odds = 5.61 WHERE id = 710689
UPDATE matches SET over_odds = 1.73, under_odds = 2.22 WHERE id = 710689
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 710689
UPDATE matches SET home_odds = 2.05, away_odds = 3.87, draw_odds = 3.6 WHERE id = 710690
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 710690
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710690
UPDATE matches SET home_odds = 1.98, away_odds = 4.39, draw_odds = 3.43 WHERE id = 710691
UPDATE matches SET over_odds = 2.29, under_odds = 1.69 WHERE id = 710691
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.955 WHERE id = 710691
UPDATE matches SET home_odds = 8.57, away_odds = 1.39, draw_odds = 5.25 WHERE id = 710686
UPDATE matches SET over_odds = 1.68, under_odds = 2.32 WHERE id = 710686
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 710686
UPDATE matches SET home_odds = 7.67, away_odds = 1.43, draw_odds = 5.17 WHERE id = 710687
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 710687
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710687
UPDATE matches SET home_odds = 1.67, away_odds = 5.34, draw_odds = 4.22 WHERE id = 710695
UPDATE matches SET over_odds = 1.9, under_odds = 2.0 WHERE id = 710695
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710695
UPDATE matches SET home_odds = 2.07, away_odds = 3.75, draw_odds = 3.68 WHERE id = 710692
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 710692
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 710692
UPDATE matches SET home_odds = 4.85, away_odds = 1.85, draw_odds = 3.58 WHERE id = 710704
UPDATE matches SET over_odds = 2.11, under_odds = 1.8 WHERE id = 710704
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710704
UPDATE matches SET home_odds = 2.4, away_odds = 3.22, draw_odds = 3.38 WHERE id = 710700
UPDATE matches SET over_odds = 1.94, under_odds = 1.96 WHERE id = 710700
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710700
UPDATE matches SET home_odds = 2.48, away_odds = 3.22, draw_odds = 3.25 WHERE id = 710701
UPDATE matches SET over_odds = 2.21, under_odds = 1.74 WHERE id = 710701
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 710701
UPDATE matches SET home_odds = 8.08, away_odds = 1.45, draw_odds = 4.72 WHERE id = 710705
UPDATE matches SET over_odds = 1.72, under_odds = 2.23 WHERE id = 710705
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710705
UPDATE matches SET home_odds = 14.88, away_odds = 1.21, draw_odds = 7.43 WHERE id = 710703
UPDATE matches SET over_odds = 1.44, under_odds = 2.92 WHERE id = 710703
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.955 WHERE id = 710703
UPDATE matches SET home_odds = 1.98, away_odds = 4.13, draw_odds = 3.63 WHERE id = 710698
UPDATE matches SET over_odds = 1.95, under_odds = 1.95 WHERE id = 710698
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710698
UPDATE matches SET home_odds = 1.59, away_odds = 6.46, draw_odds = 4.13 WHERE id = 710699
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 710699
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 710699
UPDATE matches SET home_odds = 1.43, away_odds = 8.28, draw_odds = 4.9 WHERE id = 710702
UPDATE matches SET over_odds = 1.9, under_odds = 2.01 WHERE id = 710702
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 710702
UPDATE matches SET home_odds = 2.38, away_odds = 3.17, draw_odds = 3.49 WHERE id = 710696
UPDATE matches SET over_odds = 1.92, under_odds = 1.99 WHERE id = 710696
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710696
UPDATE matches SET home_odds = 3.45, away_odds = 2.18, draw_odds = 3.65 WHERE id = 710697
UPDATE matches SET over_odds = 2.11, under_odds = 1.8 WHERE id = 710697
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710697
UPDATE matches SET home_odds = 2.32, away_odds = 3.44, draw_odds = 3.33 WHERE id = 710707
UPDATE matches SET over_odds = 2.01, under_odds = 1.89 WHERE id = 710707
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710707
UPDATE matches SET home_odds = 1.17, away_odds = 20.21, draw_odds = 8.21 WHERE id = 710714
UPDATE matches SET over_odds = 1.56, under_odds = 2.53 WHERE id = 710714
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 710714
UPDATE matches SET home_odds = 1.68, away_odds = 5.61, draw_odds = 4.01 WHERE id = 710706
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 710706
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710706
UPDATE matches SET home_odds = 1.28, away_odds = 11.9, draw_odds = 6.1 WHERE id = 710710
UPDATE matches SET over_odds = 1.58, under_odds = 2.49 WHERE id = 710710
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.955 WHERE id = 710710
UPDATE matches SET home_odds = 1.23, away_odds = 12.65, draw_odds = 7.15 WHERE id = 710713
UPDATE matches SET over_odds = 1.4, under_odds = 3.08 WHERE id = 710713
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 710713
UPDATE matches SET home_odds = 7.52, away_odds = 1.45, draw_odds = 4.9 WHERE id = 710715
UPDATE matches SET over_odds = 1.72, under_odds = 2.23 WHERE id = 710715
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 710715
UPDATE matches SET home_odds = 3.74, away_odds = 2.05, draw_odds = 3.75 WHERE id = 710709
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 710709
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710709
UPDATE matches SET home_odds = 1.78, away_odds = 4.71, draw_odds = 4.01 WHERE id = 710712
UPDATE matches SET over_odds = 1.6, under_odds = 2.48 WHERE id = 710712
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 710712
UPDATE matches SET home_odds = 2.3, away_odds = 3.63, draw_odds = 3.22 WHERE id = 710711
UPDATE matches SET over_odds = 2.37, under_odds = 1.65 WHERE id = 710711
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710711
UPDATE matches SET home_odds = 3.45, away_odds = 2.33, draw_odds = 3.3 WHERE id = 710721
UPDATE matches SET over_odds = 2.21, under_odds = 1.74 WHERE id = 710721
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710721
UPDATE matches SET home_odds = 1.16, away_odds = 19.75, draw_odds = 9.0 WHERE id = 710725
UPDATE matches SET over_odds = 1.36, under_odds = 3.28 WHERE id = 710725
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.955 WHERE id = 710725
UPDATE matches SET home_odds = 2.37, away_odds = 3.66, draw_odds = 3.05 WHERE id = 710718
UPDATE matches SET over_odds = 2.62, under_odds = 1.54 WHERE id = 710718
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710718
UPDATE matches SET home_odds = 2.17, away_odds = 3.71, draw_odds = 3.41 WHERE id = 710722
UPDATE matches SET over_odds = 2.16, under_odds = 1.77 WHERE id = 710722
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710722
UPDATE matches SET home_odds = 2.27, away_odds = 3.32, draw_odds = 3.58 WHERE id = 710716
UPDATE matches SET over_odds = 1.87, under_odds = 2.04 WHERE id = 710716
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710716
UPDATE matches SET home_odds = 1.24, away_odds = 14.4, draw_odds = 6.36 WHERE id = 710723
UPDATE matches SET over_odds = 1.74, under_odds = 2.17 WHERE id = 710723
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 710723
UPDATE matches SET home_odds = 1.13, away_odds = 24.98, draw_odds = 9.72 WHERE id = 710724
UPDATE matches SET over_odds = 1.34, under_odds = 3.4 WHERE id = 710724
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.955 WHERE id = 710724
UPDATE matches SET home_odds = 3.89, away_odds = 1.93, draw_odds = 3.84 WHERE id = 710728
UPDATE matches SET over_odds = 1.78, under_odds = 2.11 WHERE id = 710728
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.94 WHERE id = 710728

UPDATE matches SET home_odds = 16.97, away_odds = 1.17, draw_odds = 7.96 WHERE id = 710747
UPDATE matches SET over_odds = 1.49, under_odds = 2.65 WHERE id = 710747
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.945 WHERE id = 710747
UPDATE matches SET home_odds = 1.38, away_odds = 8.67, draw_odds = 4.97 WHERE id = 710753
UPDATE matches SET over_odds = 1.7, under_odds = 2.21 WHERE id = 710753
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9449999999999998 WHERE id = 710753
UPDATE matches SET home_odds = 6.01, away_odds = 1.53, draw_odds = 4.57 WHERE id = 710756
UPDATE matches SET over_odds = 1.62, under_odds = 2.38 WHERE id = 710756
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9449999999999998 WHERE id = 710756
UPDATE matches SET home_odds = 5.42, away_odds = 1.62, draw_odds = 4.25 WHERE id = 710765
UPDATE matches SET over_odds = 1.79, under_odds = 2.08 WHERE id = 710765
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.95 WHERE id = 710765
UPDATE matches SET home_odds = 3.09, away_odds = 2.4, draw_odds = 3.41 WHERE id = 710759
UPDATE matches SET over_odds = 1.91, under_odds = 1.96 WHERE id = 710759
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.945 WHERE id = 710759
UPDATE matches SET home_odds = 3.09, away_odds = 2.46, draw_odds = 3.3 WHERE id = 710757
UPDATE matches SET over_odds = 2.11, under_odds = 1.78 WHERE id = 710757
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.955 WHERE id = 710757
UPDATE matches SET home_odds = 2.87, away_odds = 2.78, draw_odds = 3.08 WHERE id = 710760
UPDATE matches SET over_odds = 2.33, under_odds = 1.64 WHERE id = 710760
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9449999999999998 WHERE id = 710760
UPDATE matches SET home_odds = 2.02, away_odds = 3.83, draw_odds = 3.59 WHERE id = 710761
UPDATE matches SET over_odds = 1.88, under_odds = 2.0 WHERE id = 710761
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.945 WHERE id = 710761
UPDATE matches SET home_odds = 3.14, away_odds = 2.29, draw_odds = 3.6 WHERE id = 710758
UPDATE matches SET over_odds = 1.79, under_odds = 2.08 WHERE id = 710758
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9449999999999998 WHERE id = 710758
UPDATE matches SET home_odds = 1.56, away_odds = 5.98, draw_odds = 4.37 WHERE id = 710763
UPDATE matches SET over_odds = 2.01, under_odds = 1.86 WHERE id = 710763
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9449999999999998 WHERE id = 710763
UPDATE matches SET home_odds = 2.15, away_odds = 3.82, draw_odds = 3.37 WHERE id = 710731
UPDATE matches SET over_odds = 2.07, under_odds = 1.85 WHERE id = 710731
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 710731
UPDATE matches SET home_odds = 1.32, away_odds = 10.04, draw_odds = 5.53 WHERE id = 710734
UPDATE matches SET over_odds = 1.68, under_odds = 2.27 WHERE id = 710734
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.94 WHERE id = 710734
UPDATE matches SET home_odds = 2.11, away_odds = 4.08, draw_odds = 3.29 WHERE id = 710767
UPDATE matches SET over_odds = 2.24, under_odds = 1.72 WHERE id = 710767
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710767
UPDATE matches SET home_odds = 1.72, away_odds = 5.2, draw_odds = 3.79 WHERE id = 710770
UPDATE matches SET over_odds = 1.86, under_odds = 2.01 WHERE id = 710770
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.94 WHERE id = 710770
UPDATE matches SET home_odds = 2.05, away_odds = 3.59, draw_odds = 3.74 WHERE id = 710771
UPDATE matches SET over_odds = 1.78, under_odds = 2.1 WHERE id = 710771
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.95 WHERE id = 710771
UPDATE matches SET home_odds = 3.77, away_odds = 2.06, draw_odds = 3.54 WHERE id = 710772
UPDATE matches SET over_odds = 2.11, under_odds = 1.78 WHERE id = 710772
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9500000000000002 WHERE id = 710772
UPDATE matches SET home_odds = 2.35, away_odds = 3.4, draw_odds = 3.18 WHERE id = 710775
UPDATE matches SET over_odds = 2.43, under_odds = 1.6 WHERE id = 710775
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9449999999999998 WHERE id = 710775
UPDATE matches SET home_odds = 2.89, away_odds = 2.49, draw_odds = 3.51 WHERE id = 710766
UPDATE matches SET over_odds = 1.93, under_odds = 1.94 WHERE id = 710766
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9500000000000002 WHERE id = 710766
UPDATE matches SET home_odds = 1.3, away_odds = 10.45, draw_odds = 5.82 WHERE id = 710769
UPDATE matches SET over_odds = 1.67, under_odds = 2.29 WHERE id = 710769
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.94 WHERE id = 710769
UPDATE matches SET home_odds = 1.65, away_odds = 5.13, draw_odds = 4.28 WHERE id = 710774
UPDATE matches SET over_odds = 1.64, under_odds = 2.34 WHERE id = 710774
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.95 WHERE id = 710774
UPDATE matches SET home_odds = 4.75, away_odds = 1.78, draw_odds = 3.79 WHERE id = 710787
UPDATE matches SET over_odds = 2.11, under_odds = 1.77 WHERE id = 710787
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9449999999999998 WHERE id = 710787
UPDATE matches SET home_odds = 3.12, away_odds = 2.38, draw_odds = 3.41 WHERE id = 710720
UPDATE matches SET over_odds = 1.81, under_odds = 2.06 WHERE id = 710720
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.95 WHERE id = 710720
UPDATE matches SET home_odds = 4.68, away_odds = 1.88, draw_odds = 3.46 WHERE id = 710717
UPDATE matches SET over_odds = 1.93, under_odds = 1.94 WHERE id = 710717
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9449999999999998 WHERE id = 710717
UPDATE matches SET home_odds = 2.09, away_odds = 3.66, draw_odds = 3.53 WHERE id = 710785
UPDATE matches SET over_odds = 1.93, under_odds = 1.94 WHERE id = 710785
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.95 WHERE id = 710785
UPDATE matches SET home_odds = 2.82, away_odds = 2.7, draw_odds = 3.25 WHERE id = 710780
UPDATE matches SET over_odds = 2.01, under_odds = 1.87 WHERE id = 710780
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9449999999999998 WHERE id = 710780
UPDATE matches SET home_odds = 3.15, away_odds = 2.54, draw_odds = 3.11 WHERE id = 710777
UPDATE matches SET over_odds = 2.53, under_odds = 1.56 WHERE id = 710777
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710777
UPDATE matches SET home_odds = 2.03, away_odds = 3.67, draw_odds = 3.72 WHERE id = 710781
UPDATE matches SET over_odds = 1.65, under_odds = 2.3 WHERE id = 710781
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9449999999999998 WHERE id = 710781
UPDATE matches SET home_odds = 1.93, away_odds = 3.9, draw_odds = 3.85 WHERE id = 710783
UPDATE matches SET over_odds = 1.68, under_odds = 2.25 WHERE id = 710783
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9449999999999998 WHERE id = 710783
UPDATE matches SET home_odds = 10.23, away_odds = 1.27, draw_odds = 6.18 WHERE id = 710784
UPDATE matches SET over_odds = 1.49, under_odds = 2.64 WHERE id = 710784
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.93 WHERE id = 710784
UPDATE matches SET home_odds = 1.36, away_odds = 9.18, draw_odds = 5.22 WHERE id = 710776
UPDATE matches SET over_odds = 1.78, under_odds = 2.1 WHERE id = 710776
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.955 WHERE id = 710776
UPDATE matches SET home_odds = 5.75, away_odds = 1.61, draw_odds = 4.14 WHERE id = 710779
UPDATE matches SET over_odds = 1.76, under_odds = 2.13 WHERE id = 710779
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.945 WHERE id = 710779
UPDATE matches SET home_odds = 2.66, away_odds = 2.78, draw_odds = 3.36 WHERE id = 710782
UPDATE matches SET over_odds = 1.96, under_odds = 1.91 WHERE id = 710782
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9449999999999998 WHERE id = 710782
UPDATE matches SET home_odds = 1.7, away_odds = 4.82, draw_odds = 4.17 WHERE id = 710778
UPDATE matches SET over_odds = 1.91, under_odds = 1.96 WHERE id = 710778
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.94 WHERE id = 710778
UPDATE matches SET home_odds = 2.19, away_odds = 3.69, draw_odds = 3.27 WHERE id = 710719
UPDATE matches SET over_odds = 2.11, under_odds = 1.77 WHERE id = 710719
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9449999999999998 WHERE id = 710719
UPDATE matches SET home_odds = 2.57, away_odds = 2.94, draw_odds = 3.42 WHERE id = 710792
UPDATE matches SET over_odds = 1.91, under_odds = 1.99 WHERE id = 710792
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 710792
UPDATE matches SET home_odds = 1.54, away_odds = 6.7, draw_odds = 4.42 WHERE id = 710790
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 710790
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 710790
UPDATE matches SET home_odds = 6.09, away_odds = 1.62, draw_odds = 4.13 WHERE id = 710788
UPDATE matches SET over_odds = 1.88, under_odds = 2.03 WHERE id = 710788
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 710788
UPDATE matches SET home_odds = 1.12, away_odds = 25.77, draw_odds = 10.16 WHERE id = 710795
UPDATE matches SET over_odds = 1.36, under_odds = 3.32 WHERE id = 710795
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.95 WHERE id = 710795
UPDATE matches SET home_odds = 3.66, away_odds = 2.21, draw_odds = 3.38 WHERE id = 710789
UPDATE matches SET over_odds = 2.18, under_odds = 1.76 WHERE id = 710789
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710789
UPDATE matches SET home_odds = 1.61, away_odds = 6.03, draw_odds = 4.19 WHERE id = 710793
UPDATE matches SET over_odds = 1.83, under_odds = 2.06 WHERE id = 710793
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 710793
UPDATE matches SET home_odds = 1.83, away_odds = 4.4, draw_odds = 4.0 WHERE id = 710786
UPDATE matches SET over_odds = 1.72, under_odds = 2.23 WHERE id = 710786
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710786
UPDATE matches SET home_odds = 1.26, away_odds = 11.21, draw_odds = 6.84 WHERE id = 710794
UPDATE matches SET over_odds = 1.34, under_odds = 3.41 WHERE id = 710794
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.96 WHERE id = 710794
UPDATE matches SET home_odds = 3.72, away_odds = 2.23, draw_odds = 3.28 WHERE id = 710791
UPDATE matches SET over_odds = 2.38, under_odds = 1.64 WHERE id = 710791
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710791
UPDATE matches SET home_odds = 1.63, away_odds = 5.53, draw_odds = 4.32 WHERE id = 710801
UPDATE matches SET over_odds = 1.68, under_odds = 2.3 WHERE id = 710801
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 710801
UPDATE matches SET home_odds = 2.77, away_odds = 2.98, draw_odds = 3.08 WHERE id = 710796
UPDATE matches SET over_odds = 2.37, under_odds = 1.65 WHERE id = 710796
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710796
UPDATE matches SET home_odds = 2.37, away_odds = 3.12, draw_odds = 3.58 WHERE id = 710799
UPDATE matches SET over_odds = 1.66, under_odds = 2.35 WHERE id = 710799
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710799
UPDATE matches SET home_odds = 3.85, away_odds = 2.14, draw_odds = 3.38 WHERE id = 710805
UPDATE matches SET over_odds = 2.37, under_odds = 1.65 WHERE id = 710805
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710805
UPDATE matches SET home_odds = 18.96, away_odds = 1.18, draw_odds = 7.94 WHERE id = 710803
UPDATE matches SET over_odds = 1.44, under_odds = 2.92 WHERE id = 710803
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.95 WHERE id = 710803
UPDATE matches SET home_odds = 10.82, away_odds = 1.29, draw_odds = 6.03 WHERE id = 710797
UPDATE matches SET over_odds = 1.61, under_odds = 2.43 WHERE id = 710797
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 710797
UPDATE matches SET home_odds = 2.78, away_odds = 2.67, draw_odds = 3.48 WHERE id = 710802
UPDATE matches SET over_odds = 1.83, under_odds = 2.08 WHERE id = 710802
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710802
UPDATE matches SET home_odds = 1.69, away_odds = 5.86, draw_odds = 3.82 WHERE id = 710804
UPDATE matches SET over_odds = 2.23, under_odds = 1.72 WHERE id = 710804
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710804
UPDATE matches SET home_odds = 3.05, away_odds = 2.39, draw_odds = 3.62 WHERE id = 710800
UPDATE matches SET over_odds = 1.66, under_odds = 2.34 WHERE id = 710800
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710800
UPDATE matches SET home_odds = 1.81, away_odds = 4.87, draw_odds = 3.78 WHERE id = 710729
UPDATE matches SET over_odds = 1.96, under_odds = 1.94 WHERE id = 710729
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710729
UPDATE matches SET home_odds = 1.72, away_odds = 5.4, draw_odds = 3.88 WHERE id = 710814
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 710814
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710814
UPDATE matches SET home_odds = 1.47, away_odds = 8.32, draw_odds = 4.46 WHERE id = 710806
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 710806
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9700000000000002 WHERE id = 710806
UPDATE matches SET home_odds = 1.68, away_odds = 5.62, draw_odds = 3.95 WHERE id = 710807
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 710807
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710807
UPDATE matches SET home_odds = 1.67, away_odds = 6.18, draw_odds = 3.78 WHERE id = 710808
UPDATE matches SET over_odds = 2.29, under_odds = 1.69 WHERE id = 710808
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710808
UPDATE matches SET home_odds = 5.86, away_odds = 1.66, draw_odds = 3.99 WHERE id = 710809
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 710809
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710809
UPDATE matches SET home_odds = 1.13, away_odds = 26.49, draw_odds = 9.98 WHERE id = 710811
UPDATE matches SET over_odds = 1.34, under_odds = 3.4 WHERE id = 710811
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.95 WHERE id = 710811
UPDATE matches SET home_odds = 2.1, away_odds = 3.71, draw_odds = 3.61 WHERE id = 710813
UPDATE matches SET over_odds = 1.81, under_odds = 2.09 WHERE id = 710813
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9700000000000002 WHERE id = 710813
UPDATE matches SET home_odds = 1.29, away_odds = 11.91, draw_odds = 6.05 WHERE id = 710812
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 710812
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 710812
UPDATE matches SET home_odds = 4.12, away_odds = 1.93, draw_odds = 3.84 WHERE id = 710810
UPDATE matches SET over_odds = 1.65, under_odds = 2.38 WHERE id = 710810
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710810
UPDATE matches SET home_odds = 2.34, away_odds = 3.5, draw_odds = 3.24 WHERE id = 710815
UPDATE matches SET over_odds = 2.18, under_odds = 1.76 WHERE id = 710815
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710815
UPDATE matches SET home_odds = 4.94, away_odds = 1.79, draw_odds = 3.78 WHERE id = 710679
UPDATE matches SET over_odds = 2.04, under_odds = 1.87 WHERE id = 710679
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710679
UPDATE matches SET home_odds = 3.24, away_odds = 2.47, draw_odds = 3.24 WHERE id = 710733
UPDATE matches SET over_odds = 2.27, under_odds = 1.7 WHERE id = 710733
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 710733
UPDATE matches SET home_odds = 1.16, away_odds = 17.91, draw_odds = 8.87 WHERE id = 710739
UPDATE matches SET over_odds = 1.33, under_odds = 3.5 WHERE id = 710739
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.9549999999999998 WHERE id = 710739
UPDATE matches SET home_odds = 1.65, away_odds = 6.08, draw_odds = 3.9 WHERE id = 710746
UPDATE matches SET over_odds = 2.28, under_odds = 1.69 WHERE id = 710746
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.97 WHERE id = 710746
UPDATE matches SET home_odds = 1.56, away_odds = 6.55, draw_odds = 4.35 WHERE id = 710824
UPDATE matches SET over_odds = 1.76, under_odds = 2.17 WHERE id = 710824
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 710824
UPDATE matches SET home_odds = 4.14, away_odds = 1.87, draw_odds = 4.03 WHERE id = 710822
UPDATE matches SET over_odds = 1.63, under_odds = 2.41 WHERE id = 710822
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 710822
UPDATE matches SET home_odds = 2.55, away_odds = 3.15, draw_odds = 3.2 WHERE id = 710817
UPDATE matches SET over_odds = 2.38, under_odds = 1.65 WHERE id = 710817
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 710817
UPDATE matches SET home_odds = 2.0, away_odds = 4.29, draw_odds = 3.44 WHERE id = 710820
UPDATE matches SET over_odds = 2.4, under_odds = 1.63 WHERE id = 710820
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710820
UPDATE matches SET home_odds = 1.36, away_odds = 8.94, draw_odds = 5.67 WHERE id = 710823
UPDATE matches SET over_odds = 1.67, under_odds = 2.32 WHERE id = 710823
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 710823
UPDATE matches SET home_odds = 2.24, away_odds = 3.52, draw_odds = 3.42 WHERE id = 710818
UPDATE matches SET over_odds = 2.23, under_odds = 1.72 WHERE id = 710818
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710818
UPDATE matches SET home_odds = 10.59, away_odds = 1.29, draw_odds = 6.17 WHERE id = 710821
UPDATE matches SET over_odds = 1.56, under_odds = 2.55 WHERE id = 710821
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 710821
UPDATE matches SET home_odds = 2.15, away_odds = 4.03, draw_odds = 3.23 WHERE id = 710825
UPDATE matches SET over_odds = 2.4, under_odds = 1.63 WHERE id = 710825
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 710825
UPDATE matches SET home_odds = 2.98, away_odds = 2.55, draw_odds = 3.39 WHERE id = 710768
UPDATE matches SET over_odds = 2.02, under_odds = 1.88 WHERE id = 710768
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 710768
UPDATE matches SET home_odds = 1.82, away_odds = 4.21, draw_odds = 4.23 WHERE id = 710828
UPDATE matches SET over_odds = 1.58, under_odds = 2.53 WHERE id = 710828
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710828
UPDATE matches SET home_odds = 2.42, away_odds = 3.1, draw_odds = 3.49 WHERE id = 710826
UPDATE matches SET over_odds = 1.85, under_odds = 2.06 WHERE id = 710826
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710826
UPDATE matches SET home_odds = 7.69, away_odds = 1.52, draw_odds = 4.19 WHERE id = 710827
UPDATE matches SET over_odds = 2.11, under_odds = 1.8 WHERE id = 710827
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 710827
UPDATE matches SET home_odds = 2.82, away_odds = 2.8, draw_odds = 3.23 WHERE id = 710831
UPDATE matches SET over_odds = 2.35, under_odds = 1.66 WHERE id = 710831
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710831
UPDATE matches SET home_odds = 3.04, away_odds = 2.64, draw_odds = 3.19 WHERE id = 710832

UPDATE matches SET home_odds = 1.78, away_odds = 4.92, draw_odds = 3.89 WHERE id = 710853
UPDATE matches SET over_odds = 1.76, under_odds = 2.16 WHERE id = 710853
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 710853
UPDATE matches SET home_odds = 1.13, away_odds = 23.62, draw_odds = 9.86 WHERE id = 710861
UPDATE matches SET over_odds = 1.36, under_odds = 3.29 WHERE id = 710861
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.9549999999999998 WHERE id = 710861
UPDATE matches SET home_odds = 1.53, away_odds = 7.94, draw_odds = 4.08 WHERE id = 710856
UPDATE matches SET over_odds = 2.09, under_odds = 1.82 WHERE id = 710856
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 710856
UPDATE matches SET home_odds = 15.0, away_odds = 1.23, draw_odds = 6.63 WHERE id = 710857
UPDATE matches SET over_odds = 1.62, under_odds = 2.41 WHERE id = 710857
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 710857
UPDATE matches SET home_odds = 1.35, away_odds = 10.7, draw_odds = 5.18 WHERE id = 710858
UPDATE matches SET over_odds = 1.94, under_odds = 1.96 WHERE id = 710858
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 710858
UPDATE matches SET home_odds = 2.39, away_odds = 3.01, draw_odds = 3.69 WHERE id = 710860
UPDATE matches SET over_odds = 1.65, under_odds = 2.36 WHERE id = 710860
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710860
UPDATE matches SET home_odds = 3.11, away_odds = 2.63, draw_odds = 3.13 WHERE id = 710865
UPDATE matches SET over_odds = 2.48, under_odds = 1.6 WHERE id = 710865
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 710865
UPDATE matches SET home_odds = 1.52, away_odds = 6.41, draw_odds = 4.71 WHERE id = 710862
UPDATE matches SET over_odds = 1.58, under_odds = 2.53 WHERE id = 710862
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.97 WHERE id = 710862
UPDATE matches SET home_odds = 1.81, away_odds = 4.77, draw_odds = 3.84 WHERE id = 710864
UPDATE matches SET over_odds = 1.99, under_odds = 1.92 WHERE id = 710864
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710864
UPDATE matches SET home_odds = 1.53, away_odds = 6.87, draw_odds = 4.42 WHERE id = 710863
UPDATE matches SET over_odds = 1.85, under_odds = 2.06 WHERE id = 710863
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 710863
UPDATE matches SET home_odds = 4.15, away_odds = 2.01, draw_odds = 3.51 WHERE id = 710859
UPDATE matches SET over_odds = 2.18, under_odds = 1.75 WHERE id = 710859
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710859
UPDATE matches SET home_odds = 2.54, away_odds = 3.13, draw_odds = 3.23 WHERE id = 710738
UPDATE matches SET over_odds = 2.31, under_odds = 1.68 WHERE id = 710738
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 710738
UPDATE matches SET home_odds = 2.34, away_odds = 3.62, draw_odds = 3.14 WHERE id = 710872
UPDATE matches SET over_odds = 2.45, under_odds = 1.61 WHERE id = 710872
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710872
UPDATE matches SET home_odds = 4.52, away_odds = 1.83, draw_odds = 3.89 WHERE id = 710869
UPDATE matches SET over_odds = 1.87, under_odds = 2.04 WHERE id = 710869
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710869
UPDATE matches SET home_odds = 1.67, away_odds = 5.85, draw_odds = 3.95 WHERE id = 710866
UPDATE matches SET over_odds = 2.09, under_odds = 1.82 WHERE id = 710866
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710866
UPDATE matches SET home_odds = 4.08, away_odds = 1.95, draw_odds = 3.76 WHERE id = 710874
UPDATE matches SET over_odds = 1.99, under_odds = 1.92 WHERE id = 710874
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710874
UPDATE matches SET home_odds = 2.75, away_odds = 2.63, draw_odds = 3.6 WHERE id = 710875
UPDATE matches SET over_odds = 1.8, under_odds = 2.11 WHERE id = 710875
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710875
UPDATE matches SET home_odds = 3.23, away_odds = 2.3, draw_odds = 3.6 WHERE id = 710867
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 710867
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710867
UPDATE matches SET home_odds = 2.72, away_odds = 2.82, draw_odds = 3.34 WHERE id = 710868
UPDATE matches SET over_odds = 2.12, under_odds = 1.79 WHERE id = 710868
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710868
UPDATE matches SET home_odds = 2.46, away_odds = 3.04, draw_odds = 3.48 WHERE id = 710870
UPDATE matches SET over_odds = 1.99, under_odds = 1.92 WHERE id = 710870
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 710870
UPDATE matches SET home_odds = 3.1, away_odds = 2.6, draw_odds = 3.18 WHERE id = 710873
UPDATE matches SET over_odds = 2.39, under_odds = 1.64 WHERE id = 710873
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.98 WHERE id = 710873
UPDATE matches SET home_odds = 2.1, away_odds = 3.56, draw_odds = 3.75 WHERE id = 710871
UPDATE matches SET over_odds = 1.74, under_odds = 2.2 WHERE id = 710871
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9700000000000002 WHERE id = 710871
UPDATE matches SET home_odds = 1.56, away_odds = 6.52, draw_odds = 4.35 WHERE id = 710882
UPDATE matches SET over_odds = 1.92, under_odds = 1.98 WHERE id = 710882
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 710882
UPDATE matches SET home_odds = 1.23, away_odds = 14.96, draw_odds = 6.6 WHERE id = 710879
UPDATE matches SET over_odds = 1.52, under_odds = 2.62 WHERE id = 710879
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.95 WHERE id = 710879
UPDATE matches SET home_odds = 3.97, away_odds = 1.97, draw_odds = 3.79 WHERE id = 710881
UPDATE matches SET over_odds = 1.9, under_odds = 2.01 WHERE id = 710881
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710881
UPDATE matches SET home_odds = 2.95, away_odds = 2.62, draw_odds = 3.33 WHERE id = 710883
UPDATE matches SET over_odds = 2.17, under_odds = 1.76 WHERE id = 710883
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 710883
UPDATE matches SET home_odds = 2.25, away_odds = 3.46, draw_odds = 3.46 WHERE id = 710880
UPDATE matches SET over_odds = 1.97, under_odds = 1.93 WHERE id = 710880
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710880
UPDATE matches SET home_odds = 1.73, away_odds = 5.11, draw_odds = 3.99 WHERE id = 710884
UPDATE matches SET over_odds = 1.97, under_odds = 1.93 WHERE id = 710884
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 710884
UPDATE matches SET home_odds = 1.41, away_odds = 7.82, draw_odds = 5.36 WHERE id = 710849
UPDATE matches SET over_odds = 1.51, under_odds = 2.7 WHERE id = 710849
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 710849
UPDATE matches SET home_odds = 1.88, away_odds = 4.42, draw_odds = 3.77 WHERE id = 710798
UPDATE matches SET over_odds = 2.09, under_odds = 1.81 WHERE id = 710798
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710798
UPDATE matches SET home_odds = 2.32, away_odds = 3.26, draw_odds = 3.52 WHERE id = 710727
UPDATE matches SET over_odds = 1.95, under_odds = 1.95 WHERE id = 710727
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710727
UPDATE matches SET home_odds = 2.4, away_odds = 3.36, draw_odds = 3.24 WHERE id = 710851
UPDATE matches SET over_odds = 2.26, under_odds = 1.71 WHERE id = 710851
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710851
UPDATE matches SET home_odds = 1.2, away_odds = 18.98, draw_odds = 7.09 WHERE id = 710850
UPDATE matches SET over_odds = 1.66, under_odds = 2.32 WHERE id = 710850
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.96 WHERE id = 710850
UPDATE matches SET home_odds = 2.75, away_odds = 2.69, draw_odds = 3.48 WHERE id = 710847
UPDATE matches SET over_odds = 1.96, under_odds = 1.94 WHERE id = 710847
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710847
UPDATE matches SET home_odds = 2.13, away_odds = 3.58, draw_odds = 3.64 WHERE id = 710886
UPDATE matches SET over_odds = 1.83, under_odds = 2.08 WHERE id = 710886
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710886
UPDATE matches SET home_odds = 2.95, away_odds = 2.55, draw_odds = 3.43 WHERE id = 710892
UPDATE matches SET over_odds = 1.87, under_odds = 2.04 WHERE id = 710892
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 710892
UPDATE matches SET home_odds = 1.13, away_odds = 27.79, draw_odds = 9.68 WHERE id = 710894
UPDATE matches SET over_odds = 1.4, under_odds = 3.11 WHERE id = 710894
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.955 WHERE id = 710894
UPDATE matches SET home_odds = 3.62, away_odds = 2.22, draw_odds = 3.39 WHERE id = 710895
UPDATE matches SET over_odds = 1.97, under_odds = 1.93 WHERE id = 710895
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710895
UPDATE matches SET home_odds = 4.39, away_odds = 1.88, draw_odds = 3.78 WHERE id = 710887
UPDATE matches SET over_odds = 1.88, under_odds = 2.03 WHERE id = 710887
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 710887
UPDATE matches SET home_odds = 2.19, away_odds = 3.76, draw_odds = 3.34 WHERE id = 710888
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 710888
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 710888
UPDATE matches SET home_odds = 2.73, away_odds = 2.95, draw_odds = 3.15 WHERE id = 710889
UPDATE matches SET over_odds = 2.41, under_odds = 1.63 WHERE id = 710889
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710889
UPDATE matches SET home_odds = 1.53, away_odds = 6.68, draw_odds = 4.53 WHERE id = 710890
UPDATE matches SET over_odds = 1.81, under_odds = 2.1 WHERE id = 710890
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 710890
UPDATE matches SET home_odds = 1.18, away_odds = 18.0, draw_odds = 7.75 WHERE id = 710893
UPDATE matches SET over_odds = 1.45, under_odds = 2.87 WHERE id = 710893
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.95 WHERE id = 710893
UPDATE matches SET home_odds = 2.11, away_odds = 3.6, draw_odds = 3.69 WHERE id = 710891
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 710891
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 710891
UPDATE matches SET home_odds = 3.23, away_odds = 2.27, draw_odds = 3.68 WHERE id = 710919
UPDATE matches SET over_odds = 1.85, under_odds = 2.06 WHERE id = 710919
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710919
UPDATE matches SET home_odds = 8.02, away_odds = 1.43, draw_odds = 4.99 WHERE id = 710900
UPDATE matches SET over_odds = 1.73, under_odds = 2.21 WHERE id = 710900
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710900
UPDATE matches SET home_odds = 1.4, away_odds = 8.47, draw_odds = 5.12 WHERE id = 710896
UPDATE matches SET over_odds = 1.7, under_odds = 2.27 WHERE id = 710896
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710896
UPDATE matches SET home_odds = 2.47, away_odds = 3.13, draw_odds = 3.35 WHERE id = 710901
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 710901
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 710901
UPDATE matches SET home_odds = 2.71, away_odds = 2.78, draw_odds = 3.4 WHERE id = 710903
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 710903
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710903
UPDATE matches SET home_odds = 2.77, away_odds = 2.85, draw_odds = 3.23 WHERE id = 710905
UPDATE matches SET over_odds = 2.56, under_odds = 1.56 WHERE id = 710905
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 710905
UPDATE matches SET home_odds = 9.72, away_odds = 1.32, draw_odds = 6.15 WHERE id = 710898
UPDATE matches SET over_odds = 1.5, under_odds = 2.72 WHERE id = 710898
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 710898
UPDATE matches SET home_odds = 4.98, away_odds = 1.79, draw_odds = 3.77 WHERE id = 710897
UPDATE matches SET over_odds = 2.03, under_odds = 1.88 WHERE id = 710897
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 710897
UPDATE matches SET home_odds = 1.45, away_odds = 7.29, draw_odds = 4.99 WHERE id = 710902
UPDATE matches SET over_odds = 1.6, under_odds = 2.48 WHERE id = 710902
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 710902
UPDATE matches SET home_odds = 4.68, away_odds = 1.8, draw_odds = 3.92 WHERE id = 710904
UPDATE matches SET over_odds = 1.92, under_odds = 1.99 WHERE id = 710904
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710904
UPDATE matches SET home_odds = 1.78, away_odds = 4.61, draw_odds = 4.08 WHERE id = 710899
UPDATE matches SET over_odds = 1.76, under_odds = 2.16 WHERE id = 710899
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710899
UPDATE matches SET home_odds = 2.25, away_odds = 3.5, draw_odds = 3.42 WHERE id = 710907
UPDATE matches SET over_odds = 1.99, under_odds = 1.92 WHERE id = 710907
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710907
UPDATE matches SET home_odds = 3.07, away_odds = 2.52, draw_odds = 3.34 WHERE id = 710909
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 710909
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 710909
UPDATE matches SET home_odds = 1.36, away_odds = 10.4, draw_odds = 5.1 WHERE id = 710910
UPDATE matches SET over_odds = 1.93, under_odds = 1.97 WHERE id = 710910
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.965 WHERE id = 710910
UPDATE matches SET home_odds = 1.7, away_odds = 5.45, draw_odds = 3.95 WHERE id = 710911
UPDATE matches SET over_odds = 1.97, under_odds = 1.93 WHERE id = 710911
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710911
UPDATE matches SET home_odds = 2.81, away_odds = 2.61, draw_odds = 3.55 WHERE id = 710908
UPDATE matches SET over_odds = 1.99, under_odds = 1.92 WHERE id = 710908
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710908
UPDATE matches SET home_odds = 1.46, away_odds = 6.95, draw_odds = 5.11 WHERE id = 710913
UPDATE matches SET over_odds = 1.56, under_odds = 2.58 WHERE id = 710913
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710913
UPDATE matches SET home_odds = 1.46, away_odds = 7.04, draw_odds = 5.01 WHERE id = 710906
UPDATE matches SET over_odds = 1.59, under_odds = 2.5 WHERE id = 710906
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 710906
UPDATE matches SET home_odds = 2.71, away_odds = 2.82, draw_odds = 3.35 WHERE id = 710912
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 710912
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 710912
UPDATE matches SET home_odds = 4.68, away_odds = 1.81, draw_odds = 3.88 WHERE id = 710915
UPDATE matches SET over_odds = 1.86, under_odds = 2.06 WHERE id = 710915
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 710915
UPDATE matches SET home_odds = 1.19, away_odds = 17.22, draw_odds = 7.66 WHERE id = 710914
UPDATE matches SET over_odds = 1.48, under_odds = 2.75 WHERE id = 710914
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.955 WHERE id = 710914

UPDATE matches SET home_odds = 7.54, away_odds = 1.44, draw_odds = 5.0 WHERE id = 710876
UPDATE matches SET over_odds = 1.64, under_odds = 2.38 WHERE id = 710876
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710876
UPDATE matches SET home_odds = 5.15, away_odds = 1.68, draw_odds = 4.25 WHERE id = 710878
UPDATE matches SET over_odds = 1.65, under_odds = 2.36 WHERE id = 710878
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.965 WHERE id = 710878
UPDATE matches SET home_odds = 1.45, away_odds = 7.2, draw_odds = 5.12 WHERE id = 710762
UPDATE matches SET over_odds = 1.61, under_odds = 2.46 WHERE id = 710762
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710762
UPDATE matches SET home_odds = 4.43, away_odds = 1.88, draw_odds = 3.73 WHERE id = 710854
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 710854
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710854
UPDATE matches SET home_odds = 14.04, away_odds = 1.26, draw_odds = 5.93 WHERE id = 710885
UPDATE matches SET over_odds = 1.67, under_odds = 2.31 WHERE id = 710885
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 710885
UPDATE matches SET home_odds = 2.18, away_odds = 3.49, draw_odds = 3.61 WHERE id = 710773
UPDATE matches SET over_odds = 1.81, under_odds = 2.11 WHERE id = 710773
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 710773
UPDATE matches SET home_odds = 1.34, away_odds = 9.3, draw_odds = 5.53 WHERE id = 710922
UPDATE matches SET over_odds = 1.6, under_odds = 2.46 WHERE id = 710922
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9549999999999998 WHERE id = 710922
UPDATE matches SET home_odds = 2.09, away_odds = 3.72, draw_odds = 3.56 WHERE id = 710916
UPDATE matches SET over_odds = 1.92, under_odds = 1.97 WHERE id = 710916
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710916
UPDATE matches SET home_odds = 2.75, away_odds = 2.62, draw_odds = 3.56 WHERE id = 710918
UPDATE matches SET over_odds = 1.89, under_odds = 2.0 WHERE id = 710918
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.955 WHERE id = 710918
UPDATE matches SET home_odds = 3.7, away_odds = 2.02, draw_odds = 3.8 WHERE id = 710923
UPDATE matches SET over_odds = 1.83, under_odds = 2.06 WHERE id = 710923
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.955 WHERE id = 710923
UPDATE matches SET home_odds = 8.28, away_odds = 1.39, draw_odds = 5.28 WHERE id = 710924
UPDATE matches SET over_odds = 1.57, under_odds = 2.51 WHERE id = 710924
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.955 WHERE id = 710924
UPDATE matches SET home_odds = 1.49, away_odds = 7.12, draw_odds = 4.56 WHERE id = 710925
UPDATE matches SET over_odds = 1.85, under_odds = 2.04 WHERE id = 710925
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710925
UPDATE matches SET home_odds = 2.13, away_odds = 3.55, draw_odds = 3.62 WHERE id = 710917
UPDATE matches SET over_odds = 2.04, under_odds = 1.85 WHERE id = 710917
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710917
UPDATE matches SET home_odds = 4.31, away_odds = 1.89, draw_odds = 3.72 WHERE id = 710920
UPDATE matches SET over_odds = 1.87, under_odds = 2.02 WHERE id = 710920
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.955 WHERE id = 710920
UPDATE matches SET home_odds = 8.15, away_odds = 1.38, draw_odds = 5.53 WHERE id = 710921
UPDATE matches SET over_odds = 1.47, under_odds = 2.84 WHERE id = 710921
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 710921
UPDATE matches SET home_odds = 1.98, away_odds = 4.25, draw_odds = 3.46 WHERE id = 710877
UPDATE matches SET over_odds = 2.12, under_odds = 1.78 WHERE id = 710877
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.955 WHERE id = 710877
UPDATE matches SET home_odds = 2.07, away_odds = 3.75, draw_odds = 3.59 WHERE id = 710726
UPDATE matches SET over_odds = 2.0, under_odds = 1.88 WHERE id = 710726
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 710726
UPDATE matches SET home_odds = 1.39, away_odds = 9.07, draw_odds = 4.97 WHERE id = 710819
UPDATE matches SET over_odds = 1.65, under_odds = 2.33 WHERE id = 710819
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 710819
UPDATE matches SET home_odds = 1.37, away_odds = 9.24, draw_odds = 5.13 WHERE id = 710926
UPDATE matches SET over_odds = 1.56, under_odds = 2.55 WHERE id = 710926
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.955 WHERE id = 710926
UPDATE matches SET home_odds = 2.38, away_odds = 2.85, draw_odds = 3.9 WHERE id = 710927
UPDATE matches SET over_odds = 1.6, under_odds = 2.45 WHERE id = 710927
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.955 WHERE id = 710927
UPDATE matches SET home_odds = 2.38, away_odds = 2.97, draw_odds = 3.69 WHERE id = 710928
UPDATE matches SET over_odds = 1.76, under_odds = 2.14 WHERE id = 710928
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 710928
UPDATE matches SET home_odds = 2.27, away_odds = 3.3, draw_odds = 3.51 WHERE id = 710929
UPDATE matches SET over_odds = 1.91, under_odds = 1.98 WHERE id = 710929
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.95 WHERE id = 710929
UPDATE matches SET home_odds = 1.16, away_odds = 18.77, draw_odds = 8.35 WHERE id = 710930
UPDATE matches SET over_odds = 1.43, under_odds = 2.91 WHERE id = 710930
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.95 WHERE id = 710930
UPDATE matches SET home_odds = 3.15, away_odds = 2.24, draw_odds = 3.79 WHERE id = 710931
UPDATE matches SET over_odds = 1.76, under_odds = 2.15 WHERE id = 710931
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.95 WHERE id = 710931
UPDATE matches SET home_odds = 1.88, away_odds = 3.91, draw_odds = 4.13 WHERE id = 710932
UPDATE matches SET over_odds = 1.63, under_odds = 2.39 WHERE id = 710932
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9549999999999998 WHERE id = 710932
UPDATE matches SET home_odds = 1.15, away_odds = 21.36, draw_odds = 8.49 WHERE id = 710933
UPDATE matches SET over_odds = 1.43, under_odds = 2.89 WHERE id = 710933
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.955 WHERE id = 710933
UPDATE matches SET home_odds = 1.15, away_odds = 20.27, draw_odds = 8.74 WHERE id = 710934
UPDATE matches SET over_odds = 1.43, under_odds = 2.93 WHERE id = 710934
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.95 WHERE id = 710934
UPDATE matches SET home_odds = 11.2, away_odds = 1.27, draw_odds = 6.23 WHERE id = 710935
UPDATE matches SET over_odds = 1.45, under_odds = 2.82 WHERE id = 710935
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9449999999999998 WHERE id = 710935
UPDATE matches SET home_odds = 4.5, away_odds = 1.89, draw_odds = 3.65 WHERE id = 867946
UPDATE matches SET over_odds = 2.14, under_odds = 1.78 WHERE id = 867946
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 867946
UPDATE matches SET home_odds = 11.2, away_odds = 1.28, draw_odds = 6.22 WHERE id = 867947
UPDATE matches SET over_odds = 1.5, under_odds = 2.7 WHERE id = 867947
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 867947
UPDATE matches SET home_odds = 3.93, away_odds = 2.04, draw_odds = 3.58 WHERE id = 867948
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 867948
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 867948
UPDATE matches SET home_odds = 2.39, away_odds = 3.3, draw_odds = 3.33 WHERE id = 867949
UPDATE matches SET over_odds = 2.09, under_odds = 1.83 WHERE id = 867949
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 867949
UPDATE matches SET home_odds = 1.71, away_odds = 5.83, draw_odds = 3.74 WHERE id = 867951
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 867951
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 867951
UPDATE matches SET home_odds = 1.37, away_odds = 9.11, draw_odds = 5.39 WHERE id = 867952
UPDATE matches SET over_odds = 1.65, under_odds = 2.37 WHERE id = 867952
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.965 WHERE id = 867952
UPDATE matches SET home_odds = 6.04, away_odds = 1.63, draw_odds = 4.06 WHERE id = 867953
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 867953
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.975 WHERE id = 867953
UPDATE matches SET home_odds = 2.07, away_odds = 3.74, draw_odds = 3.69 WHERE id = 867950
UPDATE matches SET over_odds = 1.79, under_odds = 2.12 WHERE id = 867950
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 867950
UPDATE matches SET home_odds = 1.65, away_odds = 5.68, draw_odds = 4.14 WHERE id = 867954
UPDATE matches SET over_odds = 1.9, under_odds = 2.0 WHERE id = 867954
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.975 WHERE id = 867954
UPDATE matches SET home_odds = 8.58, away_odds = 1.38, draw_odds = 5.48 WHERE id = 867955
UPDATE matches SET over_odds = 1.56, under_odds = 2.59 WHERE id = 867955
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 867955
UPDATE matches SET home_odds = 1.83, away_odds = 5.12, draw_odds = 3.55 WHERE id = 867957
UPDATE matches SET over_odds = 2.15, under_odds = 1.78 WHERE id = 867957
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 867957
UPDATE matches SET home_odds = 1.58, away_odds = 6.22, draw_odds = 4.34 WHERE id = 867956
UPDATE matches SET over_odds = 1.71, under_odds = 2.25 WHERE id = 867956
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 867956
UPDATE matches SET home_odds = 2.48, away_odds = 3.22, draw_odds = 3.24 WHERE id = 867959
UPDATE matches SET over_odds = 2.19, under_odds = 1.75 WHERE id = 867959
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 867959
UPDATE matches SET home_odds = 1.07, away_odds = 41.0, draw_odds = 13.82 WHERE id = 867962
UPDATE matches SET over_odds = 1.33, under_odds = 3.45 WHERE id = 867962
UPDATE matches SET handicap_size = 2.75, handicap_odds = 1.95 WHERE id = 867962
UPDATE matches SET home_odds = 2.34, away_odds = 3.18, draw_odds = 3.55 WHERE id = 867964
UPDATE matches SET over_odds = 1.75, under_odds = 2.19 WHERE id = 867964
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 867964
UPDATE matches SET home_odds = 2.44, away_odds = 3.29, draw_odds = 3.24 WHERE id = 867965
UPDATE matches SET over_odds = 2.18, under_odds = 1.75 WHERE id = 867965
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 867965
UPDATE matches SET home_odds = 3.82, away_odds = 2.06, draw_odds = 3.64 WHERE id = 867958
UPDATE matches SET over_odds = 1.83, under_odds = 2.08 WHERE id = 867958
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 867958
UPDATE matches SET home_odds = 4.28, away_odds = 1.92, draw_odds = 3.72 WHERE id = 867963
UPDATE matches SET over_odds = 1.9, under_odds = 2.01 WHERE id = 867963
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 867963
UPDATE matches SET home_odds = 2.28, away_odds = 3.35, draw_odds = 3.52 WHERE id = 867960
UPDATE matches SET over_odds = 1.98, under_odds = 1.92 WHERE id = 867960
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 867960
UPDATE matches SET home_odds = 1.2, away_odds = 18.57, draw_odds = 7.09 WHERE id = 867961
UPDATE matches SET over_odds = 1.57, under_odds = 2.52 WHERE id = 867961
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.955 WHERE id = 867961
UPDATE matches SET home_odds = 1.43, away_odds = 7.95, draw_odds = 4.94 WHERE id = 867974
UPDATE matches SET over_odds = 1.74, under_odds = 2.21 WHERE id = 867974
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 867974
UPDATE matches SET home_odds = 2.58, away_odds = 3.12, draw_odds = 3.19 WHERE id = 867967
UPDATE matches SET over_odds = 2.27, under_odds = 1.7 WHERE id = 867967
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.98 WHERE id = 867967
UPDATE matches SET home_odds = 2.0, away_odds = 4.27, draw_odds = 3.45 WHERE id = 867968
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 867968
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 867968
UPDATE matches SET home_odds = 2.52, away_odds = 2.93, draw_odds = 3.53 WHERE id = 867969
UPDATE matches SET over_odds = 1.93, under_odds = 1.97 WHERE id = 867969
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 867969
UPDATE matches SET home_odds = 1.86, away_odds = 4.12, draw_odds = 4.09 WHERE id = 867971
UPDATE matches SET over_odds = 1.64, under_odds = 2.39 WHERE id = 867971
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 867971
UPDATE matches SET home_odds = 7.55, away_odds = 1.46, draw_odds = 4.8 WHERE id = 867966
UPDATE matches SET over_odds = 1.81, under_odds = 2.1 WHERE id = 867966
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 867966
UPDATE matches SET home_odds = 6.23, away_odds = 1.54, draw_odds = 4.6 WHERE id = 867970
UPDATE matches SET over_odds = 1.68, under_odds = 2.31 WHERE id = 867970
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 867970
UPDATE matches SET home_odds = 2.34, away_odds = 3.22, draw_odds = 3.52 WHERE id = 867975
UPDATE matches SET over_odds = 1.98, under_odds = 1.93 WHERE id = 867975
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 867975
UPDATE matches SET home_odds = 9.43, away_odds = 1.37, draw_odds = 5.22 WHERE id = 867973
UPDATE matches SET over_odds = 1.68, under_odds = 2.3 WHERE id = 867973
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 867973
UPDATE matches SET home_odds = 5.39, away_odds = 1.64, draw_odds = 4.35 WHERE id = 867972
UPDATE matches SET over_odds = 1.52, under_odds = 2.65 WHERE id = 867972
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 867972
UPDATE matches SET home_odds = 4.31, away_odds = 1.85, draw_odds = 4.0 WHERE id = 867984
UPDATE matches SET over_odds = 1.66, under_odds = 2.34 WHERE id = 867984
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.955 WHERE id = 867984
UPDATE matches SET home_odds = 2.1, away_odds = 3.84, draw_odds = 3.49 WHERE id = 867978
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 867978
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9700000000000002 WHERE id = 867978
UPDATE matches SET home_odds = 1.93, away_odds = 4.24, draw_odds = 3.72 WHERE id = 867979
UPDATE matches SET over_odds = 1.9, under_odds = 2.01 WHERE id = 867979
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 867979
UPDATE matches SET home_odds = 1.45, away_odds = 7.66, draw_odds = 4.86 WHERE id = 867980
UPDATE matches SET over_odds = 1.71, under_odds = 2.25 WHERE id = 867980
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 867980
UPDATE matches SET home_odds = 1.13, away_odds = 23.11, draw_odds = 10.48 WHERE id = 867981
UPDATE matches SET over_odds = 1.36, under_odds = 3.31 WHERE id = 867981
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.9549999999999998 WHERE id = 867981
UPDATE matches SET home_odds = 1.2, away_odds = 16.26, draw_odds = 7.5 WHERE id = 867982
UPDATE matches SET over_odds = 1.5, under_odds = 2.69 WHERE id = 867982
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.95 WHERE id = 867982
UPDATE matches SET home_odds = 1.33, away_odds = 9.75, draw_odds = 5.83 WHERE id = 867976
UPDATE matches SET over_odds = 1.52, under_odds = 2.66 WHERE id = 867976
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 867976
UPDATE matches SET home_odds = 2.41, away_odds = 3.18, draw_odds = 3.41 WHERE id = 867977
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 867977
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 867977
UPDATE matches SET home_odds = 2.76, away_odds = 2.79, draw_odds = 3.32 WHERE id = 867985
UPDATE matches SET over_odds = 2.15, under_odds = 1.78 WHERE id = 867985
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 867985
UPDATE matches SET home_odds = 7.15, away_odds = 1.49, draw_odds = 4.63 WHERE id = 867983
UPDATE matches SET over_odds = 1.79, under_odds = 2.13 WHERE id = 867983
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.975 WHERE id = 867983
UPDATE matches SET home_odds = 2.11, away_odds = 3.83, draw_odds = 3.47 WHERE id = 867992
UPDATE matches SET over_odds = 2.12, under_odds = 1.79 WHERE id = 867992
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 867992
UPDATE matches SET home_odds = 3.26, away_odds = 2.36, draw_odds = 3.44 WHERE id = 867988
UPDATE matches SET over_odds = 2.04, under_odds = 1.87 WHERE id = 867988
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 867988
UPDATE matches SET home_odds = 5.28, away_odds = 1.67, draw_odds = 4.24 WHERE id = 867993
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 867993
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.97 WHERE id = 867993
UPDATE matches SET home_odds = 2.16, away_odds = 3.53, draw_odds = 3.61 WHERE id = 867989
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 867989
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 867989
UPDATE matches SET home_odds = 1.5, away_odds = 6.97, draw_odds = 4.67 WHERE id = 867987
UPDATE matches SET over_odds = 1.78, under_odds = 2.15 WHERE id = 867987
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.975 WHERE id = 867987
UPDATE matches SET home_odds = 3.52, away_odds = 2.24, draw_odds = 3.43 WHERE id = 867986
UPDATE matches SET over_odds = 2.15, under_odds = 1.78 WHERE id = 867986
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 867986
UPDATE matches SET home_odds = 1.08, away_odds = 31.06, draw_odds = 13.43 WHERE id = 867995
UPDATE matches SET over_odds = 1.33, under_odds = 3.16 WHERE id = 867995
UPDATE matches SET handicap_size = 3.0, handicap_odds = 1.945 WHERE id = 867995
UPDATE matches SET home_odds = 3.67, away_odds = 2.04, draw_odds = 3.84 WHERE id = 867991
UPDATE matches SET over_odds = 1.77, under_odds = 2.15 WHERE id = 867991
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 867991
UPDATE matches SET home_odds = 1.33, away_odds = 9.75, draw_odds = 5.89 WHERE id = 867994
UPDATE matches SET over_odds = 1.51, under_odds = 2.69 WHERE id = 867994
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 867994
UPDATE matches SET home_odds = 3.45, away_odds = 2.11, draw_odds = 3.86 WHERE id = 867990
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 867990
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 867990
UPDATE matches SET home_odds = 8.08, away_odds = 1.41, draw_odds = 5.21 WHERE id = 868000
UPDATE matches SET over_odds = 1.6, under_odds = 2.47 WHERE id = 868000
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.965 WHERE id = 868000
UPDATE matches SET home_odds = 2.21, away_odds = 3.44, draw_odds = 3.59 WHERE id = 867997
UPDATE matches SET over_odds = 1.76, under_odds = 2.17 WHERE id = 867997
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 867997
UPDATE matches SET home_odds = 1.58, away_odds = 6.17, draw_odds = 4.37 WHERE id = 867999
UPDATE matches SET over_odds = 1.81, under_odds = 2.1 WHERE id = 867999
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 867999

UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868055
UPDATE matches SET home_odds = 1.48, away_odds = 7.26, draw_odds = 4.67 WHERE id = 868054
UPDATE matches SET over_odds = 1.78, under_odds = 2.15 WHERE id = 868054
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.975 WHERE id = 868054
UPDATE matches SET home_odds = 4.78, away_odds = 1.85, draw_odds = 3.65 WHERE id = 868046
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 868046
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868046
UPDATE matches SET home_odds = 6.23, away_odds = 1.56, draw_odds = 4.49 WHERE id = 868049
UPDATE matches SET over_odds = 1.65, under_odds = 2.37 WHERE id = 868049
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 868049
UPDATE matches SET home_odds = 2.04, away_odds = 3.8, draw_odds = 3.71 WHERE id = 868052
UPDATE matches SET over_odds = 1.76, under_odds = 2.17 WHERE id = 868052
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868052
UPDATE matches SET home_odds = 3.08, away_odds = 2.47, draw_odds = 3.42 WHERE id = 868053
UPDATE matches SET over_odds = 2.04, under_odds = 1.87 WHERE id = 868053
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 868053
UPDATE matches SET home_odds = 4.0, away_odds = 1.88, draw_odds = 4.11 WHERE id = 868051
UPDATE matches SET over_odds = 1.49, under_odds = 2.76 WHERE id = 868051
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868051
UPDATE matches SET home_odds = 1.39, away_odds = 8.97, draw_odds = 5.17 WHERE id = 868059
UPDATE matches SET over_odds = 1.76, under_odds = 2.17 WHERE id = 868059
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 868059
UPDATE matches SET home_odds = 2.32, away_odds = 3.58, draw_odds = 3.21 WHERE id = 868062
UPDATE matches SET over_odds = 2.5, under_odds = 1.59 WHERE id = 868062
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868062
UPDATE matches SET home_odds = 2.76, away_odds = 2.74, draw_odds = 3.4 WHERE id = 868056
UPDATE matches SET over_odds = 2.09, under_odds = 1.81 WHERE id = 868056
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 868056
UPDATE matches SET home_odds = 4.85, away_odds = 1.78, draw_odds = 3.93 WHERE id = 868058
UPDATE matches SET over_odds = 1.88, under_odds = 2.02 WHERE id = 868058
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868058
UPDATE matches SET home_odds = 1.45, away_odds = 7.08, draw_odds = 5.1 WHERE id = 868064
UPDATE matches SET over_odds = 1.54, under_odds = 2.62 WHERE id = 868064
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 868064
UPDATE matches SET home_odds = 1.65, away_odds = 5.81, draw_odds = 4.06 WHERE id = 868063
UPDATE matches SET over_odds = 1.93, under_odds = 1.97 WHERE id = 868063
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9700000000000002 WHERE id = 868063
UPDATE matches SET home_odds = 2.49, away_odds = 2.93, draw_odds = 3.59 WHERE id = 868065
UPDATE matches SET over_odds = 1.78, under_odds = 2.15 WHERE id = 868065
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.965 WHERE id = 868065
UPDATE matches SET home_odds = 2.94, away_odds = 2.54, draw_odds = 3.47 WHERE id = 868060
UPDATE matches SET over_odds = 2.0, under_odds = 1.91 WHERE id = 868060
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 868060
UPDATE matches SET home_odds = 2.36, away_odds = 3.08, draw_odds = 3.65 WHERE id = 868061
UPDATE matches SET over_odds = 1.75, under_odds = 2.19 WHERE id = 868061
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868061
UPDATE matches SET home_odds = 11.14, away_odds = 1.3, draw_odds = 5.8 WHERE id = 868071
UPDATE matches SET over_odds = 1.54, under_odds = 2.59 WHERE id = 868071
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 868071
UPDATE matches SET home_odds = 2.69, away_odds = 2.97, draw_odds = 3.19 WHERE id = 868068
UPDATE matches SET over_odds = 2.36, under_odds = 1.65 WHERE id = 868068
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 868068
UPDATE matches SET home_odds = 1.21, away_odds = 15.39, draw_odds = 7.21 WHERE id = 868070
UPDATE matches SET over_odds = 1.47, under_odds = 2.81 WHERE id = 868070
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.9549999999999998 WHERE id = 868070
UPDATE matches SET home_odds = 2.15, away_odds = 3.64, draw_odds = 3.54 WHERE id = 868067
UPDATE matches SET over_odds = 1.92, under_odds = 1.99 WHERE id = 868067
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 868067
UPDATE matches SET home_odds = 2.23, away_odds = 3.51, draw_odds = 3.46 WHERE id = 868066
UPDATE matches SET over_odds = 2.02, under_odds = 1.88 WHERE id = 868066
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868066
UPDATE matches SET home_odds = 2.06, away_odds = 3.75, draw_odds = 3.69 WHERE id = 868069
UPDATE matches SET over_odds = 1.72, under_odds = 2.23 WHERE id = 868069
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 868069
UPDATE matches SET home_odds = 6.2, away_odds = 1.58, draw_odds = 4.31 WHERE id = 868072
UPDATE matches SET over_odds = 1.75, under_odds = 2.2 WHERE id = 868072
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 868072
UPDATE matches SET home_odds = 2.3, away_odds = 3.46, draw_odds = 3.35 WHERE id = 868075
UPDATE matches SET over_odds = 2.09, under_odds = 1.83 WHERE id = 868075
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868075
UPDATE matches SET home_odds = 2.12, away_odds = 3.63, draw_odds = 3.62 WHERE id = 868073
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 868073
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868073
UPDATE matches SET home_odds = 1.59, away_odds = 6.53, draw_odds = 4.12 WHERE id = 868074
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 868074
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 868074
UPDATE matches SET home_odds = 9.62, away_odds = 1.32, draw_odds = 5.93 WHERE id = 868082
UPDATE matches SET over_odds = 1.5, under_odds = 2.71 WHERE id = 868082
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 868082
UPDATE matches SET home_odds = 5.41, away_odds = 1.72, draw_odds = 3.85 WHERE id = 868076
UPDATE matches SET over_odds = 2.01, under_odds = 1.9 WHERE id = 868076
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868076
UPDATE matches SET home_odds = 2.24, away_odds = 3.44, draw_odds = 3.5 WHERE id = 868078
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 868078
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868078
UPDATE matches SET home_odds = 3.17, away_odds = 2.41, draw_odds = 3.43 WHERE id = 868079
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 868079
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868079
UPDATE matches SET home_odds = 1.96, away_odds = 4.22, draw_odds = 3.62 WHERE id = 868080
UPDATE matches SET over_odds = 2.09, under_odds = 1.81 WHERE id = 868080
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868080
UPDATE matches SET home_odds = 1.83, away_odds = 4.6, draw_odds = 3.82 WHERE id = 868085
UPDATE matches SET over_odds = 1.92, under_odds = 1.99 WHERE id = 868085
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9700000000000002 WHERE id = 868085
UPDATE matches SET home_odds = 2.39, away_odds = 3.18, draw_odds = 3.46 WHERE id = 868081
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 868081
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868081
UPDATE matches SET home_odds = 1.32, away_odds = 9.43, draw_odds = 5.98 WHERE id = 868083
UPDATE matches SET over_odds = 1.38, under_odds = 3.2 WHERE id = 868083
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9549999999999998 WHERE id = 868083
UPDATE matches SET home_odds = 1.2, away_odds = 16.85, draw_odds = 7.4 WHERE id = 868077
UPDATE matches SET over_odds = 1.51, under_odds = 2.68 WHERE id = 868077
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.955 WHERE id = 868077
UPDATE matches SET home_odds = 1.71, away_odds = 5.14, draw_odds = 4.05 WHERE id = 868084
UPDATE matches SET over_odds = 1.89, under_odds = 2.02 WHERE id = 868084
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868084
UPDATE matches SET home_odds = 1.74, away_odds = 5.08, draw_odds = 3.99 WHERE id = 868089
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 868089
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868089
UPDATE matches SET home_odds = 1.13, away_odds = 22.62, draw_odds = 10.33 WHERE id = 868090
UPDATE matches SET over_odds = 1.31, under_odds = 3.26 WHERE id = 868090
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.95 WHERE id = 868090
UPDATE matches SET home_odds = 2.83, away_odds = 2.66, draw_odds = 3.43 WHERE id = 868091
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 868091
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9649999999999999 WHERE id = 868091
UPDATE matches SET home_odds = 3.49, away_odds = 2.3, draw_odds = 3.33 WHERE id = 868095
UPDATE matches SET over_odds = 2.17, under_odds = 1.76 WHERE id = 868095
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868095
UPDATE matches SET home_odds = 2.48, away_odds = 3.12, draw_odds = 3.36 WHERE id = 868088
UPDATE matches SET over_odds = 2.1, under_odds = 1.81 WHERE id = 868088
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.975 WHERE id = 868088
UPDATE matches SET home_odds = 2.72, away_odds = 2.71, draw_odds = 3.5 WHERE id = 868087
UPDATE matches SET over_odds = 1.93, under_odds = 1.98 WHERE id = 868087
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 868087
UPDATE matches SET home_odds = 3.38, away_odds = 2.22, draw_odds = 3.63 WHERE id = 868086
UPDATE matches SET over_odds = 1.94, under_odds = 1.96 WHERE id = 868086
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868086
UPDATE matches SET home_odds = 4.22, away_odds = 1.93, draw_odds = 3.71 WHERE id = 868092
UPDATE matches SET over_odds = 1.97, under_odds = 1.93 WHERE id = 868092
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868092
UPDATE matches SET home_odds = 1.95, away_odds = 4.34, draw_odds = 3.56 WHERE id = 868094
UPDATE matches SET over_odds = 2.15, under_odds = 1.78 WHERE id = 868094
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868094
UPDATE matches SET home_odds = 3.33, away_odds = 2.19, draw_odds = 3.76 WHERE id = 868093
UPDATE matches SET over_odds = 1.73, under_odds = 2.22 WHERE id = 868093
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868093
UPDATE matches SET home_odds = 1.15, away_odds = 20.24, draw_odds = 9.28 WHERE id = 868100
UPDATE matches SET over_odds = 1.34, under_odds = 3.4 WHERE id = 868100
UPDATE matches SET handicap_size = 2.25, handicap_odds = 1.95 WHERE id = 868100
UPDATE matches SET home_odds = 2.94, away_odds = 2.63, draw_odds = 3.32 WHERE id = 868096
UPDATE matches SET over_odds = 2.19, under_odds = 1.75 WHERE id = 868096
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 868096
UPDATE matches SET home_odds = 1.26, away_odds = 11.55, draw_odds = 6.49 WHERE id = 868099
UPDATE matches SET over_odds = 1.43, under_odds = 2.95 WHERE id = 868099
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.95 WHERE id = 868099
UPDATE matches SET home_odds = 3.25, away_odds = 2.43, draw_odds = 3.31 WHERE id = 868102
UPDATE matches SET over_odds = 2.24, under_odds = 1.71 WHERE id = 868102
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868102
UPDATE matches SET home_odds = 1.67, away_odds = 5.15, draw_odds = 4.35 WHERE id = 868103
UPDATE matches SET over_odds = 1.63, under_odds = 2.4 WHERE id = 868103
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 868103
UPDATE matches SET home_odds = 2.14, away_odds = 3.64, draw_odds = 3.56 WHERE id = 868104
UPDATE matches SET over_odds = 1.96, under_odds = 1.94 WHERE id = 868104
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 868104
UPDATE matches SET home_odds = 2.36, away_odds = 3.18, draw_odds = 3.53 WHERE id = 868101
UPDATE matches SET over_odds = 1.97, under_odds = 1.93 WHERE id = 868101
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868101
UPDATE matches SET home_odds = 6.5, away_odds = 1.56, draw_odds = 4.3 WHERE id = 868105
UPDATE matches SET over_odds = 1.83, under_odds = 2.08 WHERE id = 868105
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.955 WHERE id = 868105
UPDATE matches SET home_odds = 1.88, away_odds = 4.33, draw_odds = 3.84 WHERE id = 868097
UPDATE matches SET over_odds = 1.94, under_odds = 1.96 WHERE id = 868097
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868097
UPDATE matches SET home_odds = 4.0, away_odds = 1.91, draw_odds = 4.02 WHERE id = 868098
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 868098
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868098
UPDATE matches SET home_odds = 4.0, away_odds = 1.93, draw_odds = 3.89 WHERE id = 868108
UPDATE matches SET over_odds = 1.81, under_odds = 2.11 WHERE id = 868108
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868108
UPDATE matches SET home_odds = 2.09, away_odds = 3.68, draw_odds = 3.66 WHERE id = 868110
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 868110
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 868110
UPDATE matches SET home_odds = 2.41, away_odds = 3.34, draw_odds = 3.26 WHERE id = 868111
UPDATE matches SET over_odds = 2.25, under_odds = 1.71 WHERE id = 868111
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868111
UPDATE matches SET home_odds = 3.36, away_odds = 2.22, draw_odds = 3.64 WHERE id = 868113
UPDATE matches SET over_odds = 1.85, under_odds = 2.07 WHERE id = 868113
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868113
UPDATE matches SET home_odds = 3.5, away_odds = 2.18, draw_odds = 3.6 WHERE id = 868115
UPDATE matches SET over_odds = 1.93, under_odds = 1.97 WHERE id = 868115
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868115
UPDATE matches SET home_odds = 4.51, away_odds = 1.79, draw_odds = 4.09 WHERE id = 868107
UPDATE matches SET over_odds = 1.68, under_odds = 2.31 WHERE id = 868107
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868107
UPDATE matches SET home_odds = 1.52, away_odds = 6.85, draw_odds = 4.48 WHERE id = 868106
UPDATE matches SET over_odds = 1.79, under_odds = 2.12 WHERE id = 868106
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 868106
UPDATE matches SET home_odds = 1.32, away_odds = 10.69, draw_odds = 5.72 WHERE id = 868109
UPDATE matches SET over_odds = 1.7, under_odds = 2.27 WHERE id = 868109
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 868109
UPDATE matches SET home_odds = 1.31, away_odds = 11.66, draw_odds = 5.7 WHERE id = 868114
UPDATE matches SET over_odds = 1.64, under_odds = 2.38 WHERE id = 868114
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.96 WHERE id = 868114
UPDATE matches SET home_odds = 9.78, away_odds = 1.31, draw_odds = 6.09 WHERE id = 868112
UPDATE matches SET over_odds = 1.44, under_odds = 2.9 WHERE id = 868112
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9549999999999998 WHERE id = 868112
UPDATE matches SET home_odds = 2.08, away_odds = 3.73, draw_odds = 3.66 WHERE id = 868124
UPDATE matches SET over_odds = 1.96, under_odds = 1.94 WHERE id = 868124
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 868124
UPDATE matches SET home_odds = 1.31, away_odds = 9.55, draw_odds = 6.08 WHERE id = 868119
UPDATE matches SET over_odds = 1.44, under_odds = 2.91 WHERE id = 868119
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.9549999999999998 WHERE id = 868119
UPDATE matches SET home_odds = 4.16, away_odds = 1.94, draw_odds = 3.71 WHERE id = 868125
UPDATE matches SET over_odds = 1.98, under_odds = 1.93 WHERE id = 868125
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868125
UPDATE matches SET home_odds = 2.97, away_odds = 2.6, draw_odds = 3.32 WHERE id = 868116
UPDATE matches SET over_odds = 2.19, under_odds = 1.75 WHERE id = 868116
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9700000000000002 WHERE id = 868116
UPDATE matches SET home_odds = 2.04, away_odds = 3.95, draw_odds = 3.59 WHERE id = 868118
UPDATE matches SET over_odds = 1.76, under_odds = 2.17 WHERE id = 868118
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868118
UPDATE matches SET home_odds = 1.16, away_odds = 23.85, draw_odds = 7.97 WHERE id = 868120
UPDATE matches SET over_odds = 1.4, under_odds = 3.09 WHERE id = 868120
UPDATE matches SET handicap_size = 2.5, handicap_odds = 1.96 WHERE id = 868120
UPDATE matches SET home_odds = 1.49, away_odds = 6.8, draw_odds = 4.8 WHERE id = 868121
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 868121
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.9649999999999999 WHERE id = 868121
UPDATE matches SET home_odds = 3.6, away_odds = 2.13, draw_odds = 3.62 WHERE id = 868117
UPDATE matches SET over_odds = 1.89, under_odds = 2.02 WHERE id = 868117
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 868117
UPDATE matches SET home_odds = 1.7, away_odds = 5.01, draw_odds = 4.21 WHERE id = 868123
UPDATE matches SET over_odds = 1.8, under_odds = 2.11 WHERE id = 868123
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868123
UPDATE matches SET home_odds = 5.43, away_odds = 1.7, draw_odds = 3.98 WHERE id = 868122
UPDATE matches SET over_odds = 2.02, under_odds = 1.89 WHERE id = 868122
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868122
UPDATE matches SET home_odds = 5.76, away_odds = 1.58, draw_odds = 4.56 WHERE id = 868128
UPDATE matches SET over_odds = 1.62, under_odds = 2.43 WHERE id = 868128
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.96 WHERE id = 868128
UPDATE matches SET home_odds = 1.83, away_odds = 4.45, draw_odds = 3.95 WHERE id = 868126
UPDATE matches SET over_odds = 1.83, under_odds = 2.08 WHERE id = 868126
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868126
UPDATE matches SET home_odds = 3.67, away_odds = 2.15, draw_odds = 3.51 WHERE id = 868131
UPDATE matches SET over_odds = 2.02, under_odds = 1.88 WHERE id = 868131
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 868131
UPDATE matches SET home_odds = 2.26, away_odds = 3.2, draw_odds = 3.73 WHERE id = 868133
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 868133
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868133

UPDATE matches SET home_odds = 1.29, away_odds = 10.83, draw_odds = 6.02 WHERE id = 868134
UPDATE matches SET over_odds = 1.56, under_odds = 2.55 WHERE id = 868134
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 868134
UPDATE matches SET home_odds = 2.1, away_odds = 3.82, draw_odds = 3.52 WHERE id = 868135
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 868135
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9700000000000002 WHERE id = 868135
UPDATE matches SET home_odds = 2.65, away_odds = 2.73, draw_odds = 3.59 WHERE id = 868132
UPDATE matches SET over_odds = 1.82, under_odds = 2.09 WHERE id = 868132
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 868132
UPDATE matches SET home_odds = 1.99, away_odds = 3.93, draw_odds = 3.76 WHERE id = 868127
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 868127
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868127
UPDATE matches SET home_odds = 3.39, away_odds = 2.23, draw_odds = 3.58 WHERE id = 868130
UPDATE matches SET over_odds = 1.95, under_odds = 1.95 WHERE id = 868130
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868130
UPDATE matches SET home_odds = 5.6, away_odds = 1.65, draw_odds = 4.19 WHERE id = 868129
UPDATE matches SET over_odds = 1.81, under_odds = 2.09 WHERE id = 868129
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868129
UPDATE matches SET home_odds = 1.96, away_odds = 4.11, draw_odds = 3.7 WHERE id = 868136
UPDATE matches SET over_odds = 1.8, under_odds = 2.11 WHERE id = 868136
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868136
UPDATE matches SET home_odds = 4.26, away_odds = 1.86, draw_odds = 3.98 WHERE id = 868141
UPDATE matches SET over_odds = 1.73, under_odds = 2.22 WHERE id = 868141
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868141
UPDATE matches SET home_odds = 3.39, away_odds = 2.17, draw_odds = 3.74 WHERE id = 868138
UPDATE matches SET over_odds = 1.6, under_odds = 2.48 WHERE id = 868138
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868138
UPDATE matches SET home_odds = 2.28, away_odds = 3.36, draw_odds = 3.48 WHERE id = 868140
UPDATE matches SET over_odds = 2.13, under_odds = 1.79 WHERE id = 868140
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868140
UPDATE matches SET home_odds = 2.74, away_odds = 2.72, draw_odds = 3.46 WHERE id = 868143
UPDATE matches SET over_odds = 2.04, under_odds = 1.88 WHERE id = 868143
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 868143
UPDATE matches SET home_odds = 2.75, away_odds = 2.82, draw_odds = 3.29 WHERE id = 868145
UPDATE matches SET over_odds = 2.28, under_odds = 1.69 WHERE id = 868145
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 868145
UPDATE matches SET home_odds = 1.69, away_odds = 5.23, draw_odds = 4.14 WHERE id = 868137
UPDATE matches SET over_odds = 1.88, under_odds = 2.02 WHERE id = 868137
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868137
UPDATE matches SET home_odds = 1.68, away_odds = 5.64, draw_odds = 3.96 WHERE id = 868139
UPDATE matches SET over_odds = 2.05, under_odds = 1.86 WHERE id = 868139
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868139
UPDATE matches SET home_odds = 1.53, away_odds = 6.52, draw_odds = 4.55 WHERE id = 868142
UPDATE matches SET over_odds = 1.75, under_odds = 2.19 WHERE id = 868142
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 868142
UPDATE matches SET home_odds = 3.34, away_odds = 2.21, draw_odds = 3.71 WHERE id = 868144
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 868144
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868144
UPDATE matches SET home_odds = 1.89, away_odds = 4.2, draw_odds = 3.88 WHERE id = 868152
UPDATE matches SET over_odds = 1.73, under_odds = 2.22 WHERE id = 868152
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868152
UPDATE matches SET home_odds = 2.86, away_odds = 2.82, draw_odds = 3.15 WHERE id = 868146
UPDATE matches SET over_odds = 2.41, under_odds = 1.63 WHERE id = 868146
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 868146
UPDATE matches SET home_odds = 3.61, away_odds = 2.1, draw_odds = 3.71 WHERE id = 868151
UPDATE matches SET over_odds = 1.85, under_odds = 2.06 WHERE id = 868151
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9700000000000002 WHERE id = 868151
UPDATE matches SET home_odds = 2.96, away_odds = 2.57, draw_odds = 3.4 WHERE id = 868154
UPDATE matches SET over_odds = 2.12, under_odds = 1.79 WHERE id = 868154
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.97 WHERE id = 868154
UPDATE matches SET home_odds = 1.82, away_odds = 5.0, draw_odds = 3.65 WHERE id = 868155
UPDATE matches SET over_odds = 2.18, under_odds = 1.76 WHERE id = 868155
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.97 WHERE id = 868155
UPDATE matches SET home_odds = 4.52, away_odds = 1.92, draw_odds = 3.57 WHERE id = 868148
UPDATE matches SET over_odds = 2.17, under_odds = 1.76 WHERE id = 868148
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868148
UPDATE matches SET home_odds = 2.39, away_odds = 2.99, draw_odds = 3.72 WHERE id = 868150
UPDATE matches SET over_odds = 1.68, under_odds = 2.3 WHERE id = 868150
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868150
UPDATE matches SET home_odds = 1.2, away_odds = 14.95, draw_odds = 7.65 WHERE id = 868153
UPDATE matches SET over_odds = 1.51, under_odds = 2.67 WHERE id = 868153
UPDATE matches SET handicap_size = 2.0, handicap_odds = 1.95 WHERE id = 868153
UPDATE matches SET home_odds = 1.88, away_odds = 4.19, draw_odds = 3.92 WHERE id = 868147
UPDATE matches SET over_odds = 1.71, under_odds = 2.25 WHERE id = 868147
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868147
UPDATE matches SET home_odds = 3.33, away_odds = 2.15, draw_odds = 3.88 WHERE id = 868149
UPDATE matches SET over_odds = 1.7, under_odds = 2.26 WHERE id = 868149
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9649999999999999 WHERE id = 868149
UPDATE matches SET home_odds = 1.65, away_odds = 5.79, draw_odds = 4.11 WHERE id = 868159
UPDATE matches SET over_odds = 1.89, under_odds = 2.01 WHERE id = 868159
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.975 WHERE id = 868159
UPDATE matches SET home_odds = 8.93, away_odds = 1.41, draw_odds = 4.84 WHERE id = 868160
UPDATE matches SET over_odds = 1.87, under_odds = 2.05 WHERE id = 868160
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 868160
UPDATE matches SET home_odds = 2.02, away_odds = 3.95, draw_odds = 3.63 WHERE id = 868156
UPDATE matches SET over_odds = 1.96, under_odds = 1.94 WHERE id = 868156
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868156
UPDATE matches SET home_odds = 1.92, away_odds = 4.36, draw_odds = 3.68 WHERE id = 868157
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 868157
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868157
UPDATE matches SET home_odds = 1.35, away_odds = 9.88, draw_odds = 5.42 WHERE id = 868158
UPDATE matches SET over_odds = 1.7, under_odds = 2.27 WHERE id = 868158
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 868158
UPDATE matches SET home_odds = 1.41, away_odds = 8.97, draw_odds = 4.91 WHERE id = 868161
UPDATE matches SET over_odds = 1.88, under_odds = 2.03 WHERE id = 868161
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 868161
UPDATE matches SET home_odds = 4.14, away_odds = 1.89, draw_odds = 3.93 WHERE id = 868165
UPDATE matches SET over_odds = 1.78, under_odds = 2.14 WHERE id = 868165
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868165
UPDATE matches SET home_odds = 1.63, away_odds = 6.3, draw_odds = 3.97 WHERE id = 868162
UPDATE matches SET over_odds = 2.08, under_odds = 1.82 WHERE id = 868162
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868162
UPDATE matches SET home_odds = 2.69, away_odds = 2.76, draw_odds = 3.46 WHERE id = 868163
UPDATE matches SET over_odds = 1.93, under_odds = 1.97 WHERE id = 868163
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.96 WHERE id = 868163
UPDATE matches SET home_odds = 4.44, away_odds = 1.78, draw_odds = 4.23 WHERE id = 868164
UPDATE matches SET over_odds = 1.71, under_odds = 2.25 WHERE id = 868164
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868164
UPDATE matches SET home_odds = 3.43, away_odds = 2.3, draw_odds = 3.37 WHERE id = 868175
UPDATE matches SET over_odds = 2.28, under_odds = 1.69 WHERE id = 868175
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.96 WHERE id = 868175
UPDATE matches SET home_odds = 1.47, away_odds = 7.32, draw_odds = 4.77 WHERE id = 868167
UPDATE matches SET over_odds = 1.76, under_odds = 2.18 WHERE id = 868167
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 868167
UPDATE matches SET home_odds = 3.9, away_odds = 2.06, draw_odds = 3.56 WHERE id = 868168
UPDATE matches SET over_odds = 2.09, under_odds = 1.83 WHERE id = 868168
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 868168
UPDATE matches SET home_odds = 1.94, away_odds = 4.37, draw_odds = 3.57 WHERE id = 868169
UPDATE matches SET over_odds = 2.12, under_odds = 1.79 WHERE id = 868169
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868169
UPDATE matches SET home_odds = 3.46, away_odds = 2.16, draw_odds = 3.7 WHERE id = 868171
UPDATE matches SET over_odds = 1.76, under_odds = 2.17 WHERE id = 868171
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.97 WHERE id = 868171
UPDATE matches SET home_odds = 3.16, away_odds = 2.55, draw_odds = 3.18 WHERE id = 868174
UPDATE matches SET over_odds = 2.35, under_odds = 1.66 WHERE id = 868174
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 868174
UPDATE matches SET home_odds = 6.53, away_odds = 1.6, draw_odds = 4.08 WHERE id = 868166
UPDATE matches SET over_odds = 2.07, under_odds = 1.85 WHERE id = 868166
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 868166
UPDATE matches SET home_odds = 3.98, away_odds = 1.94, draw_odds = 3.87 WHERE id = 868170
UPDATE matches SET over_odds = 1.67, under_odds = 2.33 WHERE id = 868170
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.96 WHERE id = 868170
UPDATE matches SET home_odds = 1.26, away_odds = 11.78, draw_odds = 6.66 WHERE id = 868173
UPDATE matches SET over_odds = 1.51, under_odds = 2.67 WHERE id = 868173
UPDATE matches SET handicap_size = 1.75, handicap_odds = 1.955 WHERE id = 868173
UPDATE matches SET home_odds = 1.55, away_odds = 6.39, draw_odds = 4.48 WHERE id = 868172
UPDATE matches SET over_odds = 1.79, under_odds = 2.13 WHERE id = 868172
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.9649999999999999 WHERE id = 868172
UPDATE matches SET home_odds = 4.54, away_odds = 1.85, draw_odds = 3.8 WHERE id = 868176
UPDATE matches SET over_odds = 2.01, under_odds = 1.89 WHERE id = 868176
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.97 WHERE id = 868176
UPDATE matches SET home_odds = 1.85, away_odds = 4.84, draw_odds = 3.62 WHERE id = 868177
UPDATE matches SET over_odds = 2.16, under_odds = 1.76 WHERE id = 868177
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 868177
UPDATE matches SET home_odds = 1.66, away_odds = 5.46, draw_odds = 4.16 WHERE id = 868178
UPDATE matches SET over_odds = 1.75, under_odds = 2.19 WHERE id = 868178
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9700000000000002 WHERE id = 868178
UPDATE matches SET home_odds = 1.4, away_odds = 9.69, draw_odds = 4.78 WHERE id = 868179
UPDATE matches SET over_odds = 1.98, under_odds = 1.93 WHERE id = 868179
UPDATE matches SET handicap_size = 1.25, handicap_odds = 1.96 WHERE id = 868179
UPDATE matches SET home_odds = 2.53, away_odds = 3.03, draw_odds = 3.36 WHERE id = 868180
UPDATE matches SET over_odds = 2.11, under_odds = 1.8 WHERE id = 868180
UPDATE matches SET handicap_size = 0.25, handicap_odds = 1.9700000000000002 WHERE id = 868180
UPDATE matches SET home_odds = 10.3, away_odds = 1.33, draw_odds = 5.67 WHERE id = 868183
UPDATE matches SET over_odds = 1.7, under_odds = 2.27 WHERE id = 868183
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9649999999999999 WHERE id = 868183
UPDATE matches SET home_odds = 1.69, away_odds = 5.78, draw_odds = 3.86 WHERE id = 868185
UPDATE matches SET over_odds = 2.14, under_odds = 1.78 WHERE id = 868185
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868185
UPDATE matches SET home_odds = 2.57, away_odds = 2.82, draw_odds = 3.58 WHERE id = 868182
UPDATE matches SET over_odds = 1.81, under_odds = 2.09 WHERE id = 868182
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.965 WHERE id = 868182
UPDATE matches SET home_odds = 1.65, away_odds = 5.37, draw_odds = 4.34 WHERE id = 868181
UPDATE matches SET over_odds = 1.65, under_odds = 2.37 WHERE id = 868181
UPDATE matches SET handicap_size = 1.0, handicap_odds = 1.965 WHERE id = 868181
UPDATE matches SET home_odds = 1.87, away_odds = 4.47, draw_odds = 3.76 WHERE id = 868184
UPDATE matches SET over_odds = 1.92, under_odds = 1.99 WHERE id = 868184
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.965 WHERE id = 868184
UPDATE matches SET home_odds = 2.59, away_odds = 3.04, draw_odds = 3.26 WHERE id = 868189
UPDATE matches SET over_odds = 2.29, under_odds = 1.69 WHERE id = 868189
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 868189
UPDATE matches SET home_odds = 2.59, away_odds = 3.05, draw_odds = 3.25 WHERE id = 868188
UPDATE matches SET over_odds = 2.35, under_odds = 1.66 WHERE id = 868188
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.975 WHERE id = 868188
UPDATE matches SET home_odds = 2.02, away_odds = 3.97, draw_odds = 3.62 WHERE id = 868190
UPDATE matches SET over_odds = 2.06, under_odds = 1.85 WHERE id = 868190
UPDATE matches SET handicap_size = 0.5, handicap_odds = 1.9649999999999999 WHERE id = 868190
UPDATE matches SET home_odds = 4.93, away_odds = 1.72, draw_odds = 4.15 WHERE id = 868191
UPDATE matches SET over_odds = 1.7, under_odds = 2.27 WHERE id = 868191
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868191
UPDATE matches SET home_odds = 1.81, away_odds = 5.16, draw_odds = 3.63 WHERE id = 868195
UPDATE matches SET over_odds = 2.23, under_odds = 1.72 WHERE id = 868195
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.9649999999999999 WHERE id = 868195
UPDATE matches SET home_odds = 9.67, away_odds = 1.3, draw_odds = 5.74 WHERE id = 868186
UPDATE matches SET over_odds = 1.59, under_odds = 2.47 WHERE id = 868186
UPDATE matches SET handicap_size = 1.5, handicap_odds = 1.9500000000000002 WHERE id = 868186
UPDATE matches SET home_odds = 4.86, away_odds = 1.76, draw_odds = 3.99 WHERE id = 868187
UPDATE matches SET over_odds = 1.83, under_odds = 2.07 WHERE id = 868187
UPDATE matches SET handicap_size = 0.75, handicap_odds = 1.96 WHERE id = 868187
UPDATE matches SET home_odds = 2.59, away_odds = 2.96, draw_odds = 3.36 WHERE id = 868194
UPDATE matches SET over_odds = 2.08, under_odds = 1.84 WHERE id = 868194
UPDATE matches SET handicap_size = 0.0, handicap_odds = 1.9700000000000002 WHERE id = 868194

In [149]:
execute_multiple_queries(update_queries)